

<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Home | Red Hat Forum 2014</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1" />

    <link href='/templates/forum/events-list/css/main.css' media='screen' rel='stylesheet' />

  </head>
  <body class="events-list" style="margin: 0">
    {{#events}}
    <a class="event clearfix" href="{{{ link }}}" target="_blank">
      <div class="date">
        <img src='/templates/forum/events-list/images/letters/space.svg' />
        <div class="text-content">
          <svg class="month" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 18">
            <text fill="white" x="50%" y="12.5" font-size="9" text-anchor="middle">
              {{ day }}
            </text>
          </svg>
          <svg class="month" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 18">
            <text fill="white" x="50%" y="12.5" font-size="9" text-anchor="middle">
              {{ month }}
            </text>
          </svg>
        </div>
      </div>
      <div class="location clearfix">
        <div class="text-content">{{ location }}</div>
      </div>
    </a>
    {{/events}}

    <div id="baseUrl" data-base-url=""></div>

    <script src='/global-assets/javascripts/vendor/jquery.js'></script>
    <script src='/templates/forum/events-list/js/main.js'></script>
  </body>
</html>
