$page-margin: 1.75em;

// Font size

$font-size-tiny: 9pt;
$font-size-smaller: 11pt;
$font-size-small: 14pt;
$font-size-default: 18pt;
$font-size-big: 24pt;
$font-size-large: 48pt;

body.layout-smaller { font-size: $font-size-tiny; }
body.layout-small { font-size: $font-size-smaller; }
body.layout-default { font-size: $font-size-default; }
body.layout-big { font-size: $font-size-big; }
body.layout-large { font-size: $font-size-large; }

body {
  position: relative;
  font-family: 'Overpass';
  font-weight: 400;
  line-height: 1.4em;
  background-color: white;
  box-sizing: border-box;
  overflow: hidden;
  color: white;
}

.text-content {
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 3%;
  
  h2 {
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.3em;

    span {
      display: block;
      font-weight: 700;
    }
  }
}


.background-shapes {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60vw;
  height: 50vw;
  
  .corner-shape-bottom {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
    & > svg {
      width: 100%;
      height: 100%;
    }
  }
  
  .pattern-stripe {
    width: 160vw;
    height: 1.75em;
    position: absolute;
    left: 83.5%;
    top: 0;
    transform: translate(-50%, -121.25%) rotate(-45deg);
    
    svg { 
      stroke: #1171b8; 
      display: block; 
    }
  }
}

.pattern-background {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60vw;
  height: 50vw;
  
  .corner-shape-bottom {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
    & > svg {
      width: 100%;
      height: 100%;
    }
  }
  
  .pattern-stripe {
    width: 160vw;
    height: 1.75em;
    position: absolute;
    left: 83.5%;
    top: 0;
    transform: translate(-50%, -121.25%) rotate(-45deg);
    
    svg { 
      stroke: #1171b8; 
      display: block; 
    }
  }
}

.branding {
  position: absolute;
  right: 3%;
  bottom: 40%;
  
  .red-hat { 
    width: 10em;
    display: inline-block;
    margin-right: 1.75em;
    border-right: 2px solid white;
    padding-right: 1.54em;
  }
  
  .intel {
    display: inline-block;
    
    img { width: 6em; }
  }
}

.action {
  position: absolute;
  right: 3%;
  bottom: 20%;
  
  .button {
    background: white;
    color: #1171b8;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5em 0.8em;
    font-weight: 600;
    border: 2px solid white;
    
    &:hover {
      background: none;
      color: white;
    }
  }
}

// Boxed Layout common styles

.background-shape {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80vw;
  height: 80vw;
  
  .corner-shape-bottom {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
    & > svg {
      width: 100%;
      height: 100%;
    }
  }
}

.pattern-background {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60vw;
  height: 50vw;
  
  .corner-shape-bottom {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
    & > svg {
      width: 100%;
      height: 100%;
    }
  }
  
  .pattern-stripe {
    width: 160vw;
    height: 2em;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -121.25%) rotate(-45deg);
    
    svg { 
      stroke: #1171b8; 
      display: block; 
    }
  }
}

.boxed {
  .branding {
    bottom: 20%;
    right: 4%;
  }
  .action {
    bottom: 10%;
    right: 4%;
  }
}

// Specific Styles

.youtube-cover-layout {
  .background-shape {
    width: 75vw;
    height: 75vw;
  }
  .pattern-stripe { 
    left: 58.5%;
    height: 1.75em;
  }
}

