<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <link href='http://redhatbrand.github.io/RedHatTemplates/templates/event-logo/stylesheets/main.css' rel='stylesheet'>
    <style>
      html, body {
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      .rh-event-lockup {
        font-size: 10px;
      }
    </style>
  </head>
  <body style='width: {{ small-width }}{{ unit }}; height: {{ small-height }}{{ unit }}'>
    <div class='rh-event-lockup rh-event-category-{{category}}'>
      <div class='rh-event-lockup-icon'>
        <div class='rh-event-lockup-icon-frame'>
          <div class='rh-event-lockup-icon-frame-teardrop'>
            <svg id='svg13749' preserveaspectratio='xMinYMin meet' version='1.1' viewbox='0 0 50 63.000001' xmlns:cc='http://creativecommons.org/ns#' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg'>
              <defs id='defs13751'></defs>
              <metadata id='metadata13754'>
                <rdf>
                  <work rdf:about=''>
                    <format>image/svg+xml</format>
                    <type rdf:resource='http://purl.org/dc/dcmitype/StillImage'></type>
                    <title></title>
                  </work>
                </rdf>
              </metadata>
              <g id='layer1' transform='translate(0,-989.3622)'>
                <rect height='63' id='rect14404' style='fill:none;stroke:none' width='50' x='-3.9682538e-07' y='989.36218'></rect>
                <g id='g14359' transform='matrix(1.1311713,0,0,1.1454546,-3.1672796,-153.0709)'>
                  <path d='m 47.00197,1019.0369 c 0,-11.9697 -9.895408,-21.6747 -22.103135,-21.6747 -12.204862,0 -22.0988354,9.705 -22.0988354,21.6747 0,14.9973 21.8996954,33.3253 21.8996954,33.3253 0,0 22.302275,-18.9426 22.302275,-33.3253' id='path4324' style='fill:#e41e32;fill-opacity:1;fill-rule:nonzero;stroke:none'></path>
                  <path d='m 47.00197,1019.0369 c 0,-6.199 -2.653299,-11.7892 -6.906877,-15.7392 l -15.395398,49.0645 c 0,0 22.302275,-18.9426 22.302275,-33.3253' id='path4326' style='fill:#be1728;fill-opacity:1;fill-rule:nonzero;stroke:none'></path>
                </g>
              </g>
            </svg>
          </div>
          <div class='rh-event-lockup-icon-frame-square'>
            <svg id='svg13749' preserveaspectratio='xMinYMin meet' version='1.1' viewbox='0 0 50 63.000001' xmlns:cc='http://creativecommons.org/ns#' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg'>
              <defs id='defs13751'></defs>
              <metadata id='metadata13754'>
                <rdf>
                  <work rdf:about=''>
                    <format>image/svg+xml</format>
                    <type rdf:resource='http://purl.org/dc/dcmitype/StillImage'></type>
                    <title></title>
                  </work>
                </rdf>
              </metadata>
              <g id='layer1' transform='translate(0,-989.3622)'>
                <rect height='63' id='rect14404' style='fill:none;stroke:none' width='50' x='-3.9682538e-07' y='989.36218'></rect>
                <g id='g14355' transform='matrix(0.99999999,0,0,0.99969124,-0.36243129,3.8181507)'>
                  <path d='m 50.362432,985.84844 -50.00000114,0 0,50.09296 17.28776614,0 7.423219,7.4248 7.374379,-7.3759 17.914637,0 0,-50.14186 z' id='path7403' style='fill:#e41e32;fill-opacity:1;fill-rule:nonzero;stroke:none'></path>
                  <path d='m 50.362432,985.84844 0,50.14186 -17.914637,0 -7.374379,7.3759 -7.423219,-7.4248 -17.28776614,0 50.00000114,-50.09296 z' id='path7405' style='fill:#be1728;fill-opacity:1;fill-rule:nonzero;stroke:none'></path>
                </g>
              </g>
            </svg>
          </div>
          <div class='rh-event-lockup-icon-frame-circle'>
            <svg id='svg13749' preserveaspectratio='xMinYMin meet' version='1.1' viewbox='0 0 50 63.000001' xmlns:cc='http://creativecommons.org/ns#' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg'>
              <defs id='defs13751'></defs>
              <metadata id='metadata13754'>
                <rdf>
                  <work rdf:about=''>
                    <format>image/svg+xml</format>
                    <type rdf:resource='http://purl.org/dc/dcmitype/StillImage'></type>
                    <title></title>
                  </work>
                </rdf>
              </metadata>
              <g id='layer1' transform='translate(0,-989.3622)'>
                <rect height='63' id='rect14404' style='fill:none;stroke:none' width='50' x='-3.9682538e-07' y='989.36218'></rect>
                <g id='g14381'>
                  <path d='m 42.677324,1032.0396 c 9.763568,-9.7635 9.763568,-25.5908 0,-35.35441 -9.763568,-9.76094 -25.592063,-9.76354 -35.3556306,0 -9.7622584,9.76361 -9.7622584,25.59091 0,35.35441 9.7635676,9.7635 25.5920626,9.7635 35.3556306,0' id='path7613' style='fill:#e9e9e9;fill-opacity:1;fill-rule:nonzero;stroke:none'></path>
                  <path d='m 42.677324,1032.0396 c 9.763568,-9.7635 9.763568,-25.5908 0,-35.35441 L 7.3216934,1032.0396 c 9.7635676,9.7635 25.5920626,9.7635 35.3556306,0' id='path7615' style='fill:#deddde;fill-opacity:1;fill-rule:nonzero;stroke:none'></path>
                </g>
              </g>
            </svg>
          </div>
        </div>
        <div class='rh-event-lockup-icon-svg'>
          {{{ icon }}}
        </div>
      </div>
      <div class='rh-event-lockup-text'>
        <div class='rh-event-lockup-primary-text'>
          <div class='rh-event-lockup-event-name'>{{{ name }}}</div>
          <div class='rh-event-lockup-primary-text-arrow'></div>
        </div>
        <div class='rh-event-lockup-secondary-text'>
          <p>{{ secondary-text }}</p>
        </div>
      </div>
    </div>
  </body>
</html>
