---
width: 2000mm
height: 700mm
---

<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8" />
  <link href='<%= baseUrl %>/templates/forum/assets/stylesheets/vendor/leaflet.css?v<%= version %>' rel='stylesheet' />
  <link href='<%= baseUrl %>/templates/forum/assets/stylesheets/map.css?v<%= version %>' rel='stylesheet' />
  <link rel="stylesheet" type="text/css" href="<%=baseUrl%>/templates/forum/booths/rhf-booth-main-banner/main-concept-1a/css/style.css">
  </head>

  <body class="rh-theme-{{ category }}"
    height="{{#add}}{{height}}+{{#multiply}}{{bleed}}*2{{/multiply}}{{/add}}mm"
    width="{{#add}}{{width}}+{{#multiply}}{{bleed}}*2{{/multiply}}{{/add}}mm"
    style="padding: {{bleed}}mm;"
  >
  <main>
      <div id="x-map"></div>
  </main>

  <div class='corner-logo'>
    <div class="logo"></div>
  </div>

  <script src='<%= baseUrl %>/global-assets/javascripts/vendor/jquery.js'></script>
  <script src='<%= baseUrl %>/global-assets/javascripts/vendor/lodash.js'></script>
  <script src='<%= baseUrl %>/global-assets/javascripts/vendor/leaflet.js'></script>
  <script src='<%= baseUrl %>/global-assets/javascripts/vendor/d3.v3.min.js'></script>
  <script src='<%= baseUrl %>/global-assets/javascripts/vendor/topojson.v1.min.js'></script>
  <script src='<%= baseUrl %>/global-assets/javascripts/vendor/d3-topojson.js'></script>
  <script src='<%= baseUrl %>/templates/forum/assets/javascripts/print-map-vector.js?v<%= version %>'></script>
  </body>
</html>
