.section-intro {
  line-height: 150%;
  
  .container { margin-top: 4em; }
  
  .intro-author {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 1em;
  }
  
  .one-third {
    p { margin-bottom: 1em; }
    
    .author-signature {
      margin: 1em 0;
    }
  }
}