/* required styles */
.leaflet-map-pane, .leaflet-tile, .leaflet-marker-icon, .leaflet-marker-shadow, .leaflet-tile-pane, .leaflet-tile-container, .leaflet-overlay-pane, .leaflet-shadow-pane, .leaflet-marker-pane, .leaflet-popup-pane, .leaflet-overlay-pane svg, .leaflet-zoom-box, .leaflet-image-layer, .leaflet-layer {
  position: absolute;
  left: 0;
  top: 0; }

.leaflet-container {
  overflow: hidden;
  -ms-touch-action: none; }

.leaflet-tile, .leaflet-marker-icon, .leaflet-marker-shadow {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none; }

.leaflet-marker-icon, .leaflet-marker-shadow {
  display: block; }

/* map is broken in FF if you have max-width: 100% on tiles */
.leaflet-container img {
  max-width: none !important; }

/* stupid Android 2 doesn't understand "max-width: none" properly */
.leaflet-container img.leaflet-image-layer {
  max-width: 15000px !important; }

.leaflet-tile {
  -webkit-filter: inherit;
  filter: inherit;
  visibility: hidden; }

.leaflet-tile-loaded {
  visibility: inherit; }

.leaflet-zoom-box {
  width: 0;
  height: 0; }

/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.leaflet-overlay-pane svg {
  -moz-user-select: none; }

.leaflet-tile-pane {
  z-index: 2; }

.leaflet-objects-pane {
  z-index: 3; }

.leaflet-overlay-pane {
  z-index: 4; }

.leaflet-shadow-pane {
  z-index: 5; }

.leaflet-marker-pane {
  z-index: 6; }

.leaflet-popup-pane {
  z-index: 7; }

.leaflet-vml-shape {
  width: 1px;
  height: 1px; }

.lvml {
  behavior: url(#default#VML);
  display: inline-block;
  position: absolute; }

/* control positioning */
.leaflet-control {
  position: relative;
  z-index: 7;
  pointer-events: auto; }

.leaflet-top, .leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none; }

.leaflet-top {
  top: 0; }

.leaflet-right {
  right: 0; }

.leaflet-bottom {
  bottom: 0; }

.leaflet-left {
  left: 0; }

.leaflet-control {
  float: left;
  clear: both; }

.leaflet-right .leaflet-control {
  float: right; }

.leaflet-top .leaflet-control {
  margin-top: 10px; }

.leaflet-bottom .leaflet-control {
  margin-bottom: 10px; }

.leaflet-left .leaflet-control {
  margin-left: 10px; }

.leaflet-right .leaflet-control {
  margin-right: 10px; }

/* zoom and fade animations */
.leaflet-fade-anim .leaflet-tile, .leaflet-fade-anim .leaflet-popup {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }

.leaflet-fade-anim .leaflet-tile-loaded, .leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  opacity: 1; }

.leaflet-zoom-anim .leaflet-zoom-animated {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1); }

.leaflet-zoom-anim .leaflet-tile, .leaflet-pan-anim .leaflet-tile, .leaflet-touching .leaflet-zoom-animated {
  -webkit-transition: none;
  transition: none; }

.leaflet-zoom-anim .leaflet-zoom-hide {
  visibility: hidden; }

/* cursors */
.leaflet-clickable {
  cursor: pointer; }

.leaflet-container {
  cursor: -webkit-grab;
  cursor: -moz-grab; }

.leaflet-popup-pane, .leaflet-control {
  cursor: auto; }

.leaflet-dragging .leaflet-container, .leaflet-dragging .leaflet-clickable {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing; }

/* visual tweaks */
.leaflet-container {
  background: #ddd;
  outline: 0; }

.leaflet-container a {
  color: #0078A8; }

.leaflet-container a.leaflet-active {
  outline: 2px solid orange; }

.leaflet-zoom-box {
  border: 2px dotted #38f;
  background: rgba(255, 255, 255, 0.5); }

/* general toolbar styles */
.leaflet-bar a, .leaflet-bar a:hover {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black; }

.leaflet-bar a, .leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block; }

.leaflet-bar a:hover {
  background-color: #f4f4f4; }


.leaflet-bar a:last-child {
  border-bottom: none; }

.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: #bbb; }

.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px; }

/* zoom control */
.leaflet-control-zoom-in, .leaflet-control-zoom-out {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  text-indent: 1px; }

.leaflet-control-zoom-out {
  font-size: 20px; }

.leaflet-touch .leaflet-control-zoom-in {
  font-size: 22px; }

.leaflet-touch .leaflet-control-zoom-out {
  font-size: 24px; }

/* layers control */
.leaflet-control-layers {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 5px; }

.leaflet-control-layers-toggle {
  background-image: url(images/layers.png);
  width: 36px;
  height: 36px; }

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(images/layers-2x.png);
  background-size: 26px 26px; }

.leaflet-touch .leaflet-control-layers-toggle {
  width: 44px;
  height: 44px; }

.leaflet-control-layers .leaflet-control-layers-list, .leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none; }

.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative; }

.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff; }

.leaflet-control-layers-selector {
  margin-top: 2px;
  position: relative;
  top: 1px; }

.leaflet-control-layers label {
  display: block; }

.leaflet-control-layers-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px; }

/* attribution and scale controls */
.leaflet-container .leaflet-control-attribution {
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  margin: 0; }

.leaflet-control-attribution, .leaflet-control-scale-line {
  padding: 0 5px;
  color: #333; }

.leaflet-control-attribution a {
  text-decoration: none; }

.leaflet-control-attribution a:hover {
  text-decoration: underline; }

.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
  font-size: 11px; }

.leaflet-left .leaflet-control-scale {
  margin-left: 5px; }

.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 5px; }

.leaflet-control-scale-line {
  border: 2px solid #777;
  border-top: none;
  line-height: 1.1;
  padding: 2px 5px 1px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: #fff;
  background: rgba(255, 255, 255, 0.5); }

.leaflet-control-scale-line:not(:first-child) {
  border-top: 2px solid #777;
  border-bottom: none;
  margin-top: -2px; }

.leaflet-control-scale-line:not(:first-child):not(:last-child) {
  border-bottom: 2px solid #777; }

.leaflet-touch .leaflet-control-attribution, .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  box-shadow: none; }

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box; }

/* popup */
.leaflet-popup {
  position: absolute;
  text-align: center; }

.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left; }

.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4; }

.leaflet-popup-content p {
  margin: 18px 0; }

.leaflet-popup-tip-container {
  margin: 0 auto;
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden; }

.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: white; }

.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent; }

.leaflet-container a.leaflet-popup-close-button:hover {
  color: #999; }

.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd; }

.leaflet-oldie .leaflet-popup-content-wrapper {
  zoom: 1; }

.leaflet-oldie .leaflet-popup-tip {
  width: 24px;
  margin: 0 auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678); }

.leaflet-oldie .leaflet-popup-tip-container {
  margin-top: -1px; }

.leaflet-oldie .leaflet-control-zoom, .leaflet-oldie .leaflet-control-layers, .leaflet-oldie .leaflet-popup-content-wrapper, .leaflet-oldie .leaflet-popup-tip {
  border: 1px solid #999; }

/* div icon */
.leaflet-div-icon {
  background: #fff;
  border: 1px solid #666; }

html, :root {
  font-size: 8.5pt;
  line-height: 1.5em;
  text-rendering: geometricPrecision; }

body {
  position: relative;
  font-family: "Overpass", "Interstate", "Helvetica", sans-serif;
  counter-reset: pagenumber;
  margin: 0;
  color: #57595b;
  font-weight: 300; }

img {
  max-width: 100%; }

.social-icon {
  font-size: 1rem;
  width: 2.8em;
  display: inline-block; }

[class*="industry-icon-"] {
  width: 5em; }
  [class*="industry-icon-"]:before {
    display: block; }

.industry-icon-Education:before {
  content: url('../../../../../../global-assets/images/icons-values/RH_Icon_Book_Stroked.svg'); }

.industry-icon-Technology:before {
  content: url('../../../../../../global-assets/images/icons-values/RH_Icon_Data_Stroked.svg'); }

.industry-icon-Financial:before {
  content: url('../../../../../../global-assets/images/icons-values/RH_Icon_Financial_Stroked.svg'); }

.industry-icon-Telecommunications:before {
  content: url('../../../../../../global-assets/images/icons-values/RH_Icon_Smartphone_Stroked.svg'); }

.industry-icon-Government:before {
  content: url('../../../../../../global-assets/images/icons-values/RH_Icon_Gov_Stroked.svg'); }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  color: #b90c20;
  margin-bottom: 0.7em; }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0; }

p, ul, dl, ol {
  margin-top: 0;
  margin-bottom: 0.7em; }

h1 {
  font-size: 1.2em; }

h2 {
  font-size: 1em; }

h3 {
  font-size: 1em; }

h4 {
  font-size: 0.8em; }

h6 {
  font-size: 0.667em; }

blockquote {
  font-size: 1.5em;
  line-height: 1.4em;
  font-style: italic;
  margin: 0;
  margin-bottom: 0.7em; }
  blockquote:before, blockquote:after {
    content: '"';
    font-size: 1.25em;
    line-height: 1em; }

small {
  font-size: 0.825em;
  line-height: 1.4em; }

cite {
  font-size: 0.7em;
  line-height: 1.4em;
  text-transform: uppercase;
  font-style: normal; }
  cite p {
    margin: 0; }

ul {
  padding-left: 1.25em; }

li {
  margin-bottom: 0.7em; }

hr {
  background: none;
  border: none;
  border-bottom: thin solid;
  margin-top: 1.4em;
  margin-bottom: 1.4em; }

.small-block {
  margin-bottom: 0.125em;
  display: block; }

strong {
  font-weight: 700; }

.heavier {
  font-weight: 600; }

.page {
  page-break-before: always;
  width: 210mm;
  height: 297mm;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden; }

.page-margin {
  position: absolute;
  left: 40pt;
  right: 40pt;
  top: 130pt;
  bottom: 100pt; }

#front-page .page-margin {
  top: 262pt;
  bottom: 80pt; }

#last-page .page-margin {
  top: 225pt; }

.page-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 90pt;
  border-bottom: 0.25em solid lightgrey;
  overflow: hidden;
  color: white; }

#front-page .page-header {
  height: 222pt; }
  #front-page .page-header h1, #front-page .page-header h2, #front-page .page-header h3, #front-page .page-header h4, #front-page .page-header h5, #front-page .page-header h6 {
    color: white; }

#last-page .page-header {
  height: 185pt; }
  #last-page .page-header h1, #last-page .page-header h2, #last-page .page-header h3, #last-page .page-header h4, #last-page .page-header h5, #last-page .page-header h6 {
    color: white; }
  #last-page .page-header .header-title {
    width: 30%; }

.page-footer {
  position: absolute;
  left: 40pt;
  right: 40pt;
  top: auto;
  bottom: 40pt;
  height: 60pt; }

[class*="column-main"] {
  position: absolute;
  top: 0;
  bottom: 0; }

.column-main-left {
  left: 0;
  right: 75%;
  text-align: right; }

.column-main-right {
  left: 25%;
  right: 0; }

.page-footer [class*="column-main"] {
  top: auto; }

.page-footer .column-main-right {
  right: 20pt; }

.border-right {
  border-right: thin solid; }

.border-bottom {
  border-bottom: thin solid; }

#content {
  -adobe-flow-into: pageflow; }

.page-content {
  -adobe-flow-from: pageflow; }

#map {
  height: 16em;
  background-color: #d2d4d5; }
  #map path.road {
    stroke: #e4e4e7;
    fill: none; }
  #map path.water {
    stroke: #f2f2f3;
    fill: #f2f2f3; }

.marker-icon > div {
  padding-left: 100%; }

.marker-icon:before {
  content: '';
  width: 8px;
  height: 8px;
  background-color: #b90c20;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-33.333%);
  -ms-transform: translateY(-33.333%);
  transform: translateY(-33.333%);
  border-radius: 100%; }

.branding {
  text-align: right;
  position: absolute;
  bottom: 20pt;
  right: 40pt;
  left: 0; }

.red-hat {
  width: 9em;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.75em;
  border-right: thin solid black;
  padding-right: 1.54em; }

.intel {
  display: inline-block;
  vertical-align: middle; }

.intel img {
  width: 6em; }

.page-number {
  position: absolute;
  bottom: 0;
  right: 0; }

.page-number:after {
  counter-increment: pagenumber;
  content: counter(pagenumber); }

#front-page .page-number {
  visibility: hidden; }

.header-title {
  position: absolute;
  top: 40pt;
  left: 40pt;
  right: 33.333%;
  margin-bottom: 0; }

.header-title h2 {
  margin-top: 0;
  font-size: 1.333em; }

.header-title h1 {
  font-size: 2em;
  line-height: 1.15em;
  margin-top: 0.5em; }

#front-page .page-header .branding .red-hat, #last-page .page-header .branding .red-hat {
  border-right: thin solid white; }

.front-page-footer .page-number {
  visibility: hidden; }

.background-shapes.center {
  position: absolute;
  bottom: 0;
  right: 0;
  left: -0.25em;
  top: -0.5em;
  width: 81.5vw;
  height: 50vw; }
  .background-shapes.center .corner-shape-center {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
    .background-shapes.center .corner-shape-center > svg {
      width: 100%;
      height: 100%; }

.background-shapes.bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 71.5vw;
  height: 50vw; }
  .background-shapes.bottom .corner-shape-bottom {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
    .background-shapes.bottom .corner-shape-bottom > svg {
      width: 100%;
      height: 100%; }
  .background-shapes.bottom .pattern-stripe {
    width: 160vw;
    height: 4em;
    position: absolute;
    left: 70%;
    top: 0;
    -webkit-transform: translate(-50%, -121.25%) rotate(-45deg);
    -ms-transform: translate(-50%, -121.25%) rotate(-45deg);
    transform: translate(-50%, -121.25%) rotate(-45deg); }
    .background-shapes.bottom .pattern-stripe svg {
      stroke: #1171b8;
      display: block; }

.statistic figure, .statistic figcaption {
  display: inline-block;
  vertical-align: baseline; }
.statistic figure {
  font-weight: bold;
  color: #b90c20;
  margin: 0; }
.statistic figcaption {
  text-transform: uppercase; }

.big-fig {
  margin: 0;
  font-size: 2em;
  line-height: 0.7em;
  font-weight: bold; }

.text-right {
  text-align: right; }

.text-uppercase {
  text-transform: uppercase; }

.background-shapes svg {
  display: block; }

.content-area {
  padding: 1.4em; }

.content-area *:first-child {
  margin-top: 0; }

.content-area *:last-child {
  margin-bottom: 0; }

.content-area.tight-left {
  padding-left: 0; }

.content-area.tight-top {
  padding-top: 0; }

.content-area.tight-right {
  padding-right: 0; }

.content-area.tight-bottom {
  padding-bottom: 0; }

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.flex-row {
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row; }

.flex-column {
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column; }

.flex-item-fixed {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

.flex-item-fill {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%; }

.flex-item-one-half {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%; }

.flex-item-one-third {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 33.333%;
  -ms-flex: 1 1 33.333%;
  flex: 1 1 33.333%; }

.flex-item-two-thirds {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 66.667%;
  -ms-flex: 1 1 66.667%;
  flex: 1 1 66.667%; }

.flex-item-one-quarter {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 25%;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%; }

.contact-blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  line-height: 1.19em; }

.contact-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%; }

.page-footer h1, .page-footer h2, .page-footer h3, .page-footer h4, .page-footer h5, .page-footer h6 {
  color: #57595b; }
.page-footer .column-main-right .content-area {
  padding: 0; }
