@import '../../../../global-assets/scss/utils/grid';
@import '../../../../global-assets/scss/colors/base_color_palette';
@import '../../../../global-assets/scss/components/background_shapes';
@import '../../../../global-assets/scss/components/patterns';

$page-margin: 1.333em;

body {
  position: relative;
  font-family: 'Overpass';
  font-weight: 400;
  line-height: 1.4em;
  background-color: white;
  font-size: 36pt;
  box-sizing: border-box;
  overflow: hidden;
}

main {
  position: absolute;
  top: 3mm; bottom: 3mm;
  left: 3mm; right: 3mm;
  background-repeat: no-repeat;
}

p { margin: 0.333em 0 0.75em; }
ul { 
  list-style: none; 
  padding: 0;
}
ul li { padding: 0; }
blockquote { margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  line-height: 1.6em;
  text-transform: uppercase;
  font-weight: 700;
}

#content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  text-align: right;
}

.highlighted span {
  color: $color-white;
  background: rgba(0, 0, 0, 0.8);
  padding-top: 0.1em;
  padding-bottom: 0.05em;
}

.text-content {
  padding: $page-margin;
  box-sizing: border-box;
  position: absolute;
  left: 25%;
  right: 0;
  bottom: 0;
  top: auto;

  h1 {
    font-size: 3em;
    line-height: 1.6em;
    margin-bottom: 0.667em;
  }

  h2 {
    font-size: 2em;
    line-height: 1.6em;
    margin-bottom: 1em;
  }

  p, ul {
    margin-bottom: 1em;
  }

  blockquote {
    text-transform: uppercase;
    font-weight: bold; 
    font-size: 1em;
    line-height: 1.1em;
  }
}

cite {
  display: block;

  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;

  font-size: 0.5em;
  line-height: 1.5em;
}

.author-info {
  display: block;
  line-height: 1.5em;

  font-size: 0.5em;
  text-transform: none;
}

$logo-ratio: 0.36437247;
$logo-width: 5em;

.branding {
  position: absolute;
  width: $logo-width;
  top: $page-margin;
  left: $page-margin;

  .redhat-logo {
    width: 100%;
    height: $logo-width * $logo-ratio;
    display: block;

    .logotext {
      fill: $color-white;
    }
  }
}

@media (min-width: 1000mm) {
  body {
    font-size: 140pt;
  }
}
