/* ---------------- */
/* -- Crop marks -- */
/* ---------------- */
/* Default 3mm bleed @ 300dpi */
.crop-mark {
  width: 71px;
  height: 71px;
  position: absolute;
  z-index: 2; }

.crop-mark:before, .crop-mark:after {
  content: '';
  display: block;
  position: absolute;
  background-color: black; }

.crop-mark.top-left {
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.crop-mark.top-left:after {
  bottom: 0;
  left: 0;
  height: 1px;
  width: 50%; }

.crop-mark.top-left:before {
  top: 0;
  right: 0;
  width: 1px;
  height: 50%; }

.crop-mark.top-right {
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%); }

.crop-mark.top-right:after {
  bottom: 0;
  right: 0;
  height: 1px;
  width: 50%; }

.crop-mark.top-right:before {
  top: 0;
  left: 0;
  width: 1px;
  height: 50%; }

/* Bottom */
.crop-mark.bottom-left {
  bottom: 0;
  left: 0;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%); }

.crop-mark.bottom-left:after {
  top: 0;
  left: 0;
  height: 1px;
  width: 50%; }

.crop-mark.bottom-left:before {
  bottom: 0;
  right: 0;
  width: 1px;
  height: 50%; }

.crop-mark.bottom-right {
  bottom: 0;
  right: 0;
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%); }

.crop-mark.bottom-right:after {
  top: 0;
  right: 0;
  height: 1px;
  width: 50%; }

.crop-mark.bottom-right:before {
  bottom: 0;
  left: 0;
  width: 1px;
  height: 50%; }

body {
  overflow: hidden;
  margin: 0; }

body, main {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

main {
  position: relative; }
