
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <link href='http://red-hat-assets.s3.amazonaws.com/templates/social-media/stylesheets/main.css' rel='stylesheet'>
  </head>
  <body class='rh-theme-{{ category }} {{ avatar-option }}' style='width: 403px; height: 403px'>
    <div class='brand'>
      <svg height='100%' style='position: relative' version='1.0' width='100%' xmlns:svg='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'>
  <style>
    body { margin: 0 }
  </style>
  <defs>
    <filter height='1' id='f1' width='1' x='0' y='0'>
      <feImage height='100%' preserveAspectRatio='xMidYMid slice' result='shape1' width='100%' x='0' xlink:href='http://red-hat-assets.s3.amazonaws.com/global-assets/images/category-shapes/solid-center-bar-{{ group }}.svg' y='0'></feImage>
      <feBlend in2='shape1' in='SourceGraphic' mode='multiply' result='SG_shape1'></feBlend>
    </filter>
  </defs>
  <image filter='url(#f1)' height='100%' preserveAspectRatio='xMidYMid slice' width='100%' x='0' xlink:href='{{{ image }}}' y='0'></image>
</svg>
    </div>
    <div class='campaign'>
      <svg height='100%' style='position: relative' version='1.0' width='100%' xmlns:svg='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'>
  <style>
    body { margin: 0 }
  </style>
  <defs>
    <filter height='1' id='f1' width='1' x='0' y='0'>
      <feImage height='100%' preserveAspectRatio='xMaxYMax meet' result='shape1' width='100%' x='0' xlink:href='http://red-hat-assets.s3.amazonaws.com/global-assets/images/category-shapes/solid-corner-large-{{ group }}.svg' y='0'></feImage>
      <feBlend in2='shape1' in='SourceGraphic' mode='multiply' result='SG_shape1'></feBlend>
      <feImage height='100%' preserveAspectRatio='xMaxYMax meet' result='shape2' width='100%' x='0' xlink:href='http://red-hat-assets.s3.amazonaws.com/global-assets/images/category-shapes/pattern-stripe-{{ group }}.svg' y='0'></feImage>
      <feBlend in2='shape2' in='SG_shape1' mode='lighten' result='SG_shape1_shape2'></feBlend>
      <feImage height='100%' preserveAspectRatio='xMaxYMax meet' result='shape3' width='100%' x='0' xlink:href='http://red-hat-assets.s3.amazonaws.com/global-assets/images/category-shapes/solid-corner-{{ group }}.svg' y='0'></feImage>
      <feBlend in2='shape3' in='SG_shape1_shape2' mode='lighten' result='SG_shape1_shape2_shape3'></feBlend>
    </filter>
  </defs>
  <image filter='url(#f1)' height='100%' preserveAspectRatio='xMidYMid slice' width='100%' x='0' xlink:href='{{{ image }}}' y='0'></image>
</svg>

    </div>

    <div class='hero-logo-content'>
      <img src="http://red-hat-assets.s3.amazonaws.com/global-assets/images/logos/rh-logo.svg">
    </div>
    <div class='hero-text-content wide'>
      {{{ message }}}
    </div>
  </body>
</html>
