@import '../../../../../global-assets/scss/utils/grid';
@import '../../../../../global-assets/scss/fonts/overpass';
@import '../../../../../global-assets/scss/colors/base_color_palette';

body {
  position: relative;
  font-size: 100px; /* ~24pt */
  font-family: 'Overpass';
  font-weight: 400;
  line-height: 1.5em;
}
main { display: block }
p { margin: 0.333em 0 0.75em; }

h1, h3, h4, h5, h6 {
  margin-top: 0;
  line-height: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
}

h1 { 
  font-size: 3em; 
  margin-bottom:0.2em;
  margin-top:0.3em;}

h2 { font-size: 1em;
     font-weight: 300; }

.leaflet-map-pane,
.leaflet-tile-pane {
  width: 100%;
  height: 100%;
}
.leaflet-tile-pane:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.5;
  z-index: 2;
}

.leaflet-tile-pane:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

#map { height: 66.667%; }

#map .event-marker-icon {
  width: 1em !important;
  height: 1em !important;
  margin: -0.5em !important;
}

#map .event-marker-icon-current {
  width: 6em !important;
  height: 2.667em !important;
  margin-left: -1.125em !important;
  margin-top: -1.333em !important;
  font-size: 5em;
}

#content {
  position: absolute;
  bottom: 0;
  height: 33.333%;
  left: 0;
  right: 0;
  padding: 3em 4em 4em 4em;
  background-color: black;
  color: white;
}
.events-list {
  height: 435px;
  margin-bottom: 1em;
}
.events-list .event,
.events-list .event .date,
.events-list .event .location { height: inherit; }

.events-list .event .letter { fill: white; }

.register-box {
  border: 0.05em solid white;
  padding: 0.8em 0.667em;
  font-weight: 300;
  border-radius: 0.25em;
}

.one-half {
  height:1300px;

    p {margin-top:1.2em;}
}

.sponsors {
  width:51%;
  display:block;
  height:8em;

  ul.main-sponsors {
    width:44%;
    display:block;
    height:inherit;
    list-style-type:none;
    margin:0;
    padding-right:5%;
    padding-left:0;
    float:left;

    li.hdr-title-sponsor {
      display:inline;
      width:100%;}

    li {
      width:35%;
      float:left;
      padding-right:4%;

      h2 {
        margin-top:1em;
        margin-bottom:.5em;
      }

      img {
        width:100%;
      }
      
    }
    
  }
     
  

  ul.joint-sponsors {

    width:44%;
    margin:0;
    display:block;
    list-style-type:none;
    float:left;
    padding:0;

  
    li.hdr-title-sponsor {
      display:inline;
      width:100%;
    }

    li {
      width:35%;
      float:left;
      padding-right:4%;

      h2 {
        margin-top:1em;
        margin-bottom:.5em;
      }

      img {
        width:100%;
      }
      
    }

  }

}
