html{
  width:12120px; height:30120px; padding:60px;
  font-family:"Overpass"; color:#ffffff;
}

body{
  width:12000px; height:30000px; padding:60px;
  color:#ffffff;
  background:#890000;
}

.content-option-icon-icon{display:block !important;}
.content-option-icon-info{display:none !important;}

.content-option-info-icon{display:none !important;}
.content-option-info-info{display:block !important;}

section{
  width:inherit; height:inherit;
  display:block;
  .gray-bottom-bar{
    width:765em; height:158.125em;
    position:absolute; margin:1724.375em 0 0 -7.5em;
    background:#222;
  }
	.content-contain{
		  width:inherit; height:inherit;
		position:absolute;
		.rhf_info{
			width:inherit; padding:46.25em 0 0 0;
			display:none;
			display:block;
			p.text-1{
				width:75%; margin:auto;
				font-size:42.25em;
			}
			p.text-2{
				width:75%; margin:auto;
				padding-top:6.7%;
				font-size:29.75em;
			}
			ul.text-3{
				list-style-type:disc;
				width:75%; margin:auto;
				padding:6.7% 0 0 5%;
				font-size:21.875em;
			}
		}
		.rhf-logo-icon{
			width:100%; padding:9.53% 0 0 0;
			display:none;
			display:block;
			h3{
				width:50%;
				position:absolute; margin:-10.62% 0 0 45%;
				font-size:32.875em;
			}
			.rhf-logo-icon-contain{
				width:73.75%; margin:auto;
				object{
					width:100%; height:auto;
				}
			}
		}
	}
	.red-bg{
		width:765em; height:1890em;
		position:absolute; z-index:-1; margin:-7.5em 0 0 -7.5em;
		overflow:hidden;
		display:block;
		object.polygon-red-1{
			width:274.35%; height:auto;
			position:absolute; z-index:-1; margin:62.5em 0 0 -630em;
			opacity:0.2;
		}
		object.polygon-red-2{
			width:185.62%; height:auto;
			position:absolute; z-index:-1; margin:-227.5em 0 0 -787.5em;
			opacity:0.3;
		}
		object.polygon-red-3{
			width:311.44%; height:auto;
			position:absolute; z-index:-1; margin:961.75em 0 0 -125em;
			opacity:0.5;
		}
		object.polygon-red-4{
			width:171.98%; height:auto;
			position:absolute; z-index:-1; margin:-664.875em 0 0 0;
			opacity:1;
		}
	}
} /*section*/
