/* ---------------- */
/* -- Crop marks -- */
/* ---------------- */

/* Default 3mm bleed @ 300dpi */

.crop-mark {
  width: 6mm;
  height: 6mm;
  position: absolute;
  z-index:2;
}

.crop-mark:before,
.crop-mark:after {
  content: '';
  display: block;
  position: absolute;
  color: black;
  border: thin solid;
}

.crop-mark.top-left {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.crop-mark.top-left:after {
  bottom: 0;
  left: 0;
  width: 50%;
}

.crop-mark.top-left:before {
  top: 0;
  right: 0;
  height: 50%;
}

.crop-mark.top-right {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.crop-mark.top-right:after {
  bottom: 0;
  right: 0;
  width: 50%;
}

.crop-mark.top-right:before {
  top: 0;
  left: 0;
  height: 50%;
}

/* Bottom */

.crop-mark.bottom-left {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}

.crop-mark.bottom-left:after {
  top: 0;
  left: 0;
  width: 50%;
}

.crop-mark.bottom-left:before {
  bottom: 0;
  right: 0;
  height: 50%;
}

.crop-mark.bottom-right {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}

.crop-mark.bottom-right:after {
  top: 0;
  right: 0;
  width: 50%;
}

.crop-mark.bottom-right:before {
  bottom: 0;
  left: 0;
  height: 50%;
}
