/*	====================================
		layout
	==================================== */


body {
  position: relative;
  font-size: 100%;
  line-height: 1.4em;
}

header {
  margin: 2em 0 4em;
  padding: 0 2em;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


/*	====================================
		layout elements
	==================================== */

.infobox {
	position: relative;
	box-sizing: border-box;
	padding: 0.5em;
	border-bottom: 2px solid #8c9091;
	background: linear-gradient(to bottom, #b2b4b4 0%, #383c3d 1%, #1d1e22 100%) no-repeat;
	background-position: 0.5em 0.5em;
	background-size: calc(100% - 1em) calc(100% - 1em);
  background-color: #000;
}

.infobox:before, .infobox:after {
	content: "";
	position: absolute;
	top: -2px;
	bottom: -2px;
	width: 2px;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#8c9091));
	background-image: -webkit-linear-gradient(transparent,#8c9091);
	background-image: -moz-linear-gradient(transparent,#8c9091);
	background-image: -o-linear-gradient(transparent,#8c9091);
}

.infobox:before { left: 0; }
.infobox:after { right: 0; }


/*	====================================
		elements -> teaser / destinations
	==================================== */

.event-columns {
  column-count: 3;
  column-gap: 2em;
	padding: 1em 1em 0.25em;
}
.event {
  position: relative;
  display: block;
  margin: 0;
  text-decoration: none;
  padding-bottom: 0.5em;
}

.location span {
  display: block;
  float: left;
}

.event .date {
  position: absolute;
  left: 0;
  top: 0;
  font-family: sans-serif;
  text-transform: uppercase;
  line-height: 1;
  color: white;
  text-align: center;

  img { width: 100%; }

  &:before,
  &:after {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 0.25em;
    transform: translate(0, -50%);
  }

  &:before {
    content: attr(data-day);
    top: 25%;
  }

  &:after {
    content: attr(data-month);
    top: 75%;
  }
}

.event .location span:after,
.event .date:after {
	display: block;
}

$letters: space, a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z;

@for $i from 1 through length($letters) {
  $letter: nth($letters, $i);

  .event .location .#{$letter}:after {
    content: url("/templates/forum/events-list/images/letters/#{ $letter }.svg");
  }
}
