---
width: 100%
height: 100vh
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>{{ title }}</title>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <meta content='initial-scale=1.0' name='viewport'>
    <meta content='Red Hat' name='author'>
    <meta content='{{ meta-description }}' name='description'>
    <meta content='{{ meta-keywords }}' name='keywords'>
    <link href='//red-hat-assets.s3.amazonaws.com/assets/images/favicon.ico' rel='icon' type='image/ico'>
    <link href='http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css' media='screen' rel='stylesheet'>
    <link href='<%= baseUrl %>/templates/forum/microsite/stylesheets/main.css' media='screen' rel='stylesheet'>
    <!--[if lt IE 9]> <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script> <![endif]-->
  </head>
  <body>
    <aside class="map-panel">
      <div class="map" id="map" style="background-image: url({{{ hero-image }}})"></div>
    </aside>
    <div class='wrapper'>
      <header class='header' role='banner' id='welcome'>
        <figure class='hero'>
          <div class='container layer-three'>

            <div class="events-list">
              <a class="event clearfix" href="{{{ link }}}" target="_blank">
                <div class="date">
                  <img src='<%= baseUrl %>/templates/forum/events-list/images/letters/space.svg' />
                  <div class="text-content">
                    <svg class="month" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 18">
                      <text fill="white" x="50%" y="12.5" font-size="9" text-anchor="middle">
                        {{ date }}
                      </text>
                    </svg>
                    <svg class="month" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 18">
                      <text fill="white" x="50%" y="12.5" font-size="9" text-anchor="middle">
                        {{ month }}
                      </text>
                    </svg>
                  </div>
                </div>
                <div class="location clearfix">
                  <div class="text-content">{{ location }}</div>
                </div>
              </a>
            </div>


            <div class='registration'>
              <a class='register-button' href='{{{ register-link }}}'>Register</a>
            </div>

            {{#event-logo}}
            <img class='event-logo' src='{{{ event-logo }}}'>
            {{/event-logo}}
            <a class='logo' href='//www.redhat.com' target='_blank' title='Go to redhat.com'>
              <img src='<%=baseUrl%>/global-assets/images/logos/rh-logo.svg' />
            </a>
          </div>
        </figure>
      </header>
      <button class='nav-toggle'>
        <span></span>
      </button>
      <nav class='nav-menu animated fadeInDown fixed-right-nav-only-medium-break layer-four nav-hide'>
        <div class='container'>
          <ul>
            <li><a class='menu-link' href='#welcome'>Welcome</a></li>
            <li><a class='menu-link' href='#agenda'>Agenda</a></li>
            <li><a class='menu-link' href='#speakers'>Speakers</a></li>
            <li><a class='menu-link' href='#sponsors'>Sponsors</a></li>
          </ul>
        </div>
      </nav>

      <section class='section-welcome main'>
        <div class='container'>
          <div class="grid-container">
            <div class="two-thirds">
              <h4>Welcome</h4>
              {{{ welcome-message }}}
            </div>
            <div class="one-third">
              <img src="{{{ welcome-image }}}" />
            </div>
          </div>
        </div>
      </section>

      <section class='section-agenda main' id='agenda'>
        <div class='container'>
          <h1>Agenda</h1>
          {{#days}}
          <input id='{{ day-name }}' name='active-day' type='radio'>
          <label for='{{ day-name }}'>{{ day-name }}</label>
          {{/days}}
          {{#days}}
          <div class='time-table-{{ day-name }}'>
            <table class="calendar">
              <tr class="headings">
                <th class="time">Timing</th>
                <th class="duration">Duration</th>
                <th class="topic">Topic</th>
              </tr>
              {{#times}}
              <tr class="{{ type }}">
                <td class="time">{{time}}</td>
                <td class="duration">{{duration}}</td>

                <td>
                  {{#topic}}
                  <p>{{topic}}</p>
                  {{/topic}}

                  {{#track-a}}
                  <div class="track-a">
                    <h6>Track A</h6>
                    <p>{{track-a}}</p>
                  </div>
                  {{/track-a}}

                  {{#track-b}}
                  <div class="track-b">
                    <h6>Track B</h6>
                    <p>{{track-b}}</p>
                  </div>
                  {{/track-b}}

                  {{#track-c}}
                  <div class="track-c">
                    <h6>Track C</h6>
                    <p>{{track-c}}</p>
                  </div>
                  {{/track-c}}

                  {{#track-d}}
                  <div class="track-d">
                    <h6>Track D</h6>
                    <p>{{track-d}}</p>
                  </div>
                  {{/track-d}}

                  {{#track-e}}
                  <div class="track-e">
                    <h6>Track E</h6>
                    <p>{{track-e}}</p>
                  </div>
                  {{/track-e}}
                </td>
              </tr>
              {{/times}}
            </table>
          </div>
          {{/days}}
        </div>
      </section>

      <section id="speakers" class='section-speakers main'>
        <div class='container'>
          <h1>Speakers</h1>
          {{#speakers}}
          <div class="grid-container">
            <div class="one-third">
              <h3>{{ name }}</h3>
              <img class="welcome-avatar" src="{{{ profile-photo }}}">
              <div class="sign-off">
                <p>
                  <em>{{ title }}</em>
                  <br> <strong>{{ company }}</strong>
                </p>
              </div>
            </div>
            <div class="two-thirds">
              {{{ description }}}
            </div>
          </div>
          {{/speakers}}
        </div>
      </section>

      <section id="sponsors" class='section-sponsors main'>
        <div class='container'>
          <h1>Sponsors</h1>
          {{#sponsors}}
          <h3>{{ name }}</h3>
          <div class="grid-container">
            <div class="one-third">
              <img class="sponsor-logo" src="{{{ logo }}}">
              <div class="sign-off">
                <p>
                  <a href="{{{ website }}}">Website</a>
                </p>
              </div>
            </div>
            <div class="two-thirds">
              {{{ description }}}
            </div>
          </div>
          {{/sponsors}}
        </div>
      </section>

      <footer class='footer'>
        <section class='secondary'>
          <div class='container'>
            <div class="grid-container">
              <ul class='one-half footer-nav-menu'>
                <li>
                  <a href='//www.redhat.com/about/' target='_blank'>About Red Hat</a>
                </li>
                <li>
                  <a href='//www.redhat.com/legal/privacy_statement.html' target='_blank'>Privacy Policy</a>
                </li>
                <li>
                  <a href='//www.redhat.com/legal/legal_statement.html' target='_blank'>Terms of Use</a>
                </li>
              </ul>
              <div class='one-half social-links'>
                <a class='social-link icon-twitter icon-only icon-in-circle' href='//www.twitter.com/red_hat_apac' target='_blank'>Twitter</a>
                <a class='social-link icon-facebook icon-only icon-in-circle' href='//www.facebook.com/RedhatAPAC' target='_blank'>Facebook</a>
                <a class='social-link icon-youtube icon-only icon-in-circle' href='//www.youtube.com/user/RedHatVideos' target='_blank'>youtube</a>
                <a class='social-link icon-linkedin icon-only icon-in-circle' href='//www.linkedin.com/groups/Red-Hat-Certified-Professionals-in-3124596?mostPopular=&amp;amp;gid=3124596' target='_blank'>LinkedIn</a>
              </div>
            </div>
          </div>
        </section>
        <section class='tertiary'>
          <div class='container'>
            <p class='copyright'>
              Copyright &copy; 2014 Red Hat, Inc.
            </p>
          </div>
        </section>
      </footer>
    </div>

    <div id="baseUrl" data-base-url="<%= baseUrl %>"></div>

    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/jquery.js'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/jquery.fitvids.js'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/jquery.fittext.js'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/jquery.scrollspy.js'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/jquery.smooth-scroll.js'></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <script src='<%= baseUrl %>/templates/forum/hub/js/leaflet-locate.js'></script>

    <script type="text/javascript">
      window.RHEvents = {};
      window.RHEvents.events = [];
      var locationName = '{{ location }}';

      {{#events}}
      (function (events) {
        var event = {};

        event['location_id'] = "{{ location_id }}";
        event['location'] = "{{ location }}";
        event['latitude'] = parseFloat("{{ latitude }}");
        event['longitude'] = parseFloat("{{ longitude }}");
        event['date'] = "{{ date }}";
        event['link'] = "{{{ link }}}";
        event['description'] = "{{ description }}";

        if ("{{ latitude }}" && "{{ longitude }}") {
          events.push(event);
        }
      })(RHEvents.events);
      {{/events}}

      window.setlectedLocation = _.find(RHEvents.events, function (event) {
        return event.location === locationName;
      });

    </script>

    <script src='<%= baseUrl %>/templates/forum/microsite/javascripts/map.js'></script>
    <script src='<%= baseUrl %>/templates/forum/microsite/javascripts/events-list.js'></script>
    <script src='<%= baseUrl %>/templates/forum/microsite/javascripts/main.js'></script>
  </body>
</html>
