.hero-layer {
  background-color: rgba(0,0,0,0.1);
  background-position: 50% 50%;
  background-size: cover;
}

.hero {
  position: relative;
  overflow: hidden;
  margin-top: 3em;

  a.top-right {
    position: absolute;
    top: $line-height * 1.5;
    right: 0;
    font-family: $font-family-input;
    color: white;
    max-width: 9em;
    line-height: 1.2em;
    padding: 1em;
    padding-left: 2.5em;
    margin-top: -0.5em;

    &:hover {
      background-color: rgba(white, 0.4);
    }

    &:before {
      position: absolute;
      left: 1em;
      top: 1.05em;
    }

    @media screen and (max-width: $breakpoint-small) {
      top: auto;
      bottom: 1em;
      font-size: 90%;
      left: 2em;
    }
  }
}

.hero-layer {
  position: absolute;
  left:0; right: 0;
  top:0; bottom: 0;
  overflow: hidden;
}

@media screen and (max-width: 1300px) {
  .hero-layer {
    width: 1300px;
    left: 50%;
    margin-left: -650px;
  }
}

h1.title {
  margin: 1em 0 0.75em;
  line-height: 1em;
  max-width: 8em;
  font-size: 4.5em;
  // color: $white;
  text-transform: uppercase;
  font-weight: bold ;
  @media screen and (max-width: $breakpoint-medium) {
    font-size: 3em;
    margin-top: 0.25em;
  }

  @media screen and (max-width: $breakpoint-small) {
    font-size: 2em;
    margin-top: 1.75em;
    font-weight: bold ;
  }
}

.event-details {
  max-width: 25em;
  width: 100%;
  box-sizing: border-box;

  h2,h4 {
    font-weight: 300;
    color: $black;
  }
  h2{letter-spacing:.082em; display:none}

  .name {
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    text-transform: uppercase;

  }

  background-color: $white;
  padding: $gutter / 2;
  display: inline-block;

  @media screen and (max-width: $breakpoint-small) {
    font-size: 0.8em;
  }
}

.register-button {
  text-transform: uppercase;
  font-size: 1.25em;
  display: block;
  border-color: #c12;
  padding: 1em;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.25em;
}
