$aside-width: 22em;

.map-panel {
  position: relative;
  height: 18em;
}

@media screen and (min-width: $breakpoint-medium) {
  .map-panel { margin-top: 4em; }
}

@media screen and (min-width: $max-width + $aside-width) {
  .map-panel {
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: $aside-width;
  }
  .wrapper {
    margin-left: $aside-width;
  }
}

@media screen and (min-width: $max-width + $aside-width) {
  .nav-menu {
    left: $aside-width;
  }
}

.event-marker-icon {
  width: 2em !important;
  height: 2em !important;
  margin: -1em !important;
  font-size: 2.5em;
  background-image: url(../images/marker.svg);
  background-size: 100%;
}

#map .event-marker-icon-current {
  background-image: none;
  width: 60% !important;

  @media screen and (max-width: $breakpoint-small) {
    svg {
      width: 75%;
      transform: translate(-10%, -60%);
    }
  }
}

.map-panel {
  .logo {
    position: absolute;
    bottom: 0;
    right: 0;
    width: $aside-width;
    height: 100%;
    background-image: url('/global-assets/images/basic-shapes/triangle.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 100%;

    img {
      position: absolute;
      right: 2em;
      bottom: 2em;
      margin: 0;
      height: auto;
      width: 35%;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
