/* ---------------- */
/* -- Crop marks -- */
/* ---------------- */
/* Default 3mm bleed @ 300dpi */
.crop-mark {
  width: 71px;
  height: 71px;
  position: absolute;
  z-index: 2; }

.crop-mark:before, .crop-mark:after {
  content: '';
  display: block;
  position: absolute;
  background-color: black; }

.crop-mark.top-left {
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.crop-mark.top-left:after {
  bottom: 0;
  left: 0;
  height: 1px;
  width: 50%; }

.crop-mark.top-left:before {
  top: 0;
  right: 0;
  width: 1px;
  height: 50%; }

.crop-mark.top-right {
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%); }

.crop-mark.top-right:after {
  bottom: 0;
  right: 0;
  height: 1px;
  width: 50%; }

.crop-mark.top-right:before {
  top: 0;
  left: 0;
  width: 1px;
  height: 50%; }

/* Bottom */
.crop-mark.bottom-left {
  bottom: 0;
  left: 0;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%); }

.crop-mark.bottom-left:after {
  top: 0;
  left: 0;
  height: 1px;
  width: 50%; }

.crop-mark.bottom-left:before {
  bottom: 0;
  right: 0;
  width: 1px;
  height: 50%; }

.crop-mark.bottom-right {
  bottom: 0;
  right: 0;
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%); }

.crop-mark.bottom-right:after {
  top: 0;
  right: 0;
  height: 1px;
  width: 50%; }

.crop-mark.bottom-right:before {
  bottom: 0;
  left: 0;
  width: 1px;
  height: 50%; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: "Overpass";
  color: #fff;
  overflow: hidden; }

body, main {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.logo {
  height: 3.75em; }

.logo img {
  height: 3em; }

.category-red-hat .bg-name {
  background-color: #cc0000; }
.category-red-hat .bg-personnel {
  background-color: #cc0000; }

.category-crew .bg-name {
  background-color: #ff9c00; }
.category-crew .bg-personnel {
  background: #ff9c00; }

.category-delegate .bg-name {
  background-color: #0092c8; }
.category-delegate .bg-personnel {
  background-color: #0092c8; }

.category-speaker .bg-name {
  background-color: #42b936; }
.category-speaker .bg-personnel {
  background-color: #42b936; }

main {
  position: relative;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }
  main:before, main .forum-bg-outline {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: 50% 50%; }
  main:before {
    content: '';
    z-index: 2;
    background-color: rgba(34, 31, 31, 0.9); }
  main .forum-bg-outline {
    background-image: url(/templates/forum/name-badges/images/background/rh-forum-polygon-outline-grey.svg);
    z-index: 2;
    opacity: 0.5; }

section {
  width: 80mm;
  height: 105mm;
  position: relative;
  z-index: 3; }
  section .logo {
    width: 70mm;
    margin: 0 5mm;
    padding: 3mm 0;
    border-bottom: 1px solid #fff; }
    section .logo object {
      width: 24mm;
      height: auto; }
  section .name {
    left: -5mm;
    right: -5mm;
    height: 22mm;
    bottom: -5mm;
    position: absolute;
    padding: 12mm 0;
    text-align: center; }
    section .name h1 {
      font-size: 24pt; }
    section .name h3 {
      font-size: 14pt; }
    section .name .bg-name {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      z-index: -1;
      opacity: 0.75; }
  section .bg-personnel {
    position: absolute;
    left: -5mm;
    right: -5mm;
    top: 55mm;
    padding: 5mm 0; }
    section .bg-personnel h2 {
      font-size: 18pt;
      text-align: center; }
  section .red-hat-forum-ico {
    width: 51mm;
    margin: 4mm 0 0 4mm; }
    section .red-hat-forum-ico svg {
      height: 100%;
      width: 100%; }
