@import '../../../global-assets/scss/fonts/overpass';
@import '../../../global-assets/scss/colors/base_color_palette';
@import '../../../global-assets/stylesheets/general/rh-logo';

body {
  main {
    padding: 0;
    position: absolute;
    top: 3mm; bottom: 3mm;
    left: 3mm; right: 3mm;
    .background-image-2a {
      position: absolute; z-index: -1;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-size: 118vw auto, cover, cover;
      background-position: -5vw -9vw, 0 0, 0 0;
      background-repeat: no-repeat, no-repeat, no-repeat;
    }
  }
}
