@import '../../../../global-assets/scss/fonts/overpass';
@import '../../../../global-assets/scss/colors/base_color_palette';

@import '../../assets/stylesheets/map';
@import '../../assets/stylesheets/colors';

body {
  font-size: 32px;
  margin: 0;
  position: relative;
  background-color: $color-grey-lighter;
  background-size: cover;
  background-repeat: no-repeat;
}

#content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 1.4em 1.7em;
  height: 7.2em;
  box-sizing: border-box;
}

.theme-light #content { background-color: rgba(240, 240, 240, 0.85); }

#map .leaflet-tile-pane {
  background-color: transparent;
}

#map.leaflet-container { background-color: rgba(0, 0, 0, 0.6); }

#map {
  box-sizing: border-box;
  bottom: 7.2em;
  height: auto;
}

#map .event-marker-icon {
  width: 1em !important;
  height: 1em !important;
  margin: -0.5em !important;
}

#map .event-marker-icon-current {
  width: 50% !important;
  height: 100% !important;

  svg { transform: translateY(-30%); }
}

#map .leaflet-objects-pane,
#map .leaflet-marker-pane,
#map .leaflet-map-pane {
  width: 100%;
  height: 100%;
}

.corner-logo {
  position: absolute;
  bottom: 7.2em;
  right: 0;
  width: 33.333%;
  top: 0;
  background-image: url('/global-assets/images/basic-shapes/triangle.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 100%;

  img {
    position: absolute;
    right: 10%;
    bottom: 10%;
    margin: 0;
    height: auto;
    width: 30%;
  }
}
