body {
  position: relative;
  font-family: 'Overpass';
  font-weight: 400;
  line-height: 1.4em;
  background-color: white;
  font-size: 14pt;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  color: white;
  margin: 0; }

body.size-120-90, body.size-180-90, body.size-125-125 {
  font-size: 7pt; }

.border {
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid white; }

.text-content {
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 3%; }
  .text-content h2 {
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.3em; }
    .text-content h2 span {
      display: block;
      font-weight: 700; }

.background-shapes.bottom {
  position: absolute;
  bottom: -0.5em;
  right: 0;
  width: 190%;
  height: 50vw; }
  .background-shapes.bottom .corner-shape-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 37.2%; }
    .background-shapes.bottom .corner-shape-bottom > svg {
      width: 100%;
      height: 100%; }
  .background-shapes.bottom .pattern-stripe {
    width: 160vw;
    height: 3em;
    position: absolute;
    left: 60%;
    top: 0;
    -webkit-transform: translate(-50%, -121.25%) rotate(-45deg);
    -ms-transform: translate(-50%, -121.25%) rotate(-45deg);
    transform: translate(-50%, -121.25%) rotate(-45deg); }
    .background-shapes.bottom .pattern-stripe svg {
      stroke: #1171b8;
      display: block; }

.pattern-background .pattern-bottom {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
.pattern-background .pattern-center {
  position: absolute;
  top: 64.5%;
  left: 0;
  right: 0; }
.pattern-background .pattern-stripe {
  width: 160vw;
  height: 3em;
  position: absolute;
  left: 92%;
  top: 50%;
  right: 0;
  -webkit-transform: translate(-50%, -121.25%) rotate(-45deg);
  -ms-transform: translate(-50%, -121.25%) rotate(-45deg);
  transform: translate(-50%, -121.25%) rotate(-45deg); }
  .pattern-background .pattern-stripe svg {
    stroke: #1171b8;
    display: block; }

.background-shapes.bottom.long {
  width: 256%; }

.branding {
  position: absolute;
  top: 40%;
  left: 9%; }
  .branding .red-hat {
    width: 10em;
    display: inline-block; }
  .branding .intel {
    display: inline-block; }
    .branding .intel img {
      width: 5em; }

.action {
  position: absolute;
  top: 60%;
  left: 9%; }
  .action .button {
    background: white;
    color: #1171b8;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5em 0.8em;
    font-weight: 600;
    border: 2px solid white; }
    .action .button:hover {
      background: none;
      color: white; }

body.size-120-90 .branding {
  top: 10%; }

body.size-120-600 {
  font-size: 8pt; }
  body.size-120-600 .background-shapes.bottom.long {
    width: 600%; }
  body.size-120-600 .pattern-background .pattern-stripe {
    left: 55%;
    top: 90%; }
  body.size-120-600 .branding {
    top: 75%; }
  body.size-120-600 .action {
    top: 93%; }

body.size-125-125 .branding {
  top: 20%; }

body.size-160-600 {
  font-size: 10.5pt; }
  body.size-160-600 .background-shapes.bottom.long {
    width: 600%; }
  body.size-160-600 .pattern-background .pattern-center {
    top: 53%; }
  body.size-160-600 .pattern-background .pattern-stripe {
    left: 55%;
    top: 50%; }
  body.size-160-600 .branding {
    top: 65%; }
  body.size-160-600 .action {
    top: 90%; }

body.size-180-90 .branding {
  top: 30%;
  left: 7%; }

body.size-240-400 {
  font-size: 9pt; }
  body.size-240-400 .background-shapes.bottom.long {
    width: 155%; }
  body.size-240-400 .pattern-background .pattern-stripe {
    width: 220vw;
    left: 60%;
    top: 90%; }
  body.size-240-400 .branding {
    top: 85%; }
  body.size-240-400 .action {
    top: 30%; }
  body.size-240-400 .text-content {
    left: 9%; }
    body.size-240-400 .text-content h2 {
      font-size: 11pt; }

body.size-300-100, body.size-300-600 {
  font-size: 11.5pt; }

body.size-300-600 .text-content {
  left: 9%; }
  body.size-300-600 .text-content h2 {
    font-size: 14pt; }
body.size-300-600 .background-shapes.bottom.long {
  width: 210%; }
body.size-300-600 .pattern-background .pattern-stripe {
  left: 62%;
  top: 80%; }
body.size-300-600 .branding {
  top: 85%; }
body.size-300-600 .action {
  top: 25%; }

body.size-300-100 .branding {
  top: 20%; }

body.size-336-280 {
  font-size: 10pt; }
  body.size-336-280 .background-shapes.bottom {
    width: 170%; }
  body.size-336-280 .pattern-background .pattern-bottom {
    right: 25%; }
    body.size-336-280 .pattern-background .pattern-bottom .pattern-stripe {
      left: 105%; }
  body.size-336-280 .branding {
    top: 55%;
    left: 32%; }
  body.size-336-280 .action {
    top: 85%;
    left: 58%; }

body.size-468-60 {
  font-size: 9pt; }
  body.size-468-60 .branding {
    top: 10%; }
  body.size-468-60 .action {
    top: 37%;
    left: 65%; }

body.size-720-300 .background-shapes.bottom {
  width: 150%; }
  body.size-720-300 .background-shapes.bottom .pattern-stripe {
    left: -0.5em; }
body.size-720-300 .branding {
  top: 40%;
  left: 56%; }
body.size-720-300 .action {
  top: 75%;
  left: 57%; }

body.size-728-90 .branding {
  top: 9%; }
body.size-728-90 .action {
  top: 37%;
  left: 65%; }
