body {
  margin: 0;
  font-family: "Overpass"; color: #fff;
  .logo-area {
    width: 80%;
    position: absolute; z-index: 1;
    top:10%; transform: translateY(-50%);
    left:50%; transform: translateX(-50%);
  }
}

#map{
  &.leaflet-container { background-color:#fff !important; }

  path.road { stroke:#eee !important; }
  path.water {
    stroke: #eee !important;
    fill: #eee !important;
  }
}
