body { font-size: 10pt; }

.background-shapes {
  &.top { width: 84vw; }
  &.bottom { 
    width: 84vw;
    .pattern-stripe { left: 40%; }
  }
}

.branding {
  top: 35%;
  left: 16%;
}

.action {
  top: 55%;
  left: 16.5%;
}
