---
width: 3708px
height: 5103px
---


<!DOCTYPE html>
<html
  style="height: 5184px; width: 3708px; padding: 60px">

  <!-- DPI ratio mm:px is Actually 1:11.811023622 -->

  <head>
    <meta charset='utf-8'>

    <link href='<%= baseUrl %>/global-assets/stylesheets/print/crop-marks.css?v<%= version %>' rel='stylesheet' />
    <link href='<%= baseUrl %>/templates/forum/assets/stylesheets/map.css?v<%= version %>' rel='stylesheet' />
    <link href='<%= baseUrl %>/templates/forum/assets/stylesheets/vendor/leaflet.css?v<%= version %>' rel='stylesheet' />
    <link href='<%= baseUrl %>/templates/forum/assets/stylesheets/events-list.css?v<%= version %>' rel='stylesheet' />
    <link href='<%= baseUrl %>/templates/registration-boards/a3/stylesheets/main.css?v<%= version %>' media='all' rel='stylesheet'>
  </head>

  <body
    style="height: 5103px; width:3650px; padding: 35.5px; position: relative">
    <main style="height: 5032px; width: 3579px;  padding: 35.5px;">
    <!-- Finished, cropped area = 3508 x 4961 pixels. 35.5px = 3mm bleed -->



    <div id="map"></div>

    <div class="black-bg"></div>

    <div class="text">
      <div class="title">
        <h1>{{ title }}</h1>
      </div>
      <div class="sub-title">
        <h2>{{ sub-title }}</h2>
      </div>
    </div>

    <div id="bottom-section">
      <div class="events-list">
        <a class="event clearfix" href="{{{ link }}}" target="_blank">
          <div class="date">
            <img src='<%= baseUrl %>/templates/forum/assets/images/space.svg' />
            <div class="text-content">
              <svg class="month" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 18">
                <text fill="white" x="50%" y="12.5" font-size="9" text-anchor="middle">
                  {{ date }}
                </text>
              </svg>
              <svg class="month" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 18">
                <text fill="white" x="50%" y="12.5" font-size="9" text-anchor="middle">
                  {{ month }}
                </text>
              </svg>
            </div>
          </div>
          <div class="location clearfix">
            <div class="text-content">{{ location }}</div>
          </div>
        </a>
      </div>

      <div class="sponsors">
            <ul class="main-sponsors">
              <li class="hdr-title-sponsor"><p>principal sponsors</p></li>
              <li class="left"><img src="{{{ main-sponsor }}}" alt="main sponsor"></li>
              <li class="right"><img src="{{{ main-sponsor }}}" alt="main sponsor"></li>
            </ul><!--ul.main-sponsors-->

            <div id="separator">
            </div>

            <ul class="joint-sponsors">
              <li class="hdr-title-sponsor"><p>joint sponsors</p></li>
              <li class="left"><img src="{{{ joint-sponsor }}}" alt="joint sponsor"></li>
               <li class="right"><img src="{{{ joint-sponsor }}}" alt="joint sponsor"></li>
            </ul><!--ul.joint-sponsors-->
          </div><!--.sponsors-->

    </div>

    <div id="baseUrl" data-base-url="<%= baseUrl %>"></div>
    <div id="locationName" data-location-name="{{ location }}"></div>

    <div class='crop-mark top-left'></div>
    <div class='crop-mark top-right'></div>
    <div class='crop-mark bottom-left'></div>
    <div class='crop-mark bottom-right'></div>

    <!-- Params we may expose -->
    <div style="display: none" id="zoom" data-zoom="14"></div>
    <div style="display: none" id="offsetLatitude" data-offset-lat="0"></div>
    <div style="display: none" id="offsetLongitude" data-offset-lon="0.14"></div>
    <!-- /Params we may expose -->

    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/jquery.js?v<%= version %>'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/lodash.js?v<%= version %>'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/leaflet.js?v<%= version %>'></script>
    <script src='<%= baseUrl %>/templates/forum/assets/javascripts/print-map.js?v<%= version %>'></script>
    <script src='<%= baseUrl %>/templates/forum/assets/javascripts/print-events-list.js?v<%= version %>'></script>

  </body>
</html>
