html {
  width: 420mm;
  height: 460mm;
  padding: 5mm;
  font-family: "Overpass";
  color: #fff;
  overflow: hidden; }

body {
  width: 410mm;
  height: 450mm;
  padding: 5mm; }

section.main-panel {
  width: 330mm;
  height: 450mm; }
  section.main-panel .img-bg {
    width: 350mm;
    height: 470mm;
    position: absolute;
    z-index: -1;
    margin: -10mm 0 0 -10mm;
    overflow: hidden; }
  section.main-panel .rh-main-logo {
    width: 87mm;
    margin: auto; }
    section.main-panel .rh-main-logo object {
      width: 87mm;
      height: auto;
      margin: 72mm 0 0 0; }
  section.main-panel .rhf-ico {
    width: 171mm;
    height: auto;
    margin: auto; }
    section.main-panel .rhf-ico object {
      width: 171mm;
      height: auto;
      margin: 63mm 0 0 0; }
    section.main-panel .rhf-ico .forum-venue {
      position: absolute;
      margin: -27mm 0 0 74mm;
      font-size: 31pt;
      color: #000; }
  section.main-panel .sponsors {
    width: 252mm;
    height: 60mm;
    margin: 107mm auto 0 auto;
    padding: 10mm 0 0 0;
    border-top: 1px solid #ccc; }
    section.main-panel .sponsors ul.main-sponsors {
      float: left; }
      section.main-panel .sponsors ul.main-sponsors li {
        float: left;
        width: 27mm;
        height: 27mm;
        margin: 0 2mm 0 0;
        display: block; }
    section.main-panel .sponsors ul.joint-sponsors {
      float: right; }
      section.main-panel .sponsors ul.joint-sponsors li {
        float: left;
        width: 27mm;
        height: 27mm;
        margin: 0 0 0 2mm;
        display: block; }
    section.main-panel .sponsors li.hdr-title-sponsor {
      float: none !important;
      width: 60mm !important;
      height: 10mm !important;
      font-size: 14pt;
      color: #000;
      background: none !important; }
    section.main-panel .sponsors li img {
      width: 27mm;
      height: 27mm; }

/*section.main-panel*/
section.side-panel {
  width: 90mm;
  height: 470mm;
  position: absolute;
  z-index: -1;
  margin: -10mm 0 0 330mm;
  text-indent: -9999mm;
  background: #cc0000; }
