$page-margin: 1.75em;

body {
  position: relative;
  font-family: 'Overpass';
  font-weight: 400;
  line-height: 1.4em;
  background-color: white;
  font-size: 14pt;
  box-sizing: border-box;
  overflow: hidden;
  color: white;
  margin: 0;
}

body.size-120-90,
body.size-180-90,
body.size-125-125 { font-size: 7pt; }

.border {
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid white;
}

.text-content {
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 3%;
  
  h2 {
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.3em;

    span {
      display: block;
      font-weight: 700;
    }
  }
}

.background-shapes.bottom {
  position: absolute;
  bottom: -0.5em;
  right: 0;
  width: 190%;
  height: 50vw;
  
  .corner-shape-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 37.2%;
    
    & > svg {
      width: 100%;
      height: 100%;
    }
  }
  
  .pattern-stripe {
    width: 160vw;
    height: 3em;
    position: absolute;
    left: 60%;
    top: 0;
    transform: translate(-50%, -121.25%) rotate(-45deg);
    
    svg { 
      stroke: #1171b8; 
      display: block; 
    }
  }
}

.pattern-background {
  
  .pattern-bottom {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .pattern-center {
    position: absolute;
    top: 64.5%;
    left: 0;
    right: 0;
  }
  
  .pattern-stripe {
    width: 160vw;
    height: 3em;
    position: absolute;
    left: 92%;
    top: 50%;
    right: 0;
    -webkit-transform: translate(-50%, -121.25%) rotate(-45deg);
    -ms-transform: translate(-50%, -121.25%) rotate(-45deg);
    transform: translate(-50%, -121.25%) rotate(-45deg);
    
    svg {
      stroke: #1171b8; 
      display: block; 
    }
  }
}

.background-shapes.bottom.long { width: 256%; }

.branding {
  position: absolute;
  top: 40%;
  left: 9%;
  
  .red-hat { 
    width: 10em;
    display: inline-block;
  }
  
  .intel {
    display: inline-block;
    
    img { width: 5em; }
  }
}

.action {
  position: absolute;
  top: 60%;
  left: 9%;
  
  .button {
    background: white;
    color: #1171b8;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5em 0.8em;
    font-weight: 600;
    border: 2px solid white;
    
    &:hover {
      background: none;
      color: white;
    }
  }
}

// Size 120 X 90

body.size-120-90 {
  .branding { top: 10%; }
}

// Size 120 X 600

body.size-120-600 {
  font-size: 8pt;
  
  .background-shapes.bottom.long { width: 600%; }
  
  .pattern-background .pattern-stripe {
    left: 55%;
    top: 90%;
  }
  
  .branding { top: 75%; }
  
  .action { top: 93%; }
}

// Size 125 X 125

body.size-125-125 {
  .branding { top: 20%; }
}

// Size 160 X 600

body.size-160-600 {
  font-size: 10.5pt;
  
  .background-shapes.bottom.long { width: 600%; }
  
  .pattern-background .pattern-center { top: 53%; }
  
  .pattern-background .pattern-stripe {
    left: 55%;
    top: 50%;
  }
  
  .branding { top: 65%; }
  
  .action { top: 90%; }
}

// Size 180 X 90

body.size-180-90 {
  .branding {
    top: 30%;
    left: 7%; 
  }
}

// Size 240 X 400

body.size-240-400 {
  font-size: 9pt;
  
  .background-shapes.bottom.long { width: 155%; }
  
  .pattern-background .pattern-stripe {
    width: 220vw;
    left: 60%;
    top: 90%;
  }
  
  .branding { top: 85%; }
  
  .action { top: 30%; }
  
  .text-content {
    left: 9%;
    
    h2 { font-size: 11pt; }
  }
}

// Size 300 X 100 & 300 X 600

body.size-300-100,
body.size-300-600, {
  font-size: 11.5pt;
}

body.size-300-600 {
  
  .text-content {
    left: 9%;
    
    h2 { font-size: 14pt; }
  }
  
  .background-shapes.bottom.long { width: 210%; }
  
  .pattern-background .pattern-stripe {
    left: 62%;
    top: 80%;
  }
  
  .branding { top: 85%; }
  
  .action { top: 25%; }
}

body.size-300-100 {  
  .branding { top: 20%; }
}

// Size 336 X 280

body.size-336-280 {
  font-size: 10pt;
  
  .background-shapes.bottom { width: 170%; }
  
  .pattern-background .pattern-bottom {
    right: 25%;
    
    .pattern-stripe { left: 105%; }
  }
  
  .branding { 
    top: 55%;
    left: 32%;
  }
  
  .action {
    top: 85%;
    left: 58%;
  }
}

// Size 468 X 60

body.size-468-60 {
  font-size: 9pt;
  
  .branding { top: 10%; }
  
  .action {
    top: 37%;
    left: 65%;
  }
}

// Size 720 X 300

body.size-720-300 {
  
  .background-shapes.bottom {
    width: 150%;
    
    .pattern-stripe { left: -0.5em; }
  }
  
  .branding { 
    top: 40%;
    left: 56%; 
  }
  .action { 
    top: 75%;
    left: 57%;
  }
}

// Size 728 X 90

body.size-728-90 {
  
  .branding { top: 9%; }
  
  .action {
    top: 37%;
    left: 65%;
  }
}
