@import '../../../../global-assets/scss/colors/base_color_palette';

#content {
  color: $color-white;
  background-color: rgba($color-black, 0.85);
}
.theme-light #content {
  color: $color-grey-dark;
  background-color: rgba($color-grey-lighter, 0.85);
}

#map {
  &.leaflet-container { background-color: rgba(0, 0, 0, 0.6); }

  path.road {
    stroke: $color-grey-dark;
  }
  path.water {
    stroke: $color-grey-dark;
    fill: $color-grey-dark;
  }
}

.theme-light #map {
  &.leaflet-container { background-color: rgba($color-grey-lighter, 0.4); }

  path.road {
    stroke: $color-grey-lighter;
  }
  path.water {
    stroke: $color-grey-lighter;
    fill: $color-grey-lighter;
  }

  .event-marker-icon-current .text {
    fill: $color-black !important;
  }
}

.lower-contrast.theme-light #map {
  path.road {
    stroke: $color-white;
  }
  path.water {
    stroke: $color-white;
    fill: $color-white;
  }
}

.low-contrast #map.leaflet-container { background-color: rgba($color-black, 0.85); }
.theme-light.low-contrast #map.leaflet-container { background-color: rgba(204, 204, 204, 0.85); }

.lower-contrast #map.leaflet-container { background-color: rgba($color-black, 0.95); }
.theme-light.lower-contrast #map.leaflet-container { background-color: rgba(255, 255, 255, 0.95); }

.theme-light .center-logo:before { content: url('/global-assets/images/logos/rh-logo-black.svg'); }
