@import '../../../../global-assets/scss/fonts/overpass';
@import '../../../../global-assets/scss/utils/clearfix';

.events-list {
  .event {
    position: relative;
    display: block;
    margin: 0;
    text-decoration: none;
  }

  .location .outer-letter {
    display: block;
    position: relative;
    float: left;

    .svgs {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    svg {
      height: 91%;
    }
  }

  .location .outer-letter,
  .event .date {
    .space { content: url("../images/letters/space.svg"); }

    svg text, {
      font-family: 'Overpass', 'Helvetica', 'Verdana', sans-serif;
    }
  }

  .event .date {
    float: left;
    font-family: sans-serif;
    text-transform: uppercase;
    line-height: 1;
    color: white;
    text-align: center;
    position: relative;

    .text-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      svg {
        width: 100%;
        height: 47%;
        display: block;
      }
    }
  }

  .event .location span:after,
  .event .date:after {
    display: block;
  }
}
