@import '../../../../global-assets/scss/colors/base_color_palette';
@import 'vendor/leaflet';

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .leaflet-objects-pane,
  .leaflet-marker-pane,
  .leaflet-map-pane {
    width: 100%;
    height: 100%;
  }

  .event-marker-icon {
    width: 2em !important;
    height: 2em !important;
    margin: -1em !important;
    font-size: 2.5em;
    background-size: 100%;
  }

  .event-marker-icon-current {
    width: 50% !important;
    height: 50% !important;

    svg { transform: translateY(-50%); }
  }
}

#map {
  path {
    stroke-linejoin: round;
    stroke-linecap: round;
    fill: none;
  }
}
