@import '../../../global-assets/scss/reset';
@import '../../../global-assets/scss/crop_marks';
@import '../../../global-assets/scss/fonts/overpass';
@import '../../../global-assets/scss/colors/base_color_palette';


html {
  padding: 5mm;
}

body {
  background-size: cover;
  margin-left:auto;
  margin-right:auto;
  border: 1px solid red;
  position:relative;
}

body:after {
  content: '';
  display: block;
  position: absolute;
  left: 5mm;
  right: 5mm;
  top: 5mm;
  bottom: 5mm;
  border: 1px solid lightblue;
}

.brand,
.campaign {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index:-1;
}
.brand,
.campaign { display: none }
.rh-theme-brand .brand { display: block; }
.rh-theme-campaign .campaign { display: block; }

/*----------------TYPOGRAPHY--------------------*/

.title h1,
.cta,
.long-copy{
    font-family:'Overpass', 'Interstate', sans-serif;
  }



.title h1,
.cta h2 {
    text-transform:uppercase;
    text-align:left;
}


.title {
  display:block;


  h1 {
    font-size:160px;
    line-height:0.9em;
    font-weight:bold;
    color:$color-grey-dark;

  }
}


.cta {

    background-color:white;
    height:50px;
    margin-top:25px;
    float:left;


      h2 {
        font-size: 140%;
        color:$color-rh-red;
        padding:15px 10px 0 10px;
        text-align:center;
        margin:0;

      }
}


.long-copy {
    font-size:16px;
    width:600px;
    padding-left:103px;
    padding-top:110px;
    line-height:1.6em;
    color:white;
}



.rh-logos {
    svg {
      width:250px;
      height:100px;
      position:absolute;
      bottom:10px;
    }
}







/*----------------PORTRAIT--------------------*/



@media all and (orientation: portrait){

html {
  width:317mm;
  height:440mm;
}

body {
  width:307mm;
  height:430mm;

}

.title {

  h1 {
    width:65%;
    padding-left:100px;
    padding-top:200px;
  }
}

.cta {
  margin-left:103px;

}


.rh-logos {

    svg{
  right:80px;
  }
}

}




/*-------LANDSCAPE----------*/

@media all and (orientation: landscape){

html {
  width:440mm;
  height:317mm;
}

body {
  width:430mm;
  height:307mm;

}

.title h1 {
    padding-top:140px;
    width:60%;
    padding-left:9%;
}

.cta {
    margin-left:150px;
}


.long-copy {
    padding-left:150px;
}



.rh-logos {
  svg{
    right:80px;
  }
}

}
