@font-face {
  font-family: 'Overpass';
  src: url('/global-assets/fonts/overpass/overpass_bold-webfont.eot');
  src: url('/global-assets/fonts/overpass/overpass_bold-webfont.eot?#iefix') format('embedded-opentype'), url('/global-assets/fonts/overpass/overpass_bold-webfont.woff') format('woff'), url('/global-assets/fonts/overpass/overpass_bold-webfont.ttf') format('truetype'), url('/global-assets/fonts/overpass/overpass_bold-webfont.svg#overpassbold') format('svg');
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Overpass';
  src: url('/global-assets/fonts/overpass/overpass_light-webfont.eot');
  src: url('/global-assets/fonts/overpass/overpass_light-webfont.eot?#iefix') format('embedded-opentype'), url('/global-assets/fonts/overpass/overpass_light-webfont.woff') format('woff'), url('/global-assets/fonts/overpass/overpass_light-webfont.ttf') format('truetype'), url('/global-assets/fonts/overpass/overpass_light-webfont.svg#overpasslight') format('svg');
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Overpass';
  src: url('/global-assets/fonts/overpass/overpass_regular-webfont.eot');
  src: url('/global-assets/fonts/overpass/overpass_regular-webfont.eot?#iefix') format('embedded-opentype'), url('/global-assets/fonts/overpass/overpass_regular-webfont.woff') format('woff'), url('/global-assets/fonts/overpass/overpass_regular-webfont.ttf') format('truetype'), url('/global-assets/fonts/overpass/overpass_regular-webfont.svg#overpassregular') format('svg');
  font-weight: 600;
  font-style: normal; }

.background-shapes {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.background-shapes .corner-shape {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0; }
  .background-shapes .corner-shape .shape {
    width: 100%;
    height: 100%; }

.background-shapes .center-shape {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .background-shapes .center-shape .shape {
    width: 100%;
    height: 100%; }

.shape-filled {
  fill: #c00; }

.shape-darker .shape-filled {
  fill: #990000; }

.shape-multiplied {
  mix-blend-mode: multiply; }

.shape-lightened {
  mix-blend-mode: lighten; }

.shape-darkened {
  mix-blend-mode: darken; }

.shape-screened {
  mix-blend-mode: screen; }

.center-shape, .corner-shape {
  display: none; }

.background-style-center .center-shape {
  display: block; }

.background-style-corner .corner-shape {
  display: block; }

.background-style-center .shape-show-both, .background-style-corner .shape-show-both {
  display: block; }

pattern.normal use {
  stroke: #c00;
  fill: none; }

pattern.light use {
  stroke: #fff;
  fill: none; }

pattern.dark use {
  stroke: #000;
  fill: none; }

.brand-pattern-paths path, .pattern-path {
  stroke-width: 1;
  fill: none; }

.brand-pattern {
  display: none; }

.brand-pattern-corporate .brand-pattern.corporate {
  display: block; }

.brand-pattern-storage .brand-pattern.storage {
  display: block; }

.brand-pattern-infrastructure .brand-pattern.infrastructure {
  display: block; }

.brand-pattern-cloud-infrastructure .brand-pattern.cloud-infrastructure {
  display: block; }

.brand-pattern-development .brand-pattern.development {
  display: block; }

.brand-pattern-cloud-development .brand-pattern.cloud-development {
  display: block; }

.brand-pattern-business-process .brand-pattern.business-process {
  display: block; }

.brand-pattern-services .brand-pattern.services {
  display: block; }

.brand-pattern-partners .brand-pattern.partners {
  display: block; }

.brand-pattern-community .brand-pattern.community {
  display: block; }

html {
  font-family: 'Overpass', 'Interstate', 'Helvetica', 'Arial', sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  height: 100%; }

body {
  overflow: hidden;
  position: relative;
  padding: 0;
  margin: 0;
  color: white; }

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.background-shapes .corner-shape {
  width: 250px;
  height: 250px; }

.product-branding svg {
  width: 100%;
  fill: white; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  line-height: 1.25em; }

h1 {
  font-size: 1.5em; }

h2 {
  font-size: 1.333em; }

h3 {
  font-size: 1.25em; }

.outer-wrapper {
  position: absolute;
  left: 1em;
  right: 1em;
  bottom: 1em;
  top: 1em; }

.text-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 6em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-hyphens: manual; }

.branding {
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
  height: 3em; }

.branding .redhat-logo {
  width: 8em;
  fill: white; }

.call-to-action {
  padding: 0.5em 0.75em;
  border: thin solid;
  text-transform: uppercase;
  line-height: 1em;
  display: inline-block; }

/* 300 X 600 The base style */
.size-300-600 {
  width: 300px;
  height: 600px; }

/* 300 X 100 */
.size-300-100 {
  width: 300px;
  height: 100px;
  font-size: 10px;
  line-height: 1.5em; }

.size-300-100 .branding {
  top: auto;
  bottom: -0.5em;
  left: auto;
  right: 0;
  width: 10em;
  height: 3.5em; }

.size-300-100 .branding svg {
  height: 3.5em; }

.size-300-100 .call-to-action {
  left: 0;
  right: auto; }

.size-300-100 .text-wrapper {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  bottom: 3em;
  top: -0.2em; }

/* 125 X 125 */
.size-125-125 {
  width: 125px;
  height: 125px; }

.size-125-125 .text-wrapper, .size-125-125 .call-to-action {
  display: none; }

.size-125-125 .branding {
  left: -1.75em;
  right: 0;
  top: 50%;
  bottom: 0;
  height: 1.5em;
  margin-top: -0.8em; }

.size-125-125 .branding svg {
  height: 1.5em; }

/* 468 X 60 */
.size-468-60 {
  width: 468px;
  height: 60px;
  font-size: 10px;
  line-height: 1.5em; }

.size-468-60 .call-to-action {
  display: none; }

.size-468-60 .text-wrapper {
  right: 11em;
  bottom: auto; }

.size-468-60 .branding {
  width: 9.75em;
  height: 3.5em;
  right: 0;
  left: auto; }

.size-468-60 .branding svg {
  width: 9.75em;
  height: 3.5em; }

/* 728 X 90 */
.size-728-90 {
  width: 728px;
  height: 90px;
  font-size: 15px;
  line-height: 1.5em; }
  .size-728-90[class*="campaign"] {
    background-size: 728px 728px; }

.size-728-90 .text-wrapper {
  right: 9.5em;
  bottom: 0; }

.size-728-90 .call-to-action {
  font-size: 0.8em;
  line-height: 1em;
  position: fixed;
  right: 1em;
  top: 1em; }

.size-728-90 .branding {
  width: 7em;
  height: 2em;
  left: auto;
  right: 0; }

.size-728-90 .branding svg {
  width: 7em;
  height: 2.5em; }

/* 180 X 90 */
.size-180-90 {
  width: 180px;
  height: 90px;
  font-size: 10px;
  line-height: 1.5em; }

.size-180-90 .text-wrapper {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  bottom: 3em;
  top: -0.2em; }

.size-180-90 .text {
  font-size: 0.8em; }

.size-180-90 .call-to-action {
  left: 0;
  right: auto;
  border: none;
  padding: 0.3em 0; }

.size-180-90 .branding {
  width: 7em;
  height: 2.5em;
  left: auto;
  right: 0;
  bottom: 0;
  top: auto; }

.size-180-90 .branding svg {
  width: 7em;
  height: 2.5em; }

/* 160 X 600 */
.size-160-600 {
  width: 160px;
  height: 600px;
  font-size: 12px;
  line-height: 1.5em; }

.size-160-600 .text-wrapper {
  bottom: 8em; }

.size-160-600 .call-to-action {
  left: 0;
  right: 0;
  bottom: 0.5em; }

/* 120 X 600 */
.size-120-600 {
  width: 120px;
  height: 600px;
  font-size: 10px;
  line-height: 1.5em; }

.size-120-600 .text-wrapper {
  bottom: 8em; }

.size-120-600 .branding {
  height: 3.3em; }

.size-120-600 .branding svg {
  height: 3.3em; }

.size-120-600 .call-to-action {
  left: 0;
  right: 0;
  bottom: 0.5em; }

/* 240 X 400 */
.size-240-400 {
  width: 240px;
  height: 400px;
  font-size: 16px;
  line-height: 1.5em; }

.size-240-400 .text-wrapper {
  bottom: 8em;
  top: 1em; }

.size-240-400 .branding {
  height: 3em; }

.size-240-400 .branding svg {
  height: 3em; }

.size-240-400 .call-to-action {
  bottom: 0.5em; }

/* 336 X 280 */
.size-336-280 {
  width: 336px;
  height: 280px;
  font-size: 14px;
  line-height: 1.5em; }

.size-336-280 .text-wrapper {
  bottom: 2em;
  top: 1em; }

.size-336-280 .branding {
  height: 3.5em; }

.size-336-280 .branding svg {
  height: 3.5em; }

.size-336-280 .call-to-action {
  bottom: 0.5em; }

/* 720 X 300 */
.size-720-300 {
  width: 720px;
  height: 300px;
  font-size: 18px;
  line-height: 1.5em; }

.size-720-300 .text-wrapper {
  bottom: 2em;
  top: 2em; }

.size-720-300 .branding {
  height: 3.5em; }

.size-720-300 .branding svg {
  height: 3.5em; }

/* 120 X 90 */
.size-120-90 {
  width: 120px;
  height: 90px;
  font-size: 10px;
  line-height: 1.5em; }

.size-120-90 .text-wrapper {
  display: none; }

.size-120-90 .call-to-action {
  left: 0; }

.size-120-90 .branding {
  height: 3.5em;
  left: 0;
  top: 1.8em; }

.size-120-90 .branding svg {
  height: 3.5em; }
