@import "../../../../../global-assets/scss/reset";
@import "../../../../../global-assets/scss/colors/base_color_palette";
@import "../../../../../global-assets/scss/colors/flat_color_themes";
@import '../../../../../global-assets/stylesheets/general/rh-logo';
@import '../../../assets/stylesheets/map';
@import '../../../assets/stylesheets/colors';

body {
  position: relative; margin: 0;
  font-family: "Overpass"; color: #fff;
  main {
    position: absolute;
    top: 3mm; bottom: 3mm;
    left: 3mm; right: 3mm;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    .rh-logo {
      height: 25vw; width: 25vw;
      position: absolute; bottom: 0; right: 0;
      object {
        height: 25vw; width: 25vw;
        position: absolute; bottom: 0; left: 0;
      }
    }
    #map .leaflet-tile-pane {
      background-color: transparent;
    }

    #map {
      height: 100%;
      box-sizing: border-box;
    }

  }
}
