
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <link href='http://redhatbrand.github.io/RedHatTemplates/templates/miscellaneous/social-media-2a/stylesheets/main.css' rel='stylesheet'>
  </head>
  <body class='rh-theme-{{ category }} {{ avatar-option }}'
    style="
      width: 1500px;
      height: 500px;
      background-image: url('http://redhatbrand.github.io/RedHatTemplates/global-assets/images/category-shapes/solid-stripe-corporate.svg'),
                        url('http://redhatbrand.github.io/RedHatTemplates/global-assets/images/category-shapes/pattern-stripe-corporate.svg'),
                        url('http://redhatbrand.github.io/RedHatTemplates/global-assets/images/category-shapes/solid-center-bar-corporate-820000.svg'),
                        url('{{bg-social-media}}');
      background-blend-mode: hard-light, normal, multiply, multiply;
      background-size: 100%, 47%, 120%, cover;
      background-position: -40% 84%, -8% center, center, center;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    ">
    <main>
      <div class="info-container">
        <div class="info">
          <h1>Freedom Scales</h1>
          <p>Open technology.<br />Constant improvement. Long text.<br />Complete control.</p>
          <p class="call-to-action">Call to Action</p>
        </div>
      </div>
    </main>
  </body>
</html>
