<% include /shared-partials/patterns/patterns.svg %>
<% include /shared-partials/shapes/shapes.svg %>

<div class='background background-shapes brand-pattern-{{ brand-pattern }}'>
  <div class="corner-shape shape-multiplied">
    <svg 
      class="shape shape-filled" 
      preserveAspectRatio="xMidYMid slice" 
      width="500" 
      height="500" 
      viewBox="0 0 500 500">
      <use xlink:href="#shape-triangle"></use>
    </svg>
  </div>

  <div class="corner-shape">
    <svg 
      class="shape shape-filled" 
      preserveAspectRatio="xMidYMid slice" 
      width="500" 
      height="500" 
      viewBox="-90 -90 500 500">
      <use xlink:href="#shape-triangle"></use>
    </svg>
  </div>

  <div class="corner-shape">
    <svg 
      class="shape brand-pattern {{ brand-pattern }}" 
      preserveAspectRatio="xMidYMid slice" 
      width="500" 
      height="500" 
      viewBox="0 0 500 500">
      <use xlink:href="#shape-stripe"></use>
    </svg>
  </div>

  <div class="center-shape shape-multiplied">
    <svg 
      class="shape shape-filled" 
      preserveAspectRatio="xMidYMid slice" 
      width="500" 
      height="500" 
      viewBox="0 0 500 500">
      <use xlink:href="#shape-bar"></use>
    </svg>
  </div>
</div>
