<div class='background background-shapes brand-pattern-{{ brand-pattern }}'>
  <div class="corner-shape">
    <% include /shared-partials/shapes/triangle.svg %>
  </div>

  <div class="corner-shape">
    <% include /shared-partials/patterns/business-process.svg %>
    <% include /shared-partials/patterns/cloud-development.svg %>
    <% include /shared-partials/patterns/cloud-infrastructure.svg %>
    <% include /shared-partials/patterns/community.svg %>
    <% include /shared-partials/patterns/corporate.svg %>
    <% include /shared-partials/patterns/development.svg %>
    <% include /shared-partials/patterns/infrastructure.svg %>
    <% include /shared-partials/patterns/partners.svg %>
    <% include /shared-partials/patterns/services.svg %>
    <% include /shared-partials/patterns/storage.svg %>
  </div>

  <div class="center-shape shape-multiplied">
    <% include /shared-partials/shapes/bar.svg %>
  </div>
</div>
