<div class='background background-shapes brand-pattern-{{ brand-pattern }}'>
  <div class="corner-shape">
    <% include /shared-partials/shapes/triangle.svg %>
  </div>

  <div class="corner-shape">
    <% include /shared-partials/patterns/expanded/business-process-expanded.svg %>
    <% include /shared-partials/patterns/expanded/cloud-development-expanded.svg %>
    <% include /shared-partials/patterns/expanded/cloud-infrastructure-expanded.svg %>
    <% include /shared-partials/patterns/expanded/community-expanded.svg %>
    <% include /shared-partials/patterns/expanded/corporate-expanded.svg %>
    <% include /shared-partials/patterns/expanded/development-expanded.svg %>
    <% include /shared-partials/patterns/expanded/infrastructure-expanded.svg %>
    <% include /shared-partials/patterns/expanded/partners-expanded.svg %>
    <% include /shared-partials/patterns/expanded/services-expanded.svg %>
    <% include /shared-partials/patterns/expanded/storage-expanded.svg %>
  </div>

  <div class="center-shape shape-multiplied">
    <% include /shared-partials/shapes/bar.svg %>
  </div>
</div>
