html{
	width:340mm; height:460mm; padding:5mm;
	font-family:"Overpass"; color:#fff;
	overflow:hidden;
	border:1px dotted #00f;
	background:#ff0;
}

body{
	width:330mm; height:450mm; padding:5mm;
	background:#f2f2f3;
	border:1px dotted #ff0;
}

section{
	width:330mm; height:450mm;
	background:#f00;
} /*section*/
