html{
	width:340mm; height:460mm; padding:5mm;
	font-family:"Overpass"; color:#fff;
	overflow:hidden;
	background:#888;
}

body{
	width:330mm; height:450mm; padding:5mm;
	background:#ff0;
}

section{
	width:330mm; height:450mm;
	background:#fff;
	.rh-main-logo{
		width:87mm;
		margin:0 auto;
		object{
			width:87mm; height:auto;
			margin:72mm 0 0 0;
		}
	}
} /*section*/
