@import '../../../../../global-assets/scss/utils/grid';
@import '../../../../../global-assets/scss/fonts/overpass';
@import '../../../../../global-assets/scss/colors/base_color_palette';

// ## Colours

$color-primary:             #c12;
$color-primary-light:       lighten($color-primary, 30%);
$color-primary-dark:        darken($color-primary, 30%);

$black:                     hsl(0,0%,9%);

body {
  position: relative;
  font-family: 'Overpass';
  color:white;
}
main { display: block }
p { margin: 0.333em 0 0.75em; }



.title {
  height:16%;
  width:66%;
  margin-left:2.5%;

  h1 { 
    font-size: 60em; 
    margin-top:1em;
    margin-bottom:0;
    font-weight:700;
    text-transform:uppercase;
    line-height:1em;
    }

  h2 { 
    font-size: 30em;
    font-weight: 300; 
    margin-top:0;
    }
}

.directional-arrow {
  height:20%;
  width:50%;

  h3 {
    font-size: 380em;
    font-weight: 300;
    margin: 0;
    line-height:1em;
  }
}


.left,
.right {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index:-1;
  margin:-35.5px;

  svg {
    width:100%;
    height:100%;
  }
}
.left,
.right { display: none; }
.rh-theme-left .left { display: block; }
.rh-theme-right .right { display: block; }

body.rh-theme-right { 

  .title, .directional-arrow {
    margin-left:31%;
    text-align:right;
    }

  .directional-arrow {
    h3 {
      position:absolute;
      top:25.5%;
      right:1.2%;
    }
  }
}
