---
width: 100%
height: 100vh
---


<!DOCTYPE html>
<html lang='en'>
  <head>

    <title>Home | Red Hat Forum 2014</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1">

    <link href='<%= baseUrl %>/templates/forum-website/css/pure-grids.min.css' media='screen' rel='stylesheet'>
    <link href='<%= baseUrl %>/templates/forum-website/css/forum-website.css' media='screen' rel='stylesheet'>
    
    
    
  </head>
  <body>


            
    <header>
        
      <div class="infobox teaser destinationboard pure-g desktop">
        <div class="pure-u">
          <a class="event" data-location="Dubai" href="http://dubai.redhat-forum.com/" target="_blank">
            <div class="date june_3 ir">June 3</div>
            <div class="location">Dubai</div>
          </a>
          <a class="event" data-location="Paris" href="http://paris.redhat-forum.com/" target="_blank">
            <div class="date june_4 ir">June 4</div>
            <div class="location">Paris</div>
          </a>
          <a class="event" data-location="Stockholm" href="http://stockholm.redhat-forum.com/" target="_blank">
            <div class="date june_4 ir">June 4</div>
            <div class="location">Stockholm</div>
          </a>
          <a class="event" data-location="Moscow" href="http://moscow.redhat-forum.com/" target="_blank">
            <div class="date june_10 ir">June 10</div>
            <div class="location">Moscow</div>
          </a>
          <a class="event" data-location="Helsinki" href="http://helsinki.redhat-forum.com/" target="_blank">
            <div class="date june_11 ir">June 11</div>
            <div class="location">Helsinki</div>
          </a>
        </div>
        <div class="pure-u">
          <a class="event" data-location="Zurich" href="http://zurich.redhat-forum.com/" target="_blank">
            <div class="date june_11 ir">June 11</div>
            <div class="location">Zurich</div>
          </a>
          <a class="event" data-location="Madrid" href="http://madrid.redhat-forum.com/" target="_blank">
            <div class="date june_12 ir">June 12</div>
            <div class="location">Madrid</div>
          </a>
          <a class="event" data-location="Istanbul" href="http://istanbul.redhat-forum.com/" target="_blank">
            <div class="date june_17 ir">June 17</div>
            <div class="location">Istanbul</div>
          </a>
          <a class="event" data-location="Prague" href="http://prague.redhat-forum.com/" target="_blank">
            <div class="date june_18 ir">June 18</div>
            <div class="location">Prague</div>
          </a>
          <a class="event" data-location="London" href="http://london.redhat-forum.com/" target="_blank">
            <div class="date june_19 ir">June 19</div>
            <div class="location">London</div>
          </a>
        </div>
        <div class="pure-u">
          <a class="event" data-location="Antwerpen" href="http://antwerp.redhat-forum.com/" target="_blank">
            <div class="date june_23 ir">June 23</div>
            <div class="location">Antwerp</div>
          </a>
          <a class="event" data-location="Johannesburg" href="http://johannesburg.redhat-forum.com/" target="_blank">
            <div class="date june_24 ir">June 24</div>
            <div class="location">Joburg</div>
          </a>
          <a class="event" data-location="Milan" href="http://milan.redhat-forum.com/" target="_blank">
            <div class="date june_24 ir">June 24</div>
            <div class="location">Milan</div>
          </a>
          <a class="event" data-location="Munich" href="http://munich.redhat-forum.com/" target="_blank">
            <div class="date june_25 ir">June 25</div>
            <div class="location">Munich</div>
          </a>
          <a class="event">
            <div class="date ir"> </div>
            <div class="location"> </div>
          </a>
        </div>
      </div>

      <div class="infobox teaser destinationboard pure-g tablet">
        <div class="pure-u">
          <a class="event" data-location="Dubai" href="http://dubai.redhat-forum.com/" target="_blank">
            <div class="date june_3 ir">June 3</div>
            <div class="location">Dubai</div>

          </a>
          <a class="event" data-location="Paris" href="http://paris.redhat-forum.com/" target="_blank">
            <div class="date june_4 ir">June 4</div>
            <div class="location">Paris</div>
          </a>
          <a class="event" data-location="Stockholm" href="http://stockholm.redhat-forum.com/" target="_blank">
            <div class="date june_4 ir">June 4</div>
            <div class="location">Stockholm</div>
          </a>
          <a class="event" data-location="Moscow" href="http://moscow.redhat-forum.com/" target="_blank">
            <div class="date june_10 ir">June 10</div>
            <div class="location">Moscow</div>
          </a>
          <a class="event" data-location="Helsinki" href="http://helsinki.redhat-forum.com/" target="_blank">
            <div class="date june_11 ir">June 11</div>
            <div class="location">Helsinki</div>
          </a>
          <a class="event" data-location="Zurich" href="http://zurich.redhat-forum.com/" target="_blank">
            <div class="date june_11 ir">June 11</div>
            <div class="location">Zurich</div>
          </a>
          <a class="event" data-location="Madrid" href="http://madrid.redhat-forum.com/" target="_blank">
            <div class="date june_12 ir">June 12</div>
            <div class="location">Madrid</div>
          </a>
        </div>
        <div class="pure-u">
          <a class="event" data-location="Istanbul" href="http://istanbul.redhat-forum.com/" target="_blank">
            <div class="date june_17 ir">June 17</div>
            <div class="location">Istanbul</div>
          </a>
          <a class="event" data-location="Prague" href="http://prague.redhat-forum.com/" target="_blank">
            <div class="date june_18 ir">June 18</div>
            <div class="location">Prague</div>
          </a>
          <a class="event" data-location="London" href="http://london.redhat-forum.com/" target="_blank">
            <div class="date june_19 ir">June 19</div>
            <div class="location">London</div>
          </a>
          <a class="event" data-location="Antwerpen" href="http://antwerp.redhat-forum.com/" target="_blank">
            <div class="date june_23 ir">June 23</div>
            <div class="location">Antwerp</div>
          </a>
          <a class="event" data-location="Johannesburg" href="http://johannesburg.redhat-forum.com/" target="_blank">
            <div class="date june_24 ir">June 24</div>
            <div class="location">Joburg</div>
          </a>
          <a class="event" data-location="Milan" href="http://milan.redhat-forum.com/" target="_blank">
            <div class="date june_24 ir">June 24</div>
            <div class="location">Milan</div>
          </a>
          <a class="event" data-location="Munich" href="http://munich.redhat-forum.com/" target="_blank">
            <div class="date june_25 ir">June 25</div>
            <div class="location">Munich</div>
          </a>
        </div>
      </div></header>

        
            
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/jquery.js'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/jquery.lettering.js'></script>
    <script src='<%= baseUrl %>/templates/forum-website/js/main.js'></script>
    
  </body>
</html>