---
title: Simple Poster
---

- for page in current_page.children
  - template_data = { |
    'title' => 'Put your custom title here', |
    'sub-title' => 'Subtitle goes here Subtitle goes here subtitle', |
    'long-copy' => '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet.</p>', |
    'units' => 'mm', |
    'product' => 'RHEL', |
    'group' => 'corporate', |
    'category' => 'brand', |
    'image' => '/assets/images/photo/clouds-web.jpg', |
    'partner-logo' => [{ logo: '<h1>Hey Hey</h1>' }] |
    } |

  .preview{ style: "width: #{page.data.width}; height: #{page.data.height}" }
    %iframe.preview-frame{ width: '100%', height: '100%', data: { xml_url: page.url, template_data: template_data.to_json } }
