<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Agenda Boards | Red Hat Forum 2014</title>
  <style>
    body { margin: 0; }
    article {
      padding: 0.5em;
    }
    .preview {
      display: inline-block;
      vertical-align: top;
      margin: 0.5em;
    }
    .preview-frame { border: 0; }
  </style>
</head>
  <body>
    <article>
      
      <div class='preview' style='height: ; width: '>
        <iframe class='preview-frame' data-xml-url="/templates/agenda-boards/a0/.DS_Store" height='100%' width='100%'></iframe>
      </div>
      
      <div class='preview' style='height: 14508px; width: 10332px'>
        <iframe class='preview-frame' data-xml-url="/templates/agenda-boards/a0/agenda-boards-a0.html" height='100%' width='100%'></iframe>
      </div>
      
      <div id="data" data-template-data="{&quot;location&quot;:&quot;Singapore&quot;,&quot;date&quot;:16,&quot;month&quot;:&quot;Sep&quot;,&quot;day&quot;:&quot;Monday&quot;,&quot;col1&quot;:&quot;Timing&quot;,&quot;col2&quot;:&quot;Duration&quot;,&quot;col3&quot;:&quot;Topic&quot;,&quot;title&quot;:&quot;Agenda&quot;,&quot;sub-title&quot;:&quot;Tuesday 16th September&quot;,&quot;long-copy&quot;:&quot;&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. &lt;/p&gt;&quot;,&quot;call-to-action&quot;:&quot;Call to action&quot;}"></div>
    </article>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
    <script src="/global-assets/javascripts/previews.js" type="text/javascript"></script>
  </body>
</html>
