<svg height='100%' style='position: relative' version='1.0' width='100%' xmlns:svg='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'>
  <style>
    body { margin: 0 }
  </style>
  <defs>
    <filter height='1' id='f1' width='1' x='0' y='0'>
      <feImage height='100%' preserveAspectRatio='xMidYMid slice' result='shape1' width='100%' x='0' xlink:href='http://redhatbrand.github.io/RedHatTemplates/global-assets/images/category-shapes/solid-center-bar-{{ group }}.svg' y='0'></feImage>
      <feBlend in2='shape1' in='SourceGraphic' mode='multiply' result='SG_shape1'></feBlend>
    </filter>
  </defs>
  <image filter='url(#f1)' height='100%' preserveAspectRatio='xMidYMid slice' width='100%' x='0' xlink:href='{{{ image }}}' y='0'></image>
</svg>