
%heading {
  font-family: $font-family-headings;
}

h1, h2, h3, h4, h5, h6, .long-copy { @extend %heading; }



h1 {
  font-weight: $font-weight-level-one;
  color:$black;
  text-transform:uppercase;
  text-align:left;
  vertical-align:middle;
  font-size:$font-size-level-one;

  & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
    margin-top: 0;
  }

  @media screen and (max-width: $breakpoint-small) {
    font-size: $font-size-level-one * 0.75;
  }
}

h2 {
  font-weight: $font-weight-level-two;
  color:$color-primary;
  text-transform:uppercase;
  letter-spacing:0.1em;
  vertical-align:middle;
  text-align:left;
  font-size:$font-size-level-two;

  & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
    margin-top: 0;
  }

  @media screen and (max-width: $breakpoint-small) {
    font-size: $font-size-level-two * 0.8;
  }
}

h3 {
  font-weight: $font-weight-level-one;
  color:$white;
  text-transform:uppercase;
  letter-spacing:0.1em;
  vertical-align:middle;
  text-align:center;
  font-size:$font-size-level-three;

  & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
    margin-top: 0;
  }

  @media screen and (max-width: $breakpoint-small) {
    font-size: $font-size-level-two * 0.8;
  }
}

.long-copy {
  font-size: $font-size-level-three;
  font-weight: $font-weight-level-three;
  color:$white;
}

h4 {
  font-size: $font-size-level-four;
  font-weight: $font-weight-level-four;
  margin-top: $margin-level-four * 2;
  margin-bottom: $margin-level-four;
  line-height: $line-height-level-four;

  & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
    margin-top: 0;
  }

  @media screen and (max-width: $breakpoint-small) {
    font-size: $font-size-level-four * 0.9;
  }
}

h5 {
  font-size: $font-size-level-five;
  font-weight: $font-weight-level-five;
  margin-top: $margin-level-five * 2;
  margin-bottom: $margin-level-five;
  line-height: $line-height-level-five;

  & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
    margin-top: 0;
  }
}

h6 {
  font-size: $font-size-level-six;
  font-weight: $font-weight-level-six;
  margin:0;
  padding:5% 0 0 0;
  line-height: $line-height-level-four;

  & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
    margin-top: 0;
  }
}

%heading:first-child { margin-top: 0; }

header {
  %heading:last-child { margin-bottom: 0; }
}
