html{
  width:12120px; height:30120px; padding:60px;
  font-family:"Overpass"; color:#000;
}

body{
  width:12000px; height:
  30000px; padding:60px;
  background:#fff;
}

.content-info, .content-logo {display:none;}
.content-option-info .content-info{display:block}
.content-option-icon .content-icon{display:block}

section{
  width:12000px; height:30000px;
	.content-contain{
		position: absolute;
		.rhf_info{
			width:12000px; padding:1060px 0 0 0;
			display:none;
			p.text-1{
				width:9000px; margin:auto;
				font-size:676px;
			}
			p.text-2{
				width:9000px; margin:auto;
				padding-top:800px;
				font-size:476px;
			}
			ul.text-3{
				list-style-type:disc;
				width:9000px; margin:auto;
				padding:800px 0 0 500px;
				font-size:350px;
			}
		}
		.rhf-logo-icon{
			width:12000px; padding:1060px 0 0 0;
			display:none;
			h3{
				width:6000px;
				position:absolute; margin:-1387px 0 0 5400px;
				font-size:526px;
			}
			.rhf-logo-icon-contain{
				width:7860px; margin:auto;
				object{
					width:7860px; height:auto;
				}
			}
		}
	}
	.gray-bg{
		width:12240px; height:30240px;
		position:absolute; z-index:-1; margin:-120px 0 0 -120px;
		background:#e1e1e1;
		overflow:hidden;
		object.polygon-gray-1{
			width:33580px; height:auto;
			position:absolute; z-index:-1; margin:1000px 0 0 -10080px;
			opacity:0.3;
		}
		object.polygon-gray-2{
			width:22720px; height:auto;
			position:absolute; z-index:-1; margin:-3640px 0 0 -12600px;
			opacity:0.35;
		}
		object.polygon-gray-3{
			width:38120px; height:auto;
			position:absolute; z-index:-1; margin:15388px 0 0 -2000px;
			opacity:0.7;
		}
		object.polygon-gray-4{
			width:21050px; height:auto;
			position:absolute; z-index:-1; margin:-10638px 0 0 0;
			opacity:0.3;
		}
	}
} /*section*/
