@import '../../../../global-assets/scss/reset';

$margin: 2rem;

html { font-size: 90pt; }

body {
  position: relative;
  color: white;
  font-family: Overpass;
}

main {
  position: absolute;
  left: 6mm;
  right: 6mm;
  top: 6mm; 
  bottom: 6mm;
  padding: ($margin * 2) $margin;
}

.main-header {
  position: absolute;
  right: $margin;
  bottom: $margin;
  left: $margin;
}

.main-header_logo_red-hat .logotext {
  fill: white;
}

.main-header {
  font-size: 0;

  > * {
    font-size: 1rem;
  }
}

.main-header_logo_event,
.main-header_logo_red-hat {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.main-header_logo_event img {
  display: block;
}

.main-header_logo_red-hat {
  svg {
    width: 80%;
    height: 100%;
    display: block;
    float: right
  }
}

.main-text { margin-bottom: 1.5em; }

.main-text_title {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 3.25em;
  line-height: 1em;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  padding: 0.05em 0.125em;
}

.main-text_call-to-action {
  font-weight: 300;
  background-color: white;
  display: inline-block;
  color: black;
  line-height: 1.5em;
  font-size: 1.25em;
  padding: 0.25em 0.6em 0.125em;
}

.secondary-text {
}

.secondary-text_dates {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2em;
  line-height: 1.25em;
}

.secondary-text_location {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.25em;
}

