
html, body {
  overflow: hidden;
}

html {
  background: #444;
}

.rotate-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;

  -webkit-perspective: 1500px;
  -moz-perspective: 1500px;
  -ms-perspective: 1500px;
  perspective: 1500px;

  .rotate {
    position: relative;
    width: 100%;
    height: 100%;

    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -ms-transition: -ms-transform 0.5s;
    transition: transform 0.5s;

    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    transform-origin: 0% 50%;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

  }

  &.shifted .rotate {
    -webkit-transform: rotateY(15deg);
    -moz-transform: rotateY(15deg);
    -ms-transform: rotateY(15deg);
    transform: rotateY(15deg);
  }
}

.information {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 320px;
  background: white;
  z-index: 50;
  padding: 2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  transition: all .4s;

  .logos {
    background: gray;
  }
}


.shifted ~ .information {
  -webkit-transform: translate(-320px, 0);
  -moz-transform: translate(-320px, 0);
  -ms-transform: translate(-320px, 0);
  transform: translate(-320px, 0);

  .info-toggle {
    opacity: 1;
  }
}


.info-toggle {
  position: absolute;
  top: 50%;
  left: -3.5em;
  background: white;
  -webkit-transform: rotate(-90deg);
  opacity: .5;
  text-transform: uppercase;
  color: black;
  height: 2em;
  line-height: 2em;
  width: 5em;
  text-align: center;
  margin-top: -1em;
  font-weight: bold;

  &:hover { opacity: 1; }
}

.map {
  width: 100%;
  height: 100%;
  background: black;
  background-image: url(https://d3s84xo5cmutkt.cloudfront.net/assets/attachments/000/000/922/original/road-grey-web.jpg?1397463630);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  .leaflet-tile-pane {
    opacity: .333;
  }
}


.leaflet-popup-content {
  margin: 1em;
  font-size: 90%;
}

a.link-footer {
  position: relative;
  display: block;
  background: black;
  color: white;
  margin-top: 1em;
  padding: 1em 1.5em;
  font-family: $font-family-headings;
  text-transform: uppercase;
  font-size: 90%;
  font-weight: bold;

  &:before {
    content: '';
    position: absolute;
    bottom: .5em;
    right: .5em;
    border: .75em solid transparent;
    border-bottom-color: $color-primary;
    border-right-color: $color-primary;
  }

  &:hover {
    background-color: $color-primary;

    &:before {
      border-bottom-color: black;
      border-right-color: black;
    }
  }
}


.event-marker-icon {
  width: 2em !important;
  height: 2em !important;
  margin: -1em !important;
  font-size: 1.5em;
  background-image: url(../images/marker.svg);
  background-size: 100%;
}

.events-list {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  padding-left: $line-height * 2;
  color: white;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.nav-toggle {
  display: none;

  .toggle-label {
    position: relative;
    left: 3.5em;
    font-size: 16px;
    font-family: $font-family-headings;
    color: white;
    text-transform: uppercase;
    margin: 0;
    text-align: left;
  }
}

@media screen and (max-width: $breakpoint-medium) {

  .nav-toggle { display: block; }

  .events-list {
    z-index: 0;
    width: 320px;
    font-size: 90%;
    padding: 0 .75em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .menu-open .rotate {
    -webkit-transform: translate(320px, 0) rotateY(45deg);
    box-shadow: 0 0 30px rgba(0,0,0,.25);
  }
}

li.event {
  padding: .5em .75em;
  position: relative;

  &.active {
    background: rgba(black, .5);
  }

  &:hover {
    cursor: pointer;
    background-color: rgba(black, .25);
  }
}


.location {
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
}

.date {
  margin-left: .5em;
}

.description {
  margin: 1em 0;
}



.logos {
  position: absolute;
  z-index: 20;
  padding: 1em;
  bottom: 0;
  right: 0;
  width: 320px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  img {
    float: left;
    width: 40%;
    margin: 0 5%;
  }
}


.leaflet-control-locate a {
  position: relative;


  &:hover:after { display: block; }

  &:after {
    display: none;
    content: attr(title);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    white-space: nowrap;
    font-size: .75em;
    background: black;
    color: white;
    padding: 0 .5em;
  }
}
