
// Typography

$font-family:             'Source Sans Pro', 'Helvetica Neue', sans-serif;
$font-family-body:        $font-family;
$font-family-headings:    'Overpass', $font-family;

$font-family-input:       $font-family;
$font-family-mono:        'Menlo', 'Monaco', 'Courier New', monospace;

$line-height:             1.5em;
$font-size:               100%;

$font-size-level-one:     3em;
$font-weight-level-one:   300;
$line-height-level-one:   $line-height * 0.667;
$margin-level-one:        $line-height * 0.667;

$font-size-level-two:     1.75em;
$font-weight-level-two:   500;
$line-height-level-two:   $line-height * 0.75;
$margin-level-two:        $line-height * 0.75;

$font-size-level-three:   1.5em;
$font-weight-level-three: 600;
$line-height-level-three: $line-height * 0.8;
$margin-level-three:      $line-height * 0.8;

$font-size-level-four:    1.25em;
$font-weight-level-four:  700;
$line-height-level-four:  $line-height * 0.8;
$margin-level-four:       $line-height * 0.8;

$font-size-level-five:    1em;
$font-weight-level-five:  700;
$line-height-level-five:  $line-height;
$margin-level-five:       $line-height;

$font-size-level-six:     0.8em;
$font-weight-level-six:   700;
$line-height-level-six:   $line-height * 1.25;
$margin-level-six:        $line-height * 1.25;


// Colours

$color-primary:             #CC0000;
$color-primary-light:       lighten($color-primary, 30%);
$color-primary-dark:        darken($color-primary, 30%);

$black:                     hsl(0,0%,9%);
$white:                     lighten($black, 93.5%);
$gray-darker:               lighten($black, 13.5%);
$gray-dark:                 lighten($black, 20%);
$gray:                      lighten($black, 33.5%);
$gray-light:                lighten($black, 75%);
$gray-lighter:              lighten($black, 87.5%);

$color-success:             hsl(85, 60%, 52%);
$color-success-light:       lighten($color-success, 35%);
$color-warning:             hsl(45, 83%, 73%);
$color-warning-light:       lighten($color-warning, 35%);
$color-danger:              hsl(357, 88%, 63%);
$color-danger-light:        lighten($color-danger, 35%);
$color-info:                $color-primary;
$color-info-light:          lighten($color-info, 35%);

$color-background-overlay:  rgba($black, 0.7);

$palette:
  "white"         $white,
  "black"         $black,
  "primary"       $color-primary,
  "primary-light" $color-primary-light,
  "gray-darker"   $gray-darker,
  "gray-dark"     $gray-dark,
  "gray"          $gray,
  "gray-light"    $gray-light,
  "gray-lighter"  $gray-lighter,
  "success"       $color-success,
  "success-light" $color-success-light,
  "warning"       $color-warning,
  "warning-light" $color-warning-light,
  "danger"        $color-danger,
  "danger-light"  $color-danger-light,
  "info"          $color-info,
  "info-light"    $color-info-light;



// Layout

$breakpoint-small:        32em;
$breakpoint-medium:       48em;
$breakpoint-large:        75em;

$gutter:                  $line-height * 1.5;
$page-margin:             $line-height * 2;
$max-width:               $breakpoint-medium;
$center-layout:           true;

$radius: .15em;

