@import '../../../global-assets/scss/fonts/overpass';
@import '../../../global-assets/scss/colors/base_color_palette';
@import '../../../global-assets/stylesheets/general/rh-logo';

$gen-spacing-4em: 4em;
$gen-spacing-2em: 2em;

body {
  margin: 0;
  font-family: 'Overpass'; font-size: 2vw; font-weight: 400; line-height: 1.5em;
	color: #fff;
	background: #fff;
	overflow: hidden;
  .background-image {
    position: absolute; z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: right bottom, left, left;
    background-repeat: no-repeat, no-repeat, no-repeat;
  }
  .background-image-3a {
    position: absolute; z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: 248vw auto, cover, cover;
    background-position: -105vw -49vw, 0 0, 0 0;
    background-repeat: no-repeat, no-repeat, no-repeat;
  }
	main {
		padding: 0;
    position: absolute;
    top: 3mm; bottom: 3mm;
    left: 3mm; right: 3mm;
    .bg-stripes {
      position: absolute;
      object.pattern-stripe {
        width: 70vw;
        position: absolute; z-index: -1; margin: -32vw 0 0 -20vw;
      }
      object.solid-stripe {
        width: 270vw;
        position: absolute; z-index: -1; margin: -140vw 0 0 -100vw;
      }
    }
    .rh-logo{
      width: 20vw;
      margin: 0 6vw 0 0; padding: 0 0 3vw 0;
      position: absolute; bottom: 0; right: 0;
    }
		section.testimonial {
			margin: 0 $gen-spacing-4em;
			.grp {
        margin: 0 0 $gen-spacing-2em 0;
				h3{
					margin: 0;
				}
        p.input {
          margin: 0 11vw 0 0;
        }
				p.sub-info { margin: 0; font-size: 1.7vw; }
        object.quot-marks {
          float: left;
          width: 8.5vw; height:auto;
          margin: 0 2vw 0 0;
        }
			}
      h1 { margin: $gen-spacing-2em 0 7vw 0; font-size: 6vw; }
      h1.h1-3a { margin: 14vw 0 7vw 0; }
		}
	}
}
