---
{
  "title": "Agenda Boards A2 | Red Hat Forum 2014",
  "template": "preview.hbt",
  "data": {
    "date": 16,
    "month": "Sep",
    "title": "Agenda",
    "sub-title": "Tuesday 16th September",
    "location": "Singapore",
    "times": [
      {
        "timing": "08:00-9:00",
        "topic": "Registration",
      },

      {
        "timing": "08:00-9:00",
        "topic": "Welcome Address",
      },

      {
        "timing": "08:00-9:00",
        "topic": "Red Hat Keynote: Lead Your IT Transformation",
      },

      {
        "timing": "08:00-9:00",
        "topic": "IDC Analyst Keynote: Game-Changing IT for the Future Mayur Sahni, Senior Research Manager, Services and Cloud Research, IDC Asia Pacific",
      },

      {
        "timing": "08:00-9:00",
        "topic": "Coffee Break &amp; Solution Showcase",
      },

      {
        "timing": "08:00-9:00",
        "topic": "Red Hat Technology Vision Keynote"
      },

      {
        "timing": "08:00-9:00",
        "topic": "Platinum Sponsor"
      },

      {
        "timing": "08:00-9:00",
        "topic": "Panel Discussion"
      },

      {
        "timing": "08:00-9:00",
        "topic": "Lunch Break &amp; Solution Showcase"
      },

       { "timing": "08:00-9:00",
        "track-a": "SOFTWARE DEFINED INFRASTRUCTURE",
        "track-a-content": "RHEL7: A Platform without Boundaries",
        "track-b": "APPLICATION MODERNIZATION",
        "track-b-content": "Accelerate, Integrate, Automate",
       },

       { "timing": "08:00-9:00",
        "track-a": "SOFTWARE DEFINED INFRASTRUCTURE",
        "track-a-content": "RHEL7: A Platform without Boundaries",
        "track-b": "APPLICATION MODERNIZATION",
        "track-b-content": "Accelerate, Integrate, Automate",
       },

       { "timing": "08:00-9:00",
        "track-a": "SOFTWARE DEFINED INFRASTRUCTURE",
        "track-a-content": "RHEL7: A Platform without Boundaries",
        "track-b": "APPLICATION MODERNIZATION",
        "track-b-content": "Accelerate, Integrate, Automate",
       },

      {
        "timing": "08:00-9:00",
        "topic": "Lunch Break &amp; Solution Showcase"
      },

       { "timing": "08:00-9:00",
        "track-a": "SOFTWARE DEFINED INFRASTRUCTURE",
        "track-a-content": "RHEL7: A Platform without Boundaries",
        "track-b": "APPLICATION MODERNIZATION",
        "track-b-content": "Accelerate, Integrate, Automate",
       },

       { "timing": "08:00-9:00",
        "track-a": "SOFTWARE DEFINED INFRASTRUCTURE",
        "track-a-content": "RHEL7: A Platform without Boundaries",
        "track-b": "APPLICATION MODERNIZATION",
        "track-b-content": "Accelerate, Integrate, Automate",
       },

       { "timing": "08:00-9:00",
        "track-a": "SOFTWARE DEFINED INFRASTRUCTURE",
        "track-a-content": "RHEL7: A Platform without Boundaries",
        "track-b": "APPLICATION MODERNIZATION",
        "track-b-content": "Accelerate, Integrate, Automate",
       },

       { "timing": "08:00-9:00",
        "track-a": "SOFTWARE DEFINED INFRASTRUCTURE",
        "track-a-content": "RHEL7: A Platform without Boundaries",
        "track-b": "APPLICATION MODERNIZATION",
        "track-b-content": "Accelerate, Integrate, Automate",
       },

       { "timing": "08:00-9:00",
        "topic": "Lunch Break &amp; Solution Showcase"
      }

      
    ]
  }
}
---
