---
title: Agenda Boards A2 | Red Hat Forum 2014
template: preview.hbt
data:
  date: 16
  month: Sep
  title: Agenda
  sub-title: Tuesday 16th September
  location: Singapore

  "times": [
    {
      "timing": "08:00",
      "duration": 60,
      "track-a": "Foo",
      "track-a-content": "Dolor sit amet",
      "track-b": "Bar",
      "track-b-content": "Lorem ipsum Dolor sit amet Dolor sit amet Dolor sit amet Dolor sit"
    },
    {
      "timing": "09:00",
      "duration": 60,
      "track-a": "Foo",
      "track-a-content": "Lorem ipsum",
      "track-b": "Baz",
      "track-b-content": "Dolor sit amet Dolor sit amet Dolor sit amet"
    }
  ]

---
