body{
	margin: 0;
	font-family: "Overpass"; color: #fff;
	background: #ccc;
	section {
		border: 1px dotted;
	} /*section*/
}

#map{
  &.leaflet-container { background-color:transparent; }

  path.road { stroke:#444; }
  path.water {
    stroke: #444;
    fill: #444;
  }
}
