body {
  margin: 0;
  font-family: "Overpass"; color: #fff;
  .logo-area {
    width: 80%;
    position: absolute; z-index: 1;
    top:35%; transform: translateY(-50%);
    left:50%; transform: translateX(-50%);
  }
}
