body { font-size: 20pt; }

.text-content {
  h2 { font-size: 14pt; }
  p { font-size: 24pt; }
}

.background-shapes {
  &.center { 
    left: -0.25em;
    width: 100%;
    height: 100%;
  }
  &.top { width: 95vw; }
  &.bottom { 
    bottom: -0.2em;
    width: 100%;
    height: 100%;
    
    .corner-shape-bottom { width: 103.7%; }
    .pattern-stripe { 
      left: 48%; 
      width: 200vw;
      top: -15em;
      height: 2em;
    }
  }
}

.branding { bottom: 20%; }
.action { bottom: 10%; }
