.display-sponsor-icon-icon,
.display-sponsor-info-info
{ display: block; }

.display-sponsor-icon-info,
.display-sponsor-info-icon
{ display: none; }

body {
  margin: 0;
  font-family: "Overpass"; color: #000;
  main {
    .bottom-bar {
      width: 100%; height: 10%;
      position: absolute; left: 0; bottom: 0;
      background: #000;
      opacity: 0.85;
      display: none;
    }
    .content-contain {
      width: 100%; height: 100%;
      position: absolute; z-index: 1;
    }
    .sponsor-logo-icon-contain {
      width: 85%;
      position: absolute; left:50%; transform: translateX(-50%);
      margin: 9vw 0 0 0;
      object {
        position: absolute;
      }
    }
    .sponsor_info {
      width: 85%;
      position: absolute; left:50%; transform: translateX(-50%);
      margin: 11vw 0 0 0;
      p.text-1 { margin: 0 0 4vw 0; font-size: 5vw; }
      p.text-2 { margin: 0 0 4vw 0; font-size: 4vw; }
      ul.text-3 {
        list-style-type: disc;
        padding: 0 0 0 2.5vw;
        font-size: 3vw;
      }
    }
  }
}

#map{
  &.leaflet-container { background-color:#fff !important; }

  path.road { stroke:#eee !important; }
  path.water {
    stroke: #eee !important;
    fill: #eee !important;
  }
}
