---
{
  "title": "Testimonials Posters",
  "data": {
    "width": 210,
    "height": 297,
    "bleed": 5,
    "background-image": "http://d3s84xo5cmutkt.cloudfront.net/assets/attachments/000/000/707/original/clouds-grey-web.jpg",
    "poster-title": "TESTIMONIALS",
    "loop-testimonials": [
      "testimonial-input": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis scelerisque nec justo non dignissim. Quisque ac condimentum nisi. Nulla a mattis elit. Integer quis fermentum nisi. Suspendisse at placerat nisi, vitae pellentesque ipsum. Sed ut massa eros. Pellentesque sagittis quam porttitor placerat mattis. Ut vel porta augue. Mauris non posuere risus. Etiam adipiscing non risus et condimentum. Aliquam viverra nisi lacus, non elementum nunc hendrerit id. Morbi lacinia ipsum felis. Sed rutrum aliquet massa id accumsan. Pellentesque nec posuere erat, vel laoreet sem. Duis mollis odio aliquam dui porta blandit. Etiam in scelerisque massa.",
      "testimonial-name": "John Smith",
      "testimonial-sub-info": "Sub Info"
    ]
  }
}
---
