---
{
  "title": "Testimonials Posters",
  "data": {
    "width": 222,
    "height": 309,
    "bleed": 5,
    "background-image": "http://d3s84xo5cmutkt.cloudfront.net/assets/attachments/000/000/707/original/clouds-grey-web.jpg",
    "poster-title": "TESTIMONIALS",
    "loop-testimonials": [
      "testimonial-input": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis scelerisque nec justo non dignissim. Quisque ac condimentum nisi. Nulla a mattis elit. Integer quis fermentum nisi. Suspendisse at placerat nisi, vitae pellentesque ipsum.",
      "testimonial-name": "John Smith",
      "testimonial-sub-info": "Sub Info"
    ]
  }
}
---
