---
width: 210mm
height: 297mm
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="<%= baseUrl %>/templates/testimonial-poster/css/main.css?v<%= version %>" rel="stylesheet" />
    <link href='http://red-hat-overpass-fonts.s3.amazonaws.com/overpass.css' rel='stylesheet' />
  </head>

  <body sclass="rh-theme-{{ category }}"
  height="{{#add}}{{height}}+{{#multiply}}{{bleed}}*2{{/multiply}}{{/add}}mm"
  width="{{#add}}{{width}}+{{#multiply}}{{bleed}}*2{{/multiply}}{{/add}}mm"
  style="padding: {{bleed}}mm">
  	<main>
      <div class="background-image" style="background-color: #37424a; background-image: url({{{ background-image }}}); background-blend-mode: multiply;">
      </div><!--.background-image-->
    	<section class="testimonial">
      	<h1>{{ poster-title }}</h1>
        {{#loop-testimonials}}
        <div class="grp">
          <object data="<%= baseUrl %>/global-assets/images/basic-shapes/quot-marks.svg" class="quot-marks"></object>
          <p>{{ testimonial-input }}</p>
          <h3>{{ testimonial-name }}</h3>
          <p class="sub-info">{{ testimonial-sub-info }}</p>
        </div><!--.grp-->
        {{/loop-testimonials}}
      </section><!--.testimonial-->
      <div class="logo-bottom" style="position: absolute; bottom: -1%; right: 0;">
        <object
          data="<%= baseUrl %>/global-assets/images/basic-shapes/bottom/triangle-with-logo-bottom.svg"
          style="height: {{#multiply}}{{ height }}*0.36{{/multiply}}mm;"
        >
        </object>
      </div><!--.logo-bottom-->
      <div class='corner-logo' style="display:none;">
        <div class="logo"></div>
      </div>
    </main>
  </body>
</html>
