---
width: 210mm
height: 797mm
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="<%= baseUrl %>/templates/testimonial-poster/css/main.css?v<%= version %>" rel="stylesheet" />
    <link href='http://red-hat-overpass-fonts.s3.amazonaws.com/overpass.css' rel='stylesheet' />
  </head>

  <body sclass="rh-theme-{{ category }}"
  height="{{#add}}{{height}}+{{#multiply}}{{bleed}}*2{{/multiply}}{{/add}}mm"
  width="{{#add}}{{width}}+{{#multiply}}{{bleed}}*2{{/multiply}}{{/add}}mm"
  style="padding: {{bleed}}mm">
  	<main>
      <div class="background-image-3a"
        style="
          background-color: #ffffff;
          background-image: url('<%= baseUrl %>/global-assets/images/category-shapes/solid-center-bar-corporate.svg'),
                            linear-gradient(0deg, #37424a 0%, transparent 100%),
                            url({{{ background-image }}});
          background-blend-mode: multiply;"
      >
      </div><!--.background-image-->
      <div class="bg-stripes">
        <object data="<%= baseUrl %>/global-assets/images/category-shapes/solid-stripe-corporate.svg" class="solid-stripe"></object>
        <object data="<%= baseUrl %>/global-assets/images/category-shapes/pattern-stripe-corporate.svg" class="pattern-stripe"></object>
      </div><!--.bg-stripes-->
    	<section class="testimonial">
      	<h1 class="h1-3a">{{ poster-title }}</h1>
        {{#loop-testimonials}}
        <div class="grp">
          <object data="<%= baseUrl %>/global-assets/images/basic-shapes/quot-marks.svg" class="quot-marks"></object>
          <p class="input">{{ testimonial-input }}</p>
          <h3>{{ testimonial-name }}</h3>
          <p class="sub-info">{{ testimonial-sub-info }}</p>
        </div><!--.grp-->
        {{/loop-testimonials}}
      </section><!--.testimonial-->
      <div class="rh-logo">
        <object data="<%= baseUrl %>/global-assets/images/logos/rh-logo.svg"></object>
      </div><!--.rh-logo-->
    </main>
  </body>
</html>
