---
width: 222mm
height: 309mm
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href='<%= baseUrl %>/global-assets/stylesheets/print/crop-marks.css' rel='stylesheet' />
    <link href="<%= baseUrl %>/templates/testimonial-poster/css/main.css?v<%= version %>" rel="stylesheet" />
    <link href='http://red-hat-overpass-fonts.s3.amazonaws.com/overpass.css' rel='stylesheet' />
  </head>

  <body sclass="rh-theme-{{ category }}" style="width: {{ width }}mm; height: {{ height }}mm;">
  	<main>
      <div class="background-image-3a"
        style="
          background-color: #ffffff;
          background-image: url('<%= baseUrl %>/global-assets/images/category-shapes/solid-center-bar-corporate.svg'),
                            linear-gradient(0deg, #37424a, rgba(55, 66, 74, 0.5) 75%, transparent),
                            url({{{ background-image }}});
          background-blend-mode: multiply;"
      >
      </div><!--.background-image-->
      <div class="bg-stripes">
        <object data="<%= baseUrl %>/global-assets/images/category-shapes/solid-stripe-corporate.svg" class="solid-stripe"></object>
        <object data="<%= baseUrl %>/global-assets/images/category-shapes/pattern-stripe-corporate.svg" class="pattern-stripe"></object>
      </div><!--.bg-stripes-->
    	<section class="testimonial">
      	<h1 class="h1-3a">{{ poster-title }}</h1>
        {{#testimonials}}
          <div class="grp">
            <object data="<%= baseUrl %>/global-assets/images/basic-shapes/quot-marks.svg" class="quot-marks" style="display: block;"></object>
            <p class="input">{{ content }}</p>
            <h3>{{ name }}</h3>
            <p class="sub-info">{{ sub-info }}</p>
          </div><!--.grp-->
        {{/testimonials}}
      </section><!--.testimonial-->
      <div class="rh-logo" style="width: 21%;">
        <object data="<%= baseUrl %>/global-assets/images/logos/rh-logo.svg"
          style="width: 100%;"
        ></object>
      </div><!--.rh-logo-->
      <div class='crop-mark top-left' style="width: 6mm; height: 6mm"></div>
      <div class='crop-mark top-right' style="width: 6mm; height: 6mm"></div>
      <div class='crop-mark bottom-left' style="width: 6mm; height: 6mm"></div>
      <div class='crop-mark bottom-right' style="width: 6mm; height: 6mm"></div>
    </main>
  </body>
</html>
