body {
	margin: 0;
	font-family: "Overpass"; color: #fff;
	main {
		position: absolute;
		top: 3mm; bottom: 3mm;
		left: 3mm; right: 3mm;
		background-size: cover;
		background-repeat: no-repeat;
		display: block;
		#content {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 0;
			height: 30%;
			box-sizing: border-box;
		}
		.events-list {
			width: 70%;
			position: absolute; top:16%; transform: translateY(-50%); left:40%; transform: translateX(-50%);
		}
		.events-list .event .letter { fill: white; }
		.rh-forum-logo {
			width: 90vw; height: 18vw;
			position: absolute; top:15%; transform: translateY(-50%); left:50%; transform: translateX(-50%);
			h3.venue {
				position: absolute; margin: 10.8vw 0 0 0.8vw; left:50%; transform: translateX(-50%);
				font-size: 3.1vw;
			}
			object.rh-forum-ico {
				width: 45vw;
				position: absolute; margin: -2% 0 0 0; left:50%; transform: translateX(-50%);
			}
		}
	}/*main*/
	.rh-logo{
		width: 15%;
		margin: 0 4vw 0 0; padding: 0 0 3vw 0;
		position: absolute; bottom: 0; right: 0;
	}/*rh-logo*/
	.rh-logo-triangle {
		position: absolute; right: 3mm; bottom: 3mm;
	}
}
