---
width: 7368px
height: 10332px
---

<!DOCTYPE html>
<html
  style="height: 10332px; width: 7368px; padding: 60px">
  <!--594 x 841-->

  <!-- DPI ratio mm:px is Actually 1:11.811023622 -->

  <head>
    <meta charset='utf-8'>
    <link href='<%= baseUrl %>/templates/agenda-boards/stylesheets/main.css' media='all' rel='stylesheet'>
  </head>

  <body
    class="rh-theme-{{ category }}"
    style="height: {{#multiply}}12*{{#add}}{{height}}+10{{/add}}{{/multiply}}px; width: {{#multiply}}12*{{#add}}{{width}}+10{{/add}}{{/multiply}}px; padding: 60px; position: relative">

    <div class="map" id="map"></div>

    <div class="events-list">
      <a class="event clearfix" href="{{{ link }}}" target="_blank">
        <div class="date">
          <img src='<%= baseUrl %>/templates/forum/events-list/images/letters/space.svg' />
          <div class="text-content">
            <svg class="month" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 18">
              <text fill="white" x="50%" y="12.5" font-size="9" text-anchor="middle">
                {{ date }}
              </text>
            </svg>
            <svg class="month" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 18">
              <text fill="white" x="50%" y="12.5" font-size="9" text-anchor="middle">
                {{ month }}
              </text>
            </svg>
          </div>
        </div>
        <div class="location clearfix">
          <div class="text-content">{{ location }}</div>
        </div>
      </a>
    </div>

    <table align='center' cellpadding='0' cellspacing='0' class='container' width='100%'>
      <tr>
        <td>
          <table align='center' style="margin: 0 auto" cellpadding='0' cellspacing='0' class='main' height='auto' width='6000px'>
            <thead>
              <tr>
                <td colspan='2' height='300px'>
            
                  </div>
                  <h1>{{ title }}</h1>
                  
                </td>
              </tr>
            </thead>
            <tbody>
              <tr class='divider'>
                <td colspan='2'>
                  <h2>{{{ sub-title }}}</h2>
                </td>
              </tr>
              <tr>
                <td class='column'>
                  <div class='long-copy'>
                    {{{ long-copy }}}
                  </div>
                </td>
                <td class='column'>
                  <div class='long-copy'>
                    {{{ long-copy }}}
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td class='footer' colspan='2'>
                  <div class='links'>
                    {{ #footer-link }}
                    <a href='{{{ url }}}'>{{text}}</a>
                    {{/ footer-link }}
                  </div>
                  <div class='first-footer'>
                    {{{ first-footer }}}
                  </div>
                  <div class='second-footer'>
                    {{{ second-footer }}}
                  </div>
                </td>
              </tr>
            </tfoot>
          </table>
        </td>
      </tr>
    </table>


    <div id="baseUrl" data-base-url="<%= baseUrl %>"></div>
    <div id="locationName" data-location-name="{{ location }}"></div>

    <div class='crop-mark top-left' style="width: 120px; height: 120px"></div>
    <div class='crop-mark top-right' style="width: 120px; height: 120px"></div>
    <div class='crop-mark bottom-left' style="width: 120px; height: 120px"></div>
    <div class='crop-mark bottom-right' style="width: 120px; height: 120px"></div>

    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/jquery.js'></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="http://d3js.org/topojson.v1.min.js"></script>
    <script src='<%= baseUrl %>/templates/agenda-boards/javascripts/d3-topoJSON.js'></script>
    <script src='<%= baseUrl %>/templates/agenda-boards/javascripts/map.js'></script>
    <script src='<%= baseUrl %>/templates/agenda-boards/javascripts/events-list.js'></script>
  </body>
</html>
