<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Testimonials Posters</title>
  <style>
    body { margin: 0; }
    article {
      padding: 0.5em;
    }
    .preview {
      display: inline-block;
      vertical-align: top;
      margin: 0.5em;
    }
    .preview-frame { border: 0; }
  </style>
</head>
  <body>
    <article>
      <div class='preview' style='height: 222mm; width: 309mm'>
        <iframe class='preview-frame' data-xml-url="/RedHatTemplates/templates/testimonial-poster-2a/testimonial-poster-2b.html" height='100%' width='100%'></iframe>
      </div>
      <div class='preview' style='height: 309mm; width: 222mm'>
        <iframe class='preview-frame' data-xml-url="/RedHatTemplates/templates/testimonial-poster-2a/testimonial-poster-2a.html" height='100%' width='100%'></iframe>
      </div>
      <div id="data" data-template-data="{&quot;width&quot;:222,&quot;height&quot;:309,&quot;background-image&quot;:&quot;http://d3s84xo5cmutkt.cloudfront.net/assets/attachments/000/000/707/original/clouds-grey-web.jpg&quot;,&quot;poster-title&quot;:&quot;TESTIMONIALS&quot;,&quot;testimonials&quot;:[{&quot;content&quot;:&quot;Customer testimonial goes here, Ideally it should be smaller than two sentences. Hopefully only one sentence.&quot;,&quot;name&quot;:&quot;Man With Long Name&quot;,&quot;sub-info&quot;:&quot;Test some very long information here&quot;}]}"></div>
    </article>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
    <script src="/RedHatTemplates/global-assets/javascripts/previews.js" type="text/javascript"></script>
  </body>
</html>
