.container {
  max-width: $max-width;
  padding: $page-margin;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -0.25em;
    left: $page-margin;
    right: $page-margin;
    height: 0.5em;
    background: rgba($black, 0.05);
  }

  @if $center-layout {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: $breakpoint-small) {
    padding: $page-margin / 2;
  }
}

nav {}
article {}
aside {}
header {}
footer {}
main {}

iframe {
  width: 100%;
  display: block;
  border: 0;
}

img, video, audio {
  display: block;
  width: auto;
  max-width: 100%;
}

.rh-logos {
    svg {
      width:250px;
      height:100px;
      z-index:5;
    }
}

video, audio {
  background-color: $black;
}

blockquote {
  margin-bottom: $line-height;
  padding-left: $gutter / 2;
  border-left: $heavy-stroke solid $default-border-color;
}

pre {
  margin-bottom: $line-height;
  background-color: $gray-dark;
  color: $gray-lighter;
  border-radius: $radius;
  padding: $line-height / 2;
  white-space: pre-wrap;
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

details {
  margin-bottom: $line-height;

  summary { cursor: pointer; }

  summary:focus {
    outline: 0;
    color: $color-primary;
  }
}

math {
  display: block;
  margin-bottom: $line-height;
}



/*--------DIVS-----------------*/

table.container {
  margin:10% auto;


  td {
    padding:0;
    position: relative;

  }

}

table.main {
  background-color:$color-primary;
  border-collapse:collapse;
  -moz-box-shadow:    0 0 3px 0 $color-primary-dark;
  -webkit-box-shadow: 0 0 3px 0 $color-primary-dark;
  box-shadow:         0 0 3px 0 $color-primary-dark;
}



tr.divider {
  background-color:$color-primary-dark;

    td {
      z-index:10;
    }
}

tbody {

  td.column {
    width:50%;
    color:white;
    line-height:1.6em;
    letter-spacing:0.02em;
    font-weight: 300;
    vertical-align:top;
    padding:10px 20px 20px 20px;
    font-size:15px;
  }


  tr.content:nth-child(even){
    background-color:rgba(0, 0, 0, .5);
  }

  tr.content:nth-child(odd){
    background-color:rgba(0, 0, 0, .3);
  }

  tr.content{
    .long-copy {
      padding:5%;
    }
  }


}





tfoot {
  background:url("../images/svg/svg-backgrounds/background-red03.svg") no-repeat center;
  background-size:cover;
  color:white;
  text-align:center;
  line-height:1.5em;

    tr {
      height:170px;

      td.footer {
        padding:20px;
        font-size:12px;

            



            .first-footer {
              padding-top:10px;
              font-weight: 300;
            }

            .second-footer {
              padding-top:10px;
              font-weight: 300;
            }
        }
    }

}






/*----------------a0--------------------*/



@media all and (min-width:10332px) and (max-width:10332px){

thead {

    tr {
      height:700px;}
}

tr.divider {

    td {
      height:600px;
    }
}

h1 {
  font-size:20em;
  line-height:700px;
}

h2 {
  font-size:15em;
  line-height:600px;
}

.long-copy {
  font-size:15em;
  line-height:4.5em;
}


}

/*----------------a1--------------------*/

@media all and (min-width:7368px) and (max-width:7368px){

thead {

    tr {
      height:600px;}
}

tr.divider {

    td {
      height:500px;
    }
}

h1 {
  font-size:15em;
  line-height:600px;
}

h2 {
  font-size:10em;
  line-height:500px;
}

.long-copy {
  font-size:10em;
  line-height:3em;
}

}

/*----------------a2--------------------*/



@media all and (min-width:5280px) and (max-width:5280px){

thead {

    tr {
      height:400px;}
}


tr.divider {

    td {
      height:300px;
    }
}

h1 {
  font-size:10em;
  line-height:400px;
}

h2 {
  font-size:5em;
  line-height:300px;
}

.long-copy {
  font-size:5em;
  line-height:1.5em;
}


}






