.container {
  max-width: $max-width;
  padding: $page-margin;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -0.25em;
    left: $page-margin;
    right: $page-margin;
    height: 0.5em;
    background: rgba($black, 0.05);
  }

  @if $center-layout {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: $breakpoint-small) {
    padding: $page-margin / 2;
  }
}

nav {}
article {}
aside {}
header {}
footer {}
main {}

iframe {
  width: 100%;
  display: block;
  border: 0;
}

img, video, audio {
  display: block;
  width: auto;
  max-width: 100%;
}

.text {
  z-index:100;
  position:relative;
  width:100%;
  text-align:center;

    .title {
      width:70%;
      margin-left: auto;
      margin-right: auto;
    }

    .sub-title {
      width:50%;
      margin-left: auto;
      margin-right: auto;

    }

    .long-copy {
      width:40%;
      margin-left: auto;
      margin-right: auto;
    }
}

video, audio {
  background-color: $black;
}

blockquote {
  margin-bottom: $line-height;
  padding-left: $gutter / 2;
  border-left: $heavy-stroke solid $default-border-color;
}

pre {
  margin-bottom: $line-height;
  background-color: $gray-dark;
  color: $gray-lighter;
  border-radius: $radius;
  padding: $line-height / 2;
  white-space: pre-wrap;
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

details {
  margin-bottom: $line-height;

  summary { cursor: pointer; }

  summary:focus {
    outline: 0;
    color: $color-primary;
  }
}

math {
  display: block;
  margin-bottom: $line-height;
}



/*--------DIVS-----------------*/

table.container {
  td {
    padding:0;
    position: relative;
  }

}

table.main {
  background-color:$color-primary-dark;
  border-collapse:collapse;
  -moz-box-shadow:    0 0 3px 0 $color-primary-dark;
  -webkit-box-shadow: 0 0 3px 0 $color-primary-dark;
  box-shadow:         0 0 3px 0 $color-primary-dark;
}

thead {
  text-align:center;

    tr {
      height:250px;

          td {
            padding:0;

            .brand,
            .campaign {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;

                svg {
                  width:100%;
                  height:250px;
                  z-index:0;
                }

            }

            .brand,
            .campaign { display: none }



            h1 {
              color:white;
              text-transform:uppercase;
              font-size:60px;
              line-height:0.9em;
              text-align:center;
              padding:30px 20px 20px 20px;
              font-weight:bold;
              position: relative;
              z-index: 1;
            }

            svg {
                    width:110px;
                    height:35px;
                    float:right;
                    vertical-align:bottom;

                  }


            }
          }



}


tr.divider {
  background-color:$color-primary-dark;

    td {
      height:80px;
      color:white;
      font-weight:300;
      letter-spacing:0.18em;
      font-size:16px;
      text-align:center;
      text-transform:uppercase;
      vertical-align:middle;
      z-index:10;
    }
}

tbody {

    td.column {
      width:50%;
      color:white;
      line-height:1.6em;
      letter-spacing:0.02em;
      font-weight: 300;
      vertical-align:top;
      padding:10px 20px 20px 20px;
      font-size:15px;

    }

    img {
    max-width:90%;
    }

}


tfoot {
  background:url("../images/svg/svg-backgrounds/background-red03.svg") no-repeat center;
  background-size:cover;
  color:white;
  text-align:center;
  line-height:1.5em;

    tr {
      height:170px;

      td.footer {
        padding:20px;
        font-size:12px;

            



            .first-footer {
              padding-top:10px;
              font-weight: 300;
            }

            .second-footer {
              padding-top:10px;
              font-weight: 300;
            }
        }
    }

}






/*----------------a0--------------------*/



@media all and (min-width:9933px) and (max-width:9934px){

  .text {
  margin-top:1200px;
}


}

/*----------------a1--------------------*/



@media all and (min-width:7015px) and (max-width:7016px){

  .text {
  margin-top:1100px;
}


}


/*----------------a2--------------------*/



@media all and (min-width:4960px) and (max-width:4961px){

  .text {
  margin-top:1000px;
}

}

/*----------------pull up--------------------*/



@media all and (min-width:11810px) and (max-width:11812px){

  .text {
  margin-top:1400px;
}


}

