---
width: 222mm
height: 309mm
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href='<%= baseUrl %>/global-assets/stylesheets/print/crop-marks.css' rel='stylesheet' />
    <link href="<%= baseUrl %>/templates/testimonial-poster-2a/css/main.css?v<%= version %>" rel="stylesheet" />
    <link href='http://red-hat-overpass-fonts.s3.amazonaws.com/overpass.css' rel='stylesheet' />
  </head>

  <body sclass="rh-theme-{{ category }}" style="width: {{ width }}mm; height: {{ height }}mm;">
  	<main>
      <div class="background-image"
        style="
          background-image: url('<%= baseUrl %>/global-assets/images/basic-shapes/triangle-top.svg'),
                            linear-gradient(0deg, #37424a 1%, transparent 35%),
                            url({{{ background-image }}});
          background-blend-mode: multiply, multiply, multiply;
          background-size: 44vw 44vw, cover, cover;"
      >
      </div><!--.background-image-->
    	<section class="testimonial">
      	<h1 style="display: none;">{{ poster-title }}</h1>
        {{#testimonials}}
        <div class="grp grp-2a">
          <object data="<%= baseUrl %>/global-assets/images/basic-shapes/quot-marks.svg" class="quot-marks" style="display: none;"></object>
          <p class="input"><span>{{ content }}</span></p>
          <div class="name">
            <h3>{{ name }}</h3>
            <div class="clear-float"></div>
            <p class="sub-info">{{ sub-info }}</p>
          </div>
        </div><!--.grp-->
        {{/testimonials}}
      </section><!--.testimonial-->
      <div class="rh-logo" style="width: 12vh; height: 2vh; position: absolute; top: 3vh; left: 3vh;">
        <object
          style="width: 12vh; height: 5vh;"
          data="<%= baseUrl %>/global-assets/images/logos/rh-logo.svg">
        </object>
      </div><!--.rh-logo-->
      <div class='corner-logo' style="display:none;">
        <div class="logo"></div>
      </div>
      <div class='crop-mark top-left' style="width: 6mm; height: 6mm"></div>
      <div class='crop-mark top-right' style="width: 6mm; height: 6mm"></div>
      <div class='crop-mark bottom-left' style="width: 6mm; height: 6mm"></div>
      <div class='crop-mark bottom-right' style="width: 6mm; height: 6mm"></div>
    </main>
  </body>
</html>
