---
width: 468px
height: 60px
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <link href='<%= baseUrl %>/global-assets/stylesheets/general/tile-pattern-fill.css' rel='stylesheet' />
    <link href='<%= baseUrl %>/templates/miscellaneous/web-advertisement/stylesheets/main.css' rel='stylesheet' />
    <style>
      body { 
        background-image: url({{{ background-image }}}); 
        background-size: cover;
        background-position: 50% 50%;
      }
    </style>
  </head>
  <body class='size-468-60 background-style-{{ background-style }}' style='width: 468px; height:  60px'>
    <div class='background background-shapes'>
      <div class="corner-shape shape-multiplied">
        <% include /shared-partials/shapes/triangle.svg %>
      </div>

      <div class="corner-shape"> 
        <div class="pattern-stripe js-pattern-fill"></div>
      </div>

      <div class="center-shape shape-darker shape-multiplied">
        <% include /shared-partials/shapes/bar-narrow.svg %>
      </div>

      <div class="center-shape shape-multiplied">
        <% include /shared-partials/shapes/bar.svg %>
      </div>
    </div>

    <main class='outer-wrapper'>
      <div class='branding'>
        <% include /shared-partials/logos/redhat-logo.svg %>
      </div>

      <div class='text-wrapper'>
        <div class='text'>
          {{{ long-message }}}
          <div class='call-to-action'>
            {{ call-to-action }}
          </div>
        </div>
      </div>
    </main>

    <script type="text/javascript" charset="utf-8">
      var redhatBrandPattern = '{{ brand-pattern }}';
    </script>
    <script src="<%=baseUrl%>/global-assets/javascripts/tile-pattern.js"></script>
  </body>
</html>
