---
width: 606mm
height: 853mm
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <link href='<%= baseUrl %>/global-assets/stylesheets/print/crop-marks.css' rel='stylesheet' />

    <link href='<%= baseUrl %>/templates/forum/assets/stylesheets/vendor/leaflet.css?v<%= version %>' rel='stylesheet' />
    <link href='<%= baseUrl %>/templates/forum/assets/stylesheets/events-list.css?v<%= version %>' rel='stylesheet' />
    <link href='<%= baseUrl %>/templates/forum/agenda-boards/stylesheets/main.css?v<%= version %>' rel='stylesheet' />
    <link href='http://red-hat-overpass-fonts.s3.amazonaws.com/overpass.css' rel='stylesheet' />

    <style>
      main { 
        background-image: url('{{{ background-image }}}');
        background-size: cover;
        background-repeat: no-repeat;
      }
    </style>
  </head>

  {{{ dimensions }}}
    <main class="theme-{{ theme }}">
      <!-- Design here -->
      <div id="map"></div>

      <div class="event-logo">
        <% include /templates/forum/shared-partials/forum-logo-dynamic.svg %>
      </div>

      <div class='corner-logo'>
        <% include /shared-partials/shapes/triangles-with-pattern.svg %>
        <% include /shared-partials/logos/redhat-logo.svg %>
      </div>

      <article id="content">
        <header id="title">
          <h1>Agenda</h1>
          <p>{{ day-name }} {{ date }}, {{ month }} {{ year }}</p>
        </header>

        <section id="agenda">

          {{#times}}
          {{#time}}
          <div class="time-slot">
            <header class="time-slot-header">
              <div class="time">{{ time }}</div>
              {{#duration}}<div class="duration">{{ duration }} min</div>{{/duration}}
            </header>
            <div>
              <p>{{{ topic }}}</p>
            </div>

            {{#track-a}}
            <div class="track-a">
              <h6>{{ track-a }}</h6>
              <p>{{{ track-a-content }}}</p>
            </div>
            {{/track-a}}

            {{#track-b}}
            <div class="track-b">
              <h6>{{ track-b }}</h6>
              <p>{{{ track-b-content }}}</p>
            </div>
            {{/track-b}}

            {{#track-c}}
            <div class="track-c">
              <h6>{{ track-c }}</h6>
              <p>{{{ track-c-content }}}</p>
            </div>
            {{/track-c}}

            {{#track-d}}
            <div class="track-d">
              <h6>{{ track-d }}</h6>
              <p>{{{ track-d-content }}}</p>
            </div>
            {{/track-d}}

            {{#track-e}}
            <div class="track-e">
              <h6>{{ track-e }}</h6>
              <p>{{{ track-e-content }}}</p>
            </div>
            {{/track-e}}

            {{#track-f}}
            <div class="track-f">
              <h6>{{ track-f }}</h6>
              <p>{{{ track-f-content }}}</p>
            </div>
            {{/track-f}}
          </div>
          {{/time}}
          {{/times}}
        </section>
      </article>
      <!-- /Design here -->

      <div class='crop-mark top-left' style="width: 6mm; height: 6mm"></div>
      <div class='crop-mark top-right' style="width: 6mm; height: 6mm"></div>
      <div class='crop-mark bottom-left' style="width: 6mm; height: 6mm"></div>
      <div class='crop-mark bottom-right' style="width: 6mm; height: 6mm"></div>
    </main>

    <div style="display: none" id="baseUrl" data-base-url="<%=baseUrl%>"></div>
    <div style="display: none" id="locationName" data-location-name="{{ location }}"></div>
    <div style="display: none" id="eventLogo" data-event-logo='<div />'>
    </div>
    <!-- Params we may expose -->
    <div style="display: none" id="zoom" data-zoom="12"></div>
    <!-- /Params we may expose -->

    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/jquery.js'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/lodash.js'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/leaflet.js'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/d3.v3.min.js'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/topojson.v1.min.js'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/d3-topojson.js'></script>
    <script src='<%= baseUrl %>/templates/forum/assets/javascripts/print-map-vector-full-page.js?v<%= version %>'></script>
  </body>
</html>
