@import '../../../global-assets/scss/utils/grid';
@import '../../../global-assets/scss/fonts/overpass';
@import '../../../global-assets/scss/colors/base_color_palette';

body {
  position: relative;
  font-size: 1.8vw;
  font-family: 'Overpass';
  font-weight: 400;
  line-height: 1.5em;
  background-color: white;
  color: $color-white;
}

main {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;

  position: absolute;
  top: 3mm; bottom: 3mm;
  left: 3mm; right: 3mm;
}

main.direction-left {
  background-size: cover, 75% 100%;
  background-position: 50% 50%, 100% 50%;
}

main.direction-right {
  background-size: cover, 75% 100%;
  background-position: 50% 50%, 0 50%;
}

main.direction-up {
  background-size: cover, 150% 75%;
  background-position: 50% 50%, 50% 100%;
}

main.direction-down {
  background-size: cover, 150% 75%;
  background-position: 50% 50%, 50% 0;
}

p { margin: 0.333em 0 0.75em; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  line-height: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
}

#content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 4em;
  box-sizing: border-box;
}

main.direction-up #content {
  bottom: auto;
  top: 8em;
}

span.highlighted {
  display: inline;
  background: rgba(0, 0, 0, 0.8);
  padding-top: 0.5em;
  padding-bottom: 0.4em;
  box-shadow:
    0.5em 0 0 rgba(0, 0, 0, 0.8),
    -0.5em 0 0 rgba(0, 0, 0, 0.8);
}

.text-content {
  h1 {
    font-size: 4em;
    margin: 0;
    line-height: 1.5em;

    span.highlighted {
      padding-top: 0.07em;
      padding-bottom: 0.02em;
      box-shadow:
        0.25em 0 0 rgba(0, 0, 0, 0.8),
        -0.25em 0 0 rgba(0, 0, 0, 0.8);
    }
  }
}

.direction-left .text-content {
  margin-right: 25%;
}
.direction-right .text-content {
  margin-left: 25%;
  text-align: right;
}
.direction-up,
.direction-down {
  .text-content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 4em;

  .logo {
    width: 25%;
    margin-right: 2em;
  }

  .call-to-action {
    font-size: 1.25em;
    float: right;
    padding: 1.5em;
  }
}
