@import '../../../../global-assets/scss/utils/grid';
@import '../../../../global-assets/scss/fonts/overpass';
@import '../../../../global-assets/scss/colors/base_color_palette';


@import '../../assets/stylesheets/map';
@import '../../assets/stylesheets/colors';

body {
  position: relative;
  font-size: 2vw;
  font-family: 'Overpass';
  font-weight: 400;
  line-height: 1.5em;
  background-color: white;
}

main {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;

  position: absolute;
  top: 3mm; bottom: 3mm;
  left: 3mm; right: 3mm;
}

p { margin: 0.333em 0 0.75em; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  line-height: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
  text-align:center;
}

h1 {  
	font-size: 3em;
	font-weight: 300;
	}

h2 {  
  font-size: 14em;
  line-height: 1em;
  margin-bottom: 0.25em;
}

#background-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: unquote("grayscale(100%)");
}

#map .leaflet-tile-pane {
  background-color: transparent;
}

#map {
  height: 100%;
  box-sizing: border-box;
}

#content {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 4em;
  box-sizing: border-box;
}

.event-logo {
  position: absolute;
  top: 25%;
  left: 5em;
  width: 30em;
  transform: translateY(-50%);
}

$logo-width: 8em;
$logo-ratio: 0.36437247;

.corner-logo {
  position: absolute;
  bottom: 50%;
  right: 0;
  width: 50%;
  height: 50%;

  .redhat-logo {
    fill: white;
    position: absolute;
    right: 2em;
    bottom: 2em;

    width: $logo-width;
    height: $logo-width * $logo-ratio;
  }

  .triangles-with-pattern {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}
