---
width: 7368px
height: 10332px
---

<!DOCTYPE html>
<html
  style="height: 10332px; width: 7368px; padding: 60px">
  <!--594 x 841-->

  <!-- DPI ratio mm:px is Actually 1:11.811023622 -->

  <head>
    <meta charset='utf-8'>
    <link href='<%= baseUrl %>/templates/agenda-boards/a1/stylesheets/main.css' media='all' rel='stylesheet'>
    <link href='<%= baseUrl %>/global-assets/stylesheets/print/crop-marks.css' rel='stylesheet' />
    <link href='<%= baseUrl %>/templates/forum/assets/stylesheets/map.css' rel='stylesheet' />
    <link href='<%= baseUrl %>/templates/forum/assets/stylesheets/vendor/leaflet.css' rel='stylesheet' />
    <link href='<%= baseUrl %>/templates/forum/assets/stylesheets/events-list.css' rel='stylesheet' />
  </head>

  <body
    style="height: 10332px; width:7368px; padding: 60px; position: relative">

    <div id="map"></div>

    <!--<div class="img-bg"><img src='<%=baseUrl%>/templates/agenda-boards/a2/images/rh-forum-polygon-outline-grey.svg'></div>-->

    <div class="white-bg"></div>

    <div class="header">

      <img class="forum-logo" src='<%= baseUrl %>/templates/agenda-boards/a2/images/red-hat-forum-ico-v2.svg'>
      <div id="headings">
        <h1>{{ title }}</h1>
        <h2>{{ sub-title }}</h2>
      </div>


    </div>

    <div class="contents">
      <div class="events-list">
        <a class="event clearfix" href="{{{ link }}}" target="_blank">
          <div class="date">
            <img src='<%= baseUrl %>/templates/forum/assets/images/space.svg' />
            <div class="text-content">
              <svg class="month" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 18">
                <text fill="white" x="50%" y="12.5" font-size="9" text-anchor="middle">
                  {{ date }}
                </text>
              </svg>
              <svg class="month" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 18">
                <text fill="white" x="50%" y="12.5" font-size="9" text-anchor="middle">
                  {{ month }}
                </text>
              </svg>
            </div>
          </div>
          <div class="location clearfix">
            <div class="text-content">{{ location }}</div>
          </div>
        </a>
      </div>

      <table align='center' cellpadding='0' cellspacing='0' class='container' width='7368px'>
        <tr>
          <td>
            <table align='center' style="margin: 0 auto" cellpadding='0' cellspacing='0' class='main' height='auto' width='100%'>
              <thead>
                <tr>
                  <td colspan="1">
                   <h3>{{ col1 }}</h3>
                  </td>
                  <td colspan="1">
                    <h3>{{ col2 }}</h3>
                  </td>
                  <td colspan="6">
                    <h3>{{ col3 }}</h3>
                  </td>
                </tr>

              </thead>
              <tbody>



                <tr class="content">
                  <td><p><b>{{{ timing }}}</p></b></td>
                  <td><p><b>{{{ duration }}}</p></b></td>
                  {{# track-a }}<td><p>{{{ track-a }}}</p></td>{{/ track-a }}
                  {{# track-b }}<td><p>{{{ track-b }}}</p></td>{{/ track-b }}
                  {{# track-c }}<td><p>{{{ track-c }}}</p></td>{{/ track-c }}
                  {{# track-d }}<td><p>{{{ track-d }}}</p></td>{{/ track-d }}
                  {{# track-e }}<td><p>{{{ track-e }}}</p></td>{{/ track-e }}
                  {{# track-f }}<td><p>{{{ track-f }}}</p></td>{{/ track-f }}
                </tr>

                <tr class="content">
                  <td><p><b>{{{ timing }}}</p></b></td>
                  <td><p><b>{{{ duration }}}</p></b></td>
                  {{# track-a }}<td><p>{{{ track-a }}}</p></td>{{/ track-a }}
                  {{# track-b }}<td><p>{{{ track-b }}}</p></td>{{/ track-b }}
                  {{# track-c }}<td><p>{{{ track-c }}}</p></td>{{/ track-c }}
                  {{# track-d }}<td><p>{{{ track-d }}}</p></td>{{/ track-d }}
                  {{# track-e }}<td><p>{{{ track-e }}}</p></td>{{/ track-e }}
                  {{# track-f }}<td><p>{{{ track-f }}}</p></td>{{/ track-f }}
                </tr>

                <tr class="content">
                  <td><p><b>{{{ timing }}}</p></b></td>
                  <td><p><b>{{{ duration }}}</p></b></td>
                  {{# track-a }}<td><p>{{{ track-a }}}</p></td>{{/ track-a }}
                  {{# track-b }}<td><p>{{{ track-b }}}</p></td>{{/ track-b }}
                  {{# track-c }}<td><p>{{{ track-c }}}</p></td>{{/ track-c }}
                  {{# track-d }}<td><p>{{{ track-d }}}</p></td>{{/ track-d }}
                  {{# track-e }}<td><p>{{{ track-e }}}</p></td>{{/ track-e }}
                  {{# track-f }}<td><p>{{{ track-f }}}</p></td>{{/ track-f }}
                </tr>

                <tr class="content">
                  <td><p><b>{{{ timing }}}</p></b></td>
                  <td><p><b>{{{ duration }}}</p></b></td>
                  {{# track-a }}<td><p>{{{ track-a }}}</p></td>{{/ track-a }}
                  {{# track-b }}<td><p>{{{ track-b }}}</p></td>{{/ track-b }}
                  {{# track-c }}<td><p>{{{ track-c }}}</p></td>{{/ track-c }}
                  {{# track-d }}<td><p>{{{ track-d }}}</p></td>{{/ track-d }}
                  {{# track-e }}<td><p>{{{ track-e }}}</p></td>{{/ track-e }}
                  {{# track-f }}<td><p>{{{ track-f }}}</p></td>{{/ track-f }}
                </tr>



              </tbody>
            </table>
          </td>
        </tr>
      </table>
    </div>


    <div id="baseUrl" data-base-url="<%= baseUrl %>"></div>
    <div id="locationName" data-location-name="{{ location }}"></div>

    <div class='crop-mark top-left'></div>
    <div class='crop-mark top-right'></div>
    <div class='crop-mark bottom-left'></div>
    <div class='crop-mark bottom-right'></div>

    <!-- Params we may expose -->
    <div style="display: none" id="zoom" data-zoom="14"></div>
    <div style="display: none" id="offsetLatitude" data-offset-lat="0"></div>
    <div style="display: none" id="offsetLongitude" data-offset-lon="0.14"></div>
    <!-- /Params we may expose -->

    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/jquery.js'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/lodash.js'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/leaflet.js'></script>
    <script src='<%= baseUrl %>/templates/forum/assets/javascripts/print-map.js'></script>
    <script src='<%= baseUrl %>/templates/forum/assets/javascripts/print-events-list.js'></script>

  </body>
</html>
