---
width: 606mm
height: 853mm
---

<!DOCTYPE html>
<html
  style="height: 10332px; width: 7368px; padding: 60px">
  <!--594 x 841-->

  <!-- DPI ratio mm:px is Actually 1:11.811023622 -->

  <head>
    <meta charset='utf-8'>
    <link href='<%= baseUrl %>/global-assets/stylesheets/print/crop-marks.css?v<%= version %>' rel='stylesheet' />
    <link href='<%= baseUrl %>/templates/forum/assets/stylesheets/map.css?v<%= version %>' rel='stylesheet' />
    <link href='<%= baseUrl %>/templates/forum/assets/stylesheets/vendor/leaflet.css?v<%= version %>' rel='stylesheet' />
    <link href='<%= baseUrl %>/templates/agenda-boards/a1/stylesheets/components/events-list.css?v<%= version %>' rel='stylesheet' />
    <link href='<%= baseUrl %>/templates/agenda-boards/a1/stylesheets/main.css?v<%= version %>' media='all' rel='stylesheet'>
  </head>


  <body style="width: 606mm; height: 853mm">
    <main>
      <!-- Finished, cropped area = 594 x 841. 3mm bleed -->

    <div id="map"></div>

    <!--<div class="img-bg"><img src='<%=baseUrl%>/templates/agenda-boards/a2/images/rh-forum-polygon-outline-grey.svg'></div>-->

    <div class="white-bg"></div>

    <div class="header">

      <img class="forum-logo" src='<%= baseUrl %>/templates/agenda-boards/a2/images/red-hat-forum-ico-v2.svg'>
      <div id="headings">
        <h1>{{ title }}</h1>
        <h2>{{ sub-title }}</h2>
      </div>


    </div>

    <div class="contents">
      <div class="events-list">
        <a class="event clearfix" href="{{{ link }}}" target="_blank">
          <div class="date">
            <img src='<%= baseUrl %>/templates/forum/assets/images/space.svg' />
            <div class="text-content">
              <svg class="month" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 18">
                <text fill="white" x="50%" y="12.5" font-size="9" text-anchor="middle">
                  {{ date }}
                </text>
              </svg>
              <svg class="month" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 18">
                <text fill="white" x="50%" y="12.5" font-size="9" text-anchor="middle">
                  {{ month }}
                </text>
              </svg>
            </div>
          </div>
          <div class="location clearfix">
            <div class="text-content">{{ location }}</div>
          </div>
        </a>
      </div>

      <table align='center' cellpadding='0' cellspacing='0' class='container' width='6977px'>
        <tr>
          <td>
            <table align='center' style="margin: 0 auto" cellpadding='0' cellspacing='0' class='main' height='auto' width='100%'>
              <thead>
                <tr>
                  <td class="narrow-col">
                   <h3>Time</h3>
                  </td>
                  <td class="narrow-col">
                    <h3>Duration</h3>
                  </td>
                  <td class="wide-col">
                    <h3>Topic</h3>
                  </td>
                </tr>

              </thead>
              <tbody>


                {{# times }}
                <tr class="content">
                  <td><h4>{{{ timing }}}</h4></td>
                  <td><h4>{{{ duration }}}</h4></td>
                  <td><h4>{{{ topic }}}</h4>
                    {{# track-a }}<div class="tracks"><h4>{{ track-a }}</h4><p>{{ track-a-content }}</p></div> {{/ track-a }}
                    {{# track-b }}<div class="tracks"><h4>{{ track-b }}</h4><p>{{ track-b-content }}</p></div> {{/ track-b }}
                    {{# track-c }}<div class="tracks"><h4>{{ track-c }}</h4><p>{{ track-c-content }}</p></div> {{/ track-c }}
                    {{# track-d }}<div class="tracks"><h4>{{ track-d }}</h4><p>{{ track-d-content }}</p></div> {{/ track-d }}
                    {{# track-e }}<div class="tracks"><h4>{{ track-e }}</h4><p>{{ track-e-content }}</p></div> {{/ track-e }}
                    {{# track-f }}<div class="tracks"><h4>{{ track-f }}</h4><p>{{ track-f-content }}</p></div> {{/ track-f }}
                  </td>
                </tr>
                {{/ times }}

              </tbody>
            </table>
          </td>
        </tr>
      </table>
    </div>


    <div id="baseUrl" data-base-url="<%= baseUrl %>"></div>
    <div id="locationName" data-location-name="{{ location }}"></div>

    <div class='crop-mark top-left'></div>
    <div class='crop-mark top-right'></div>
    <div class='crop-mark bottom-left'></div>
    <div class='crop-mark bottom-right'></div>

    <!-- Params we may expose -->
    <div style="display: none" id="zoom" data-zoom="14"></div>
    <div style="display: none" id="offsetLatitude" data-offset-lat="0"></div>
    <div style="display: none" id="offsetLongitude" data-offset-lon="0.14"></div>
    <!-- /Params we may expose -->

    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/jquery.js?v<%= version %>'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/lodash.js?v<%= version %>'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/leaflet.js?v<%= version %>'></script>
    <script src='<%= baseUrl %>/templates/forum/assets/javascripts/print-map.js?v<%= version %>'></script>
    <script src='<%= baseUrl %>/templates/forum/assets/javascripts/print-events-list.js?v<%= version %>'></script>

  </body>
</html>
