---
title: Agenda Boards A1| Red Hat Forum 2014
template: preview.hbt
data:
  location: Singapore
  date: 16
  month: Sep
  col1: Time
  col2: Duration
  col3: Topic
  title: Agenda
  timing: "10:00"
  track-a: The JBoss
  track-b: The JBoss
  track-c: The JBoss
  track-d: The JBoss
  track-e: The JBoss
  track-f: The JBoss
  duration: 15
  topic: Architect. Implement. Enable. - Sachin Shridar
  sub-title: Tuesday 16th September
  long-copy: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. </p>'
  call-to-action: Call to action

---
