---
{
  "width": "1920px",
  "height": "1080px"
}
---



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8' />

    <link href='<%= baseUrl %>/templates/forum/assets/stylesheets/vendor/leaflet.css?v<%= version %>' rel='stylesheet' />
    <link href='<%= baseUrl %>/templates/forum/assets/stylesheets/map.css?v<%= version %>' rel='stylesheet' />

    <link href='<%= baseUrl %>/templates/forum/slides/stylesheets/main.css?v<%= version %>' rel='stylesheet' />
    <link href='http://red-hat-overpass-fonts.s3.amazonaws.com/overpass.css' rel='stylesheet' />

    <style>
      main { 
        background-image: url('{{{ background-image }}}');
        background-size: cover;
        background-repeat: no-repeat;
      }
    </style>

    <script type="text/javascript" charset="utf-8">
      var mapSettings = {
        zoom: 13,
        locationName: '{{ location }}',
        paddingTopLeft: [{{#divide}}{{width}}/8{{/divide}}, 0],
        paddingBottomRight: [0, 0]
      };
    </script>
  </head>

  <body 
    class="theme-{{ theme }} show-markers-{{ show-markers }} {{ contrast }}-contrast" 
    style="width: {{width}}px; height: {{#multiply}}{{width}}*{{ratio}}{{/multiply}}px">
    
    <main>
      <!-- Design here -->
      <div id="map"></div>
      <!-- /Design here -->
    </main>

    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/jquery.js'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/lodash.js'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/leaflet.js'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/d3.v3.min.js'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/topojson.v1.min.js'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/d3-topojson.js'></script>
    <script src='<%= baseUrl %>/templates/forum/assets/javascripts/print-map-vector-full-page-2.js?v<%= version %>'></script>
  </body>
</html>
