---
width: 73px
height: 73px
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <link href='<%= baseUrl %>/templates/social-media/stylesheets/main.css' rel='stylesheet'>
  </head>
  <body class='{{ background-theme }} size-73x73 {{ avatar-option }}' style='width: 73px; height: 73px'>
    <div class='text-content'>
      {{{ message }}}
    </div>
    <div class='logo-content'>
      <% include ../shared/logos/rh-logo-no-fill.svg %>
    </div>
  </body>
</html>
