@import '../../../global-assets/scss/fonts/overpass';
@import '../../../global-assets/scss/colors/base_color_palette';
@import '../../../global-assets/stylesheets/general/rh-logo';

$gen-spacing-4em: 4em;
$gen-spacing-2em: 2em;

body {
  margin: 0;
  font-family: 'Overpass'; font-size: 2vw; font-weight: 400; line-height: 1.5em;
	color: #fff;
	background: #890000;
	overflow: hidden;
  .background-image {
    position: absolute; z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
  }
	main {
		padding: 0;
		section.testimonial {
			margin: 0 $gen-spacing-4em;
			.grp {
        margin: 0 0 $gen-spacing-2em 0;
				h3, p.sub-info {
					margin: 0;
				}
				p.sub-info { font-size:1.7vw; }
        object.quot-marks {
          float: left;
          width: 8.5vw; height:auto;
          margin: 0 2vw 0 0;
        }
			}
      h1 { margin: $gen-spacing-2em 0 7vw 0; font-size: 6vw; }
		}
	}
}
