$color-white:                 white;
$color-black:                 black;

$color-grey-lighter:          rgb(204,204,204);
$color-grey-dark:             rgb(34,34,34);

$color-rh-red-light:          rgb(244,45,49);
$color-rh-red:                rgb(185,12,32);
$color-rh-red-dark:           rgb(141,28,13);
$color-rh-orange:             rgb(242,116,40);
$color-rh-orange-light:       rgb(255,182,66);
$color-rh-blue:               rgb(0,162,220);
$color-rh-blue-light:         rgb(130,210,229);
$color-rh-green:              rgb(89,166,52);
$color-rh-green-light:        rgb(204,218,70);
$color-rh-grey:               rgb(91,103,112);
$color-rh-grey-light:         rgb(91,103,112);
$color-rh-navy:               rgb(0,79,107);
