<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Event Logo</title>
  <style>
    body { margin: 0; }
    article {
      padding: 0.5em;
    }
    .preview {
      display: inline-block;
      vertical-align: top;
      margin: 0.5em;
    }
    .preview-frame { border: 0; }
  </style>
</head>
  <body>
    <article>
      <div class='preview' style='height: ; width: '>
        <iframe class='preview-frame' data-xml-url="http://redhatbrand.github.io/RedHatTemplates/templates/event/logo/event-logo.svg" height='100%' width='100%'></iframe>
      </div>
      <div id="data" data-template-data="{&quot;line-one&quot;:&quot;Tech&quot;,&quot;line-two&quot;:&quot;Exchange&quot;,&quot;line-three&quot;:&quot;Asia Pacific&quot;,&quot;event-type&quot;:&quot;large&quot;,&quot;icon&quot;:&quot;network&quot;,&quot;show-red-hat&quot;:&quot;yes&quot;}"></div>
    </article>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
    <script src="http://redhatbrand.github.io/RedHatTemplates/global-assets/javascripts/previews.js" type="text/javascript"></script>
  </body>
</html>
