.grid-container {
  margin-left: -1em;
  margin-right: -1em; }
  .grid-container:before, .grid-container:after {
    content: "";
    display: table; }
  .grid-container:after {
    clear: both; }

.grid-column, .one-half, .one-third, .two-thirds, .one-quarter, .three-quarters, .grid-module-container .grid-module {
  float: left;
  vertical-align: top;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 1em;
  padding-right: 1em; }

.one-half {
  width: 50%; }

.one-third {
  width: 33.33333%; }

.two-thirds {
  width: 66.66667%; }

.one-quarter {
  width: 25%; }

.three-quarters {
  width: 75%; }

@media screen and (max-width: 20em) {
  .grid-container {
    margin-left: 0;
    margin-right: 0; }
  .one-half:not(.no-break), .one-third:not(.no-break), .two-thirds:not(.no-break), .one-quarter:not(.no-break), .three-quarters:not(.no-break) {
    width: auto;
    float: none;
    padding-left: 0;
    padding-right: 0; } }

.grid-module-container {
  padding: 2em 1em;
  margin: 0 auto;
  max-width: 62em; }
  .grid-module-container:before, .grid-module-container:after {
    content: "";
    display: table; }
  .grid-module-container:after {
    clear: both; }
  @media screen and (min-width: 33em) {
    .grid-module-container {
      max-width: 31em;
      padding: 4em 1em; }
      .grid-module-container .grid-module {
        width: 31em; } }
  @media screen and (min-width: 64em) {
    .grid-module-container {
      max-width: 62em; } }
  @media screen and (min-width: 95em) {
    .grid-module-container {
      max-width: 93em; } }
  @media screen and (min-width: 126em) {
    .grid-module-container {
      max-width: 124em; } }
  @media screen and (min-width: 157em) {
    .grid-module-container {
      max-width: 155em; } }

@font-face {
  font-family: 'Overpass';
  src: url('/global-assets/fonts/overpass/overpass_bold-webfont.eot');
  src: url('/global-assets/fonts/overpass/overpass_bold-webfont.eot?#iefix') format('embedded-opentype'), url('/global-assets/fonts/overpass/overpass_bold-webfont.woff') format('woff'), url('/global-assets/fonts/overpass/overpass_bold-webfont.ttf') format('truetype'), url('/global-assets/fonts/overpass/overpass_bold-webfont.svg#overpassbold') format('svg');
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Overpass';
  src: url('/global-assets/fonts/overpass/overpass_light-webfont.eot');
  src: url('/global-assets/fonts/overpass/overpass_light-webfont.eot?#iefix') format('embedded-opentype'), url('/global-assets/fonts/overpass/overpass_light-webfont.woff') format('woff'), url('/global-assets/fonts/overpass/overpass_light-webfont.ttf') format('truetype'), url('/global-assets/fonts/overpass/overpass_light-webfont.svg#overpasslight') format('svg');
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Overpass';
  src: url('/global-assets/fonts/overpass/overpass_regular-webfont.eot');
  src: url('/global-assets/fonts/overpass/overpass_regular-webfont.eot?#iefix') format('embedded-opentype'), url('/global-assets/fonts/overpass/overpass_regular-webfont.woff') format('woff'), url('/global-assets/fonts/overpass/overpass_regular-webfont.ttf') format('truetype'), url('/global-assets/fonts/overpass/overpass_regular-webfont.svg#overpassregular') format('svg');
  font-weight: 600;
  font-style: normal; }

.background-shapes {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.background-shapes .corner-shape {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0; }
  .background-shapes .corner-shape .shape {
    width: 100%;
    height: 100%; }

.background-shapes .center-shape {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .background-shapes .center-shape .shape {
    width: 100%;
    height: 100%; }

.shape-filled {
  fill: #c00; }

.shape-multiplied {
  mix-blend-mode: multiply; }

.center-shape, .corner-shape {
  display: none; }

.background-style-center .center-shape {
  display: block; }

.background-style-corner .corner-shape {
  display: block; }

pattern.normal use {
  stroke: #c00;
  fill: none; }

pattern.light use {
  stroke: #fff;
  fill: none; }

pattern.dark use {
  stroke: #000;
  fill: none; }

.brand-pattern-paths path, .pattern-path {
  stroke-width: 1;
  fill: none; }

.brand-pattern {
  display: none; }

.brand-pattern-corporate .brand-pattern.corporate {
  display: block; }

.brand-pattern-storage .brand-pattern.storage {
  display: block; }

.brand-pattern-infrastructure .brand-pattern.infrastructure {
  display: block; }

.brand-pattern-cloud-infrastructure .brand-pattern.cloud-infrastructure {
  display: block; }

.brand-pattern-development .brand-pattern.development {
  display: block; }

.brand-pattern-cloud-development .brand-pattern.cloud-development {
  display: block; }

.brand-pattern-business-process .brand-pattern.business-process {
  display: block; }

.brand-pattern-services .brand-pattern.services {
  display: block; }

.brand-pattern-partners .brand-pattern.partners {
  display: block; }

.brand-pattern-community .brand-pattern.community {
  display: block; }

body {
  position: relative;
  font-family: 'Overpass';
  font-weight: 400;
  line-height: 1.6em;
  background-color: white;
  font-size: 180pt;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat; }

main {
  position: absolute;
  top: 3mm;
  bottom: 3mm;
  left: 3mm;
  right: 3mm; }

p {
  margin: 0.333em 0 0.75em; }

ul {
  list-style: none;
  padding: 0; }

ul li {
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  line-height: 1.6em;
  text-transform: uppercase;
  font-weight: 700; }

#content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 3mm solid transparent;
  border-left: 3mm solid transparent;
  border-right: 3mm solid transparent;
  border-bottom: 3mm solid transparent; }

.highlighted span {
  color: white;
  background: rgba(0, 0, 0, 0.8);
  padding-top: 0.25em;
  padding-bottom: 0.125em; }

.highlighted h1 span {
  padding-top: 0.1em;
  padding-bottom: 0.05em; }

.text-content {
  width: 50%;
  padding: 3em;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  text-transform: uppercase; }
  .text-content h1 {
    font-size: 3em;
    line-height: 1.6em;
    margin-bottom: 0.667em; }
  .text-content h2 {
    font-size: 2em;
    line-height: 1.6em;
    margin-bottom: 1em; }
  .text-content p, .text-content ul {
    margin-bottom: 2em; }

.wider .text-content {
  width: 33.333%; }

.branding {
  position: absolute;
  right: 3em;
  bottom: 3em;
  width: 24em; }
  .branding .redhat-logo {
    width: 100%;
    height: 8.74494em;
    display: block; }
    .branding .redhat-logo .logotext {
      fill: white; }

.wider .branding {
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 33.333%; }
  .wider .branding .redhat-logo {
    height: 100%; }

.call-to-action {
  padding: 0.5em;
  padding-bottom: 0.25em;
  background-color: #b90c20;
  color: white;
  display: inline-block; }

.background-style-center .pattern-stripe {
  display: none; }

.pattern-stripe {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0; }
