.background-shapes {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.background-shapes .corner-shape {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;

  .shape {
    width: 100%;
    height: 100%;
  }
}

.background-shapes .center-shape {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .shape {
    width: 100%;
    height: 100%;
  }
}

.shape-filled {
  fill: #c00;
}

.shape-darker {
  .shape-filled {
    fill: darken(#c00, 10%);
  }
}

.shape-multiplied { mix-blend-mode: multiply; }
.shape-lightened { mix-blend-mode: lighten; }
.shape-darkened { mix-blend-mode: darken; }
.shape-screened { mix-blend-mode: screen; }

.center-shape,
.corner-shape { display: none; }

.background-style-center .center-shape { display: block; }
.background-style-corner .corner-shape { display: block; }

.background-style-center,
.background-style-corner {
  .shape-show-both {
    display: block;
  }
}

