.grid-container {
  margin-left: -1em;
  margin-right: -1em; }
  .grid-container:before, .grid-container:after {
    content: "";
    display: table; }
  .grid-container:after {
    clear: both; }

.grid-column, .one-half, .one-third, .two-thirds, .one-quarter, .three-quarters, .grid-module-container .grid-module {
  float: left;
  vertical-align: top;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 1em;
  padding-right: 1em; }

.one-half {
  width: 50%; }

.one-third {
  width: 33.33333%; }

.two-thirds {
  width: 66.66667%; }

.one-quarter {
  width: 25%; }

.three-quarters {
  width: 75%; }

@media screen and (max-width: 20em) {
  .grid-container {
    margin-left: 0;
    margin-right: 0; }
  .one-half:not(.no-break), .one-third:not(.no-break), .two-thirds:not(.no-break), .one-quarter:not(.no-break), .three-quarters:not(.no-break) {
    width: auto;
    float: none;
    padding-left: 0;
    padding-right: 0; } }

.grid-module-container {
  padding: 2em 1em;
  margin: 0 auto;
  max-width: 62em; }
  .grid-module-container:before, .grid-module-container:after {
    content: "";
    display: table; }
  .grid-module-container:after {
    clear: both; }
  @media screen and (min-width: 33em) {
    .grid-module-container {
      max-width: 31em;
      padding: 4em 1em; }
      .grid-module-container .grid-module {
        width: 31em; } }
  @media screen and (min-width: 64em) {
    .grid-module-container {
      max-width: 62em; } }
  @media screen and (min-width: 95em) {
    .grid-module-container {
      max-width: 93em; } }
  @media screen and (min-width: 126em) {
    .grid-module-container {
      max-width: 124em; } }
  @media screen and (min-width: 157em) {
    .grid-module-container {
      max-width: 155em; } }

.background-shapes {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.background-shapes .corner-shape {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0; }
  .background-shapes .corner-shape .shape {
    width: 100%;
    height: 100%; }

.background-shapes .center-shape {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .background-shapes .center-shape .shape {
    width: 100%;
    height: 100%; }

.shape-filled {
  fill: #c00; }

.shape-multiplied {
  mix-blend-mode: multiply; }

.center-shape, .corner-shape {
  display: none; }

.background-style-center .center-shape {
  display: block; }

.background-style-corner .corner-shape {
  display: block; }

pattern.normal use {
  stroke: #c00;
  fill: none; }

pattern.light use {
  stroke: #fff;
  fill: none; }

pattern.dark use {
  stroke: #000;
  fill: none; }

.brand-pattern-paths path, .pattern-path {
  stroke-width: 1;
  fill: none; }

.brand-pattern {
  display: none; }

.brand-pattern-corporate .brand-pattern.corporate {
  display: block; }

.brand-pattern-storage .brand-pattern.storage {
  display: block; }

.brand-pattern-infrastructure .brand-pattern.infrastructure {
  display: block; }

.brand-pattern-cloud-infrastructure .brand-pattern.cloud-infrastructure {
  display: block; }

.brand-pattern-development .brand-pattern.development {
  display: block; }

.brand-pattern-cloud-development .brand-pattern.cloud-development {
  display: block; }

.brand-pattern-business-process .brand-pattern.business-process {
  display: block; }

.brand-pattern-services .brand-pattern.services {
  display: block; }

.brand-pattern-partners .brand-pattern.partners {
  display: block; }

.brand-pattern-community .brand-pattern.community {
  display: block; }

body {
  position: relative;
  font-family: 'Overpass';
  font-weight: 400;
  line-height: 1.4em;
  background-color: white;
  font-size: 24pt;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden; }

main {
  position: absolute;
  top: 3mm;
  bottom: 3mm;
  left: 3mm;
  right: 3mm;
  background-repeat: no-repeat; }

p {
  margin: 0.333em 0 0.75em; }

ul {
  list-style: none;
  padding: 0; }

ul li {
  padding: 0; }

blockquote {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  line-height: 1.6em;
  text-transform: uppercase;
  font-weight: 700; }

#content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right; }

.highlighted span {
  color: white;
  background: rgba(0, 0, 0, 0.8);
  padding-top: 0.1em;
  padding-bottom: 0.05em; }

.text-content {
  padding: 1.75em;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 25%;
  right: 0;
  bottom: 0;
  top: auto; }
  .text-content h1 {
    font-size: 3em;
    line-height: 1.1em;
    margin-bottom: 0.333em; }
  .text-content h2 {
    font-size: 2em;
    line-height: 1.1em;
    margin-bottom: 0.667em; }
  .text-content p, .text-content ul {
    margin-bottom: 1em; }
  .text-content blockquote {
    font-weight: 300;
    font-size: 1em;
    line-height: 1.5em; }

cite {
  display: block;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1.5em; }

.author-info {
  display: block;
  line-height: 1.5em;
  font-size: 0.5em;
  text-transform: none; }

.branding {
  position: absolute;
  width: 5em;
  top: 1.75em;
  left: 1.75em; }
  .branding .redhat-logo {
    width: 100%;
    height: 1.82186em;
    display: block; }
    .branding .redhat-logo .logotext {
      fill: white; }

@media (min-width: 1000mm) {
  body {
    font-size: 96pt; } }

.pattern-stripe {
  width: 100vw;
  height: 1.75em;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -121.25%) rotate(-45deg);
  -ms-transform: translate(-50%, -121.25%) rotate(-45deg);
  transform: translate(-50%, -121.25%) rotate(-45deg); }

.pattern-stripe svg {
  stroke: #c00;
  display: block;
  width: 1.75em;
  height: 1.75em; }

.background-shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 50vw;
  overflow: hidden; }

.corner-shape-top {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

.corner-shape-top-offset {
  -webkit-transform: translate(-2.75em, -2.75em);
  -ms-transform: translate(-2.75em, -2.75em);
  transform: translate(-2.75em, -2.75em); }

.corner-shape-top > svg {
  width: 100%;
  height: 100%; }
