<!--
----
----
-->

<!DOCTYPE html>
<html>
<head>
<meta name="charset" content="utf-8" />
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<section>
    	<div class="rh-main-logo"><object data="images/logos/rh-logo-v2.svg"></object></div><!--.rh-main-logo-->
  <div class="rhf-ico"><object data="images/logos/red-hat-forum-ico-v2.svg"></object></div><!--.rh-main-logo-->
        <div class="sponsors">
        	<ul class="main-sponsors">
            	<li class="hdr-title-sponsor"><h3>principal sponsors</h3></li>
            	<li><img src="images/sponsors/def-bg-sponsor.jpg" alt="sponsor"></li>
            	<li><img src="images/sponsors/def-bg-sponsor.jpg" alt="sponsor"></li>
            </ul><!--ul.main-sponsors-->
            <ul class="joint-sponsors">
            	<li class="hdr-title-sponsor"><h3>principal sponsors</h3></li>
            	<li><img src="images/sponsors/def-bg-sponsor.jpg" alt="sponsor"></li>
            	<li><img src="images/sponsors/def-bg-sponsor.jpg" alt="sponsor"></li>
            	<li><img src="images/sponsors/def-bg-sponsor.jpg" alt="sponsor"></li>
            </ul><!--ul.joint-sponsors-->
        </div><!--.sponsors-->
</section>
</body>
</html>
