/* required styles */
.leaflet-map-pane, .leaflet-tile, .leaflet-marker-icon, .leaflet-marker-shadow, .leaflet-tile-pane, .leaflet-tile-container, .leaflet-overlay-pane, .leaflet-shadow-pane, .leaflet-marker-pane, .leaflet-popup-pane, .leaflet-overlay-pane svg, .leaflet-zoom-box, .leaflet-image-layer, .leaflet-layer {
  position: absolute;
  left: 0;
  top: 0; }

.leaflet-container {
  overflow: hidden;
  -ms-touch-action: none; }

.leaflet-tile, .leaflet-marker-icon, .leaflet-marker-shadow {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none; }

.leaflet-marker-icon, .leaflet-marker-shadow {
  display: block; }

/* map is broken in FF if you have max-width: 100% on tiles */
.leaflet-container img {
  max-width: none !important; }

/* stupid Android 2 doesn't understand "max-width: none" properly */
.leaflet-container img.leaflet-image-layer {
  max-width: 15000px !important; }

.leaflet-tile {
  -webkit-filter: inherit;
  filter: inherit;
  visibility: hidden; }

.leaflet-tile-loaded {
  visibility: inherit; }

.leaflet-zoom-box {
  width: 0;
  height: 0; }

/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.leaflet-overlay-pane svg {
  -moz-user-select: none; }

.leaflet-tile-pane {
  z-index: 2; }

.leaflet-objects-pane {
  z-index: 3; }

.leaflet-overlay-pane {
  z-index: 4; }

.leaflet-shadow-pane {
  z-index: 5; }

.leaflet-marker-pane {
  z-index: 6; }

.leaflet-popup-pane {
  z-index: 7; }

.leaflet-vml-shape {
  width: 1px;
  height: 1px; }

.lvml {
  behavior: url(#default#VML);
  display: inline-block;
  position: absolute; }

/* control positioning */
.leaflet-control {
  position: relative;
  z-index: 7;
  pointer-events: auto; }

.leaflet-top, .leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none; }

.leaflet-top {
  top: 0; }

.leaflet-right {
  right: 0; }

.leaflet-bottom {
  bottom: 0; }

.leaflet-left {
  left: 0; }

.leaflet-control {
  float: left;
  clear: both; }

.leaflet-right .leaflet-control {
  float: right; }

.leaflet-top .leaflet-control {
  margin-top: 10px; }

.leaflet-bottom .leaflet-control {
  margin-bottom: 10px; }

.leaflet-left .leaflet-control {
  margin-left: 10px; }

.leaflet-right .leaflet-control {
  margin-right: 10px; }

/* zoom and fade animations */
.leaflet-fade-anim .leaflet-tile, .leaflet-fade-anim .leaflet-popup {
  opacity: 0;
  transition: opacity 0.2s linear; }

.leaflet-fade-anim .leaflet-tile-loaded, .leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  opacity: 1; }

.leaflet-zoom-anim .leaflet-zoom-animated {
  transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1); }

.leaflet-zoom-anim .leaflet-tile, .leaflet-pan-anim .leaflet-tile, .leaflet-touching .leaflet-zoom-animated {
  transition: none; }

.leaflet-zoom-anim .leaflet-zoom-hide {
  visibility: hidden; }

/* cursors */
.leaflet-clickable {
  cursor: pointer; }

.leaflet-container {
  cursor: -webkit-grab;
  cursor: -moz-grab; }

.leaflet-popup-pane, .leaflet-control {
  cursor: auto; }

.leaflet-dragging .leaflet-container, .leaflet-dragging .leaflet-clickable {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing; }

/* visual tweaks */
.leaflet-container {
  background: #ddd;
  outline: 0; }

.leaflet-container a {
  color: #0078A8; }

.leaflet-container a.leaflet-active {
  outline: 2px solid orange; }

.leaflet-zoom-box {
  border: 2px dotted #38f;
  background: rgba(255, 255, 255, 0.5); }

/* general toolbar styles */
.leaflet-bar a, .leaflet-bar a:hover {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black; }

.leaflet-bar a, .leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block; }

.leaflet-bar a:hover {
  background-color: #f4f4f4; }


.leaflet-bar a:last-child {
  border-bottom: none; }

.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: #bbb; }

.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px; }

/* zoom control */
.leaflet-control-zoom-in, .leaflet-control-zoom-out {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  text-indent: 1px; }

.leaflet-control-zoom-out {
  font-size: 20px; }

.leaflet-touch .leaflet-control-zoom-in {
  font-size: 22px; }

.leaflet-touch .leaflet-control-zoom-out {
  font-size: 24px; }

/* layers control */
.leaflet-control-layers {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 5px; }

.leaflet-control-layers-toggle {
  background-image: url(images/layers.png);
  width: 36px;
  height: 36px; }

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(images/layers-2x.png);
  background-size: 26px 26px; }

.leaflet-touch .leaflet-control-layers-toggle {
  width: 44px;
  height: 44px; }

.leaflet-control-layers .leaflet-control-layers-list, .leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none; }

.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative; }

.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff; }

.leaflet-control-layers-selector {
  margin-top: 2px;
  position: relative;
  top: 1px; }

.leaflet-control-layers label {
  display: block; }

.leaflet-control-layers-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px; }

/* attribution and scale controls */
.leaflet-container .leaflet-control-attribution {
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  margin: 0; }

.leaflet-control-attribution, .leaflet-control-scale-line {
  padding: 0 5px;
  color: #333; }

.leaflet-control-attribution a {
  text-decoration: none; }

.leaflet-control-attribution a:hover {
  text-decoration: underline; }

.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
  font-size: 11px; }

.leaflet-left .leaflet-control-scale {
  margin-left: 5px; }

.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 5px; }

.leaflet-control-scale-line {
  border: 2px solid #777;
  border-top: none;
  line-height: 1.1;
  padding: 2px 5px 1px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: #fff;
  background: rgba(255, 255, 255, 0.5); }

.leaflet-control-scale-line:not(:first-child) {
  border-top: 2px solid #777;
  border-bottom: none;
  margin-top: -2px; }

.leaflet-control-scale-line:not(:first-child):not(:last-child) {
  border-bottom: 2px solid #777; }

.leaflet-touch .leaflet-control-attribution, .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  box-shadow: none; }

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box; }

/* popup */
.leaflet-popup {
  position: absolute;
  text-align: center; }

.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left; }

.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4; }

.leaflet-popup-content p {
  margin: 18px 0; }

.leaflet-popup-tip-container {
  margin: 0 auto;
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden; }

.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: white; }

.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent; }

.leaflet-container a.leaflet-popup-close-button:hover {
  color: #999; }

.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd; }

.leaflet-oldie .leaflet-popup-content-wrapper {
  zoom: 1; }

.leaflet-oldie .leaflet-popup-tip {
  width: 24px;
  margin: 0 auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678); }

.leaflet-oldie .leaflet-popup-tip-container {
  margin-top: -1px; }

.leaflet-oldie .leaflet-control-zoom, .leaflet-oldie .leaflet-control-layers, .leaflet-oldie .leaflet-popup-content-wrapper, .leaflet-oldie .leaflet-popup-tip {
  border: 1px solid #999; }

/* div icon */
.leaflet-div-icon {
  background: #fff;
  border: 1px solid #666; }

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  #map .leaflet-objects-pane, #map .leaflet-marker-pane, #map .leaflet-map-pane {
    width: 100%;
    height: 100%; }
  #map .event-marker-icon {
    width: 2em !important;
    height: 2em !important;
    margin: -1em !important;
    font-size: 2.5em;
    background-size: 100%;
    background-image: url('http://redhatbrand.github.io/RedHatTemplates/templates/forum/assets/images/marker.svg'); }
  #map .event-marker-icon-current {
    width: 50% !important;
    height: 50% !important; }
    #map .event-marker-icon-current svg {
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }

#map path {
  stroke-linejoin: round;
  stroke-linecap: round;
  fill: none; }

#content {
  color: white;
  background-color: rgba(0, 0, 0, 0.85); }

.theme-light #content {
  color: #222222;
  background-color: rgba(255, 255, 255, 0.85); }

#map.leaflet-container {
  background-color: rgba(0, 0, 0, 0.6); }
#map path.road {
  stroke: #222222; }
#map path.water {
  stroke: #222222;
  fill: #222222; }

.theme-light #map.leaflet-container {
  background-color: rgba(204, 204, 204, 0.6); }
.theme-light #map path.road {
  stroke: #cccccc; }
.theme-light #map path.water {
  stroke: #cccccc;
  fill: #cccccc; }
.theme-light #map .event-marker-icon-current .text {
  fill: black !important; }

.lower-contrast.theme-light #map path.road {
  stroke: white; }
.lower-contrast.theme-light #map path.water {
  stroke: white;
  fill: white; }

.lower-contrast #map path.road {
  stroke: black; }
.lower-contrast #map path.water {
  stroke: black;
  fill: black; }

.low-contrast #map.leaflet-container {
  background-color: rgba(0, 0, 0, 0.85); }

.theme-light.low-contrast #map.leaflet-container {
  background-color: rgba(204, 204, 204, 0.85); }

.lower-contrast #map.leaflet-container {
  background-color: rgba(0, 0, 0, 0.95); }

.theme-light.lower-contrast #map.leaflet-container {
  background-color: rgba(255, 255, 255, 0.95); }

.theme-light .center-logo:before {
  content: url('/global-assets/images/logos/rh-logo-black.svg'); }

.theme-dark .center-logo .redhat-logo .logotext {
  fill: white; }

.theme-light .center-logo .redhat-logo .logotext {
  fill: black; }

.theme-dark .redhat-logo-container .redhat-logo .logotext {
  fill: white; }

.theme-light .redhat-logo-container .redhat-logo .logotext {
  fill: black; }

.theme-light .event-logo .text {
  fill: black !important; }

#map.leaflet-container {
  background-color: #222 !important; }
#map path.road {
  stroke: #111 !important; }
#map path.water {
  stroke: #111 !important;
  fill: #111 !important; }

html {
  overflow: hidden !important;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Overpass';
  overflow: hidden;
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: white;
  overflow: hidden !important; }
  body[class*="campaign"] {
    background-size: 600px 600px;
    background-position: 50% 100%; }

.background-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden; }

.brand, .campaign {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.brand, .campaign {
  display: none; }

.rh-theme-brand .brand {
  display: block; }

.rh-theme-campaign .campaign {
  display: block; }

.outer-wrapper {
  position: absolute;
  left: 1em;
  right: 1em;
  bottom: 1em;
  top: 1em; }

.text-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 6em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-hyphens: manual;
  font-weight: 500;
  text-transform: uppercase; }

.branding {
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
  height: 3em; }

.branding svg {
  height: 3em;
  min-width: 8em; }

.call-to-action {
  padding: 0.5em 0.75em;
  border: thin solid;
  text-transform: uppercase;
  line-height: 1.2em;
  display: inline-block; }

[class*="brand"][class*="campaign"] .call-to-action {
  border: none;
  background-color: #b90c20;
  color: white; }

/* 300 X 600 The base style */
.size-300-600 {
  width: 300px;
  height: 600px; }

.map-mod-300-600 .event-marker-icon-current {
  margin: 0 0 0 -9.5vw !important; }
  .map-mod-300-600 .event-marker-icon-current svg {
    width: 86vw;
    height: 86vw; }

.branding-300-600 {
  bottom: -1.2em;
  right: -1em; }
  .branding-300-600 svg {
    height: 2em;
    min-width: 7em; }

.size-300-600 .text-wrapper {
  top: 0;
  bottom: 31em;
  line-height: 2em;
  -webkit-align-items: inherit;
  -ms-flex-align: inherit;
  align-items: inherit;
  font-size: 1em; }

.size-300-600 .call-to-action {
  left: 0;
  right: 0;
  top: -2em;
  bottom: 0.5em; }

.size-300-600 .text-wrapper {
  margin-top: -1em; }
  .size-300-600 .text-wrapper .text {
    font-size: 0.7em;
    line-height: 1; }

/* 300 X 100 */
.map-mod-300-100 .event-marker-icon-current {
  margin: -2em 0 0 11vw !important; }
  .map-mod-300-100 .event-marker-icon-current svg {
    width: 40vw;
    height: 40vw; }

.size-300-100 {
  width: 300px;
  height: 100px;
  font-size: 8px;
  line-height: 1.5em; }

.size-300-100 .branding {
  width: 10em;
  height: 3.5em;
  top: auto;
  bottom: -1em;
  left: auto;
  right: -1.5em; }

.size-300-100 .branding svg {
  height: 2.5em;
  right: -0.5em; }

.size-300-100 .text-wrapper {
  top: 8.5em;
  right: 9em;
  bottom: 0; }
  .size-300-100 .text-wrapper .text {
    float: left;
    margin: -0.3em 0 0 0;
    font-size: 0.7em; }

.size-300-100 .call-to-action {
  float: left;
  margin-top: -0.4em;
  margin-left: 4px;
  font-size: 1em;
  line-height: 1em; }

/* 125 X 125 */
.map-mod-125-125 .event-marker-icon-current {
  margin: -7vw 0 0 -10vw !important; }
  .map-mod-125-125 .event-marker-icon-current svg {
    width: 77vw;
    height: 77vw; }

.size-125-125 {
  width: 125px;
  height: 125px; }

.size-125-125 .text-wrapper, .size-125-125 .call-to-action {
  display: none; }

.size-125-125 .branding-125-125 {
  right: -3.5em;
  bottom: -1em;
  height: 1.5em;
  margin-top: -0.8em; }

.size-125-125 .branding-125-125 svg {
  width: 1em;
  height: 1em; }

/* 468 X 60 */
.map-mod-468-60 .event-marker-icon-current {
  margin: 0 0 0 -2.5em !important; }
  .map-mod-468-60 .event-marker-icon-current svg {
    width: 11em;
    height: 11em; }

.size-468-60 {
  width: 468px;
  height: 60px;
  font-size: 10px;
  line-height: 1.5em; }

.size-468-60 .call-to-action {
  display: none; }

.size-468-60 .text-wrapper {
  top: -1.5em;
  left: 27em;
  right: 9em;
  bottom: auto;
  font-size: 0.8em; }

.size-468-60 .branding {
  width: 9.75em;
  height: 3.5em;
  right: -2em;
  bottom: -0.5em;
  left: auto; }

.size-468-60 .branding svg {
  width: 7em;
  height: 2.5em; }

/* 728 X 90 */
.map-mod-728 .event-marker-icon-current {
  margin: 0 0 0 -11em !important; }
  .map-mod-728 .event-marker-icon-current svg {
    height: 7em; }

.size-728-90 {
  width: 728px;
  height: 90px;
  font-size: 9px;
  line-height: 2em; }
  .size-728-90[class*="campaign"] {
    background-size: 728px 728px; }

.size-728-90 .text-wrapper {
  top: -1em;
  left: 47em;
  bottom: 0;
  right: 10em; }

.size-728-90 .call-to-action {
  float: left;
  margin-top: -0.8em;
  font-size: 1em;
  line-height: 2em; }

.size-728-90 .branding {
  right: 0em;
  bottom: 1.7em; }

.size-728-90 .branding svg {
  width: 9em;
  height: 3em; }

/* 180 X 90 */
.map-mod-180-90 .event-marker-icon-current {
  margin: -1.8em 0 0 5vw !important; }
  .map-mod-180-90 .event-marker-icon-current svg {
    width: 55vw;
    height: 55vw; }

.branding-180-90 svg {
  height: 0.5em;
  width: 1em;
  position: absolute;
  bottom: 0.5em;
  right: -0.5em; }

.size-180-90 {
  width: 300px;
  height: 100px;
  font-size: 8px;
  line-height: 1em; }

.size-180-90 .branding {
  top: auto;
  bottom: -0.5em;
  left: auto;
  right: -1em;
  width: 10em;
  height: 3.5em; }

.size-180-90 .branding svg {
  height: 2em; }

.size-180-90 .text-wrapper {
  top: 7.5em;
  right: 7em;
  bottom: 0; }
  .size-180-90 .text-wrapper .text {
    float: left;
    margin: -0.3em 0 0 0;
    font-size: 0.5em; }

.size-180-90 .call-to-action {
  float: left;
  margin-top: -0.4em;
  margin-left: 4px;
  font-size: 0.7em;
  line-height: 1.4em; }

/* 160 X 600 */
.size-160-600 {
  width: 160px;
  height: 600px;
  font-size: 12px;
  line-height: 1.5em; }

.size-160-600 .text-wrapper {
  top: 0;
  bottom: 30.6em;
  font-size: 0.7em;
  -webkit-align-items: inherit;
  -ms-flex-align: inherit;
  align-items: inherit; }

.size-160-600 .call-to-action {
  left: 0;
  right: 0;
  top: -1em;
  bottom: 0.5em; }

/* 120 X 600 */
.size-120-600 {
  width: 120px;
  height: 600px;
  font-size: 10px;
  line-height: 1.5em; }

.size-120-600 .branding svg {
  height: 3.3em; }

.size-120-600 .text-wrapper {
  top: 0;
  bottom: 30.6em;
  font-size: 0.9em;
  line-height: 2em;
  -webkit-align-items: inherit;
  -ms-flex-align: inherit;
  align-items: inherit; }

.size-120-600 .call-to-action {
  left: 0;
  right: 0;
  top: -1em;
  bottom: 0.5em;
  font-size: 1.1em; }

/* 240 X 400 */
.size-240-400 {
  width: 240px;
  height: 400px;
  font-size: 16px;
  line-height: 1.5em; }

.branding-240-400 {
  bottom: -1.2em;
  right: -1em; }
  .branding-240-400 svg {
    height: 2em;
    min-width: 7em; }

.size-240-400 .text-wrapper {
  top: -1em;
  bottom: 31em;
  font-size: 0.6em;
  line-height: 2em;
  -webkit-align-items: inherit;
  -ms-flex-align: inherit;
  align-items: inherit; }

.size-240-400 .call-to-action {
  left: 0;
  right: 0;
  top: -1em;
  bottom: 0.5em;
  font-size: 1em; }

/* 336 X 280 */
.map-mod-336-280 .event-marker-icon-current {
  margin: -2.5em 0 0 0.5vw !important; }
  .map-mod-336-280 .event-marker-icon-current svg {
    width: 65vw;
    height: 65vw; }

.size-336-280 {
  width: 336px;
  height: 280px;
  font-size: 14px; }

.size-336-280 .text-wrapper {
  top: 14em;
  right: 8em;
  bottom: 0; }
  .size-336-280 .text-wrapper .text {
    float: left;
    margin: 0 0 0 1em;
    font-size: 0.6em;
    line-height: 2em; }

.size-336-280 .call-to-action {
  float: left;
  margin-top: 0;
  bottom: 0.5em;
  font-size: 0.9em;
  line-height: 1em; }

.size-336-280 .branding {
  bottom: 0.5em;
  right: -1em; }

.size-336-280 .branding svg {
  width: 2em;
  height: 2.4em; }

/* 720 X 300 */
.map-mod-720 .event-marker-icon-current {
  margin: -3.2em 0 0 7vw !important; }
  .map-mod-720 .event-marker-icon-current svg {
    width: 50vw;
    height: 50vw; }

.size-720-300 {
  width: 720px;
  height: 300px;
  font-size: 1em; }
  .size-720-300[class*="campaign"] {
    background-size: 720px 720px; }

.size-720-300 .text-wrapper {
  top: 12em;
  right: 11.5em;
  bottom: 0; }
  .size-720-300 .text-wrapper .text {
    float: left;
    margin: 0 1em 0 1em;
    font-size: 0.8em;
    line-height: 2em; }

.size-720-300 .call-to-action {
  float: left;
  margin-top: 0;
  font-size: 1em; }

.size-720-300 .branding {
  bottom: 1em; }

.size-720-300 .branding svg {
  height: 3.5em; }

/* 120 X 90 */
.map-mod-125-125 .event-marker-icon-current {
  margin: -7vw 0 0 -8vw !important; }
  .map-mod-125-125 .event-marker-icon-current svg {
    width: 77vw;
    height: 77vw; }

.size-120-90 {
  width: 120px;
  height: 90px;
  font-size: 10px;
  line-height: 1.5em; }

.size-120-90 .text-wrapper, .size-120-90 .call-to-action {
  display: none; }

.size-120-90 .branding-125-125 {
  height: 1.5em;
  right: -2.3em;
  bottom: 0em;
  margin-top: -0.8em; }

.size-120-90 .branding-125-125 svg {
  width: 1.7em;
  height: 1.7em; }
