---
width: 100%
height: 100vh
---


<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Home | Red Hat Forum 2014</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link href='<%= baseUrl %>/templates/forum/hub/css/main.css' media='screen' rel='stylesheet' />

  </head>
  <body>

    <div class="logos">
      <img class="forum-logo" src='<%= baseUrl %>/templates/forum/hub/images/forum-logo.svg'>
      <img class="logo" src="<%= baseUrl %>/global-assets/images/logos/rh-logo.svg">
    </div>

    <ul class="events-list">
      {{#events}}
      <li class="event" data-event-id="{{ location_id }}">
        <h3 class="location">{{ location }}</h3>
        <span class="date">{{ date }}</span>
      </li>
      {{/events}}
    </ul>

    <button class="nav-toggle">
      <span>Menu</span>
      <label class="toggle-label">Locations</label>
    </button>

    <div class="rotate-container">
      <div class="rotate">
        <div class="map" id="map"></div>
      </div>
    </div>

    <div class="information">
      <h2>About</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <a class="info-toggle" href="#">About</a>

      <div class="logos">
        <img class="forum-logo" src='<%= baseUrl %>/templates/forum/hub/images/forum-logo.svg'>
        <img class="logo" src="<%= baseUrl %>/global-assets/images/logos/rh-logo.svg">
      </div>
    </div>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js'></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <script src='<%= baseUrl %>/templates/forum/hub/js/leaflet-locate.js'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/jquery.js'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/jquery.lettering.js'></script>

    <script type="text/javascript">
      window.events = [];

      {{#events}}
        var event = {};

        event['location_id'] = "{{ location_id }}";
        event['location'] = "{{ location }}";
        event['latitude'] = parseFloat("{{ latitude }}");
        event['longitude'] = parseFloat("{{ longitude }}");
        event['date'] = "{{ date }}";
        event['link'] = "{{{ link }}}";
        event['description'] = "{{{ description }}}";

        events.push(event);
      {{/events}}
    </script>
    <script src='<%= baseUrl %>/templates/forum/hub/js/main.js'></script>
  </body>
</html>
