---
title: Home | Red Hat Forum 2014
template: preview.hbt
data:
  events:
    -
      location_id: 1
      location: "Qatar"
      latitude: 25.354826
      longitude: 51.183884
      date: June 3 2014
      link: http://qatar.com
      description: Qatar lorem ipsum dolor semet.

    -
      location_id: 2
      location: "Singapore"
      latitude: 1.352083
      longitude: 103.819836
      date: June 3 2014
      link: http://singapore.com
      description: Singapore lorem ipsum dolor semet.

    -
      location_id: 3
      location: "Sydney"
      latitude: -33.8674869
      longitude: 151.2069902
      date: June 3 2014
      link: http://sydney.com
      description: Sydney lore ipsum dolor semet.

    -
      location_id: 4
      location: "Tokyo"
      latitude: 35.6894875
      longitude: 139.6917064
      date: June 3 2014
      link: http://tokyo.com
      description: Tokyo lorem ipsum dolor semet.

    -
      location_id: 5
      location: "Shanghai"
      latitude: 31.230393
      longitude: 121.473704
      date: June 3 2014
      link: http://shanghai.com
      description: Shanghai lore ipsum dolor semet.

    -
      location_id: 6
      location: "Seoul"
      latitude: 37.566535
      longitude: 126.9779692
      date: June 3 2014
      link: http://seoul.com
      description: Seoul lorem ipsum dolor semet.

    -
      location_id: 7
      location: "Chennai"
      latitude: 13.0524139
      longitude: 80.2508246
      date: June 3 2014
      link: http://chennai.com
      description: Chennai lorem ipsum dolor semet.

    -
      location_id: 8
      location: "Hong Kong"
      latitude: 22.396428
      longitude: 114.109497
      date: June 3 2014
      link: http://hongkong.com
      description: Hong Kong lorem ipsum dolor semet.

    -
      location_id: 9
      location: "Brisbane"
      latitude: -27.4710107
      longitude: 153.0234489
      date: June 3 2014
      link: http://brisbane.com
      description: Brisbane lore ipsum dolor semet.

    -
      location_id: 10
      location: "Manilla"
      latitude: 14.5995124
      longitude: 120.9842195
      date: June 3 2014
      link: http://manilla.com
      description: Manilla lorem ipsum dolor semet.

---





























