---
width: 230mm
height: 168mm
---

<!DOCTYPE html>
<html>
<head>
<meta name="charset" content="utf-8" />
<link href='<%= baseUrl %>/templates/forum/assets/stylesheets/vendor/leaflet.css?v<%= version %>' rel='stylesheet' />
<link href='<%= baseUrl %>/templates/forum/assets/stylesheets/map.css?v<%= version %>' rel='stylesheet' />
<link rel="stylesheet" type="text/css" href="<%= baseUrl %>/templates/forum/key-card-holder/css/style.css">
</head>

<body class="theme-{{ theme }}" style="width:220mm; height:158mm; padding:5mm;">
  <main style="width:210mm; height:148mm; padding:5mm;">

    <div class="front-bg-extend-red front-bg-extend-red-{{ colour-setup }}">&nbsp;</div><!--.front-bg-extend-->
    <div class="front-bg-extend-gray front-bg-extend-gray-{{ colour-setup }}">&nbsp;</div><!--.front-bg-extend-->
    <section class="front">
      <div class="red-bg red-bg-{{ colour-setup }}">
        <object data="<%= baseUrl %>/templates/forum/key-card-holder/images/background/polygon-red-4.svg" class="polygon-red-4"></object>
        <object data="<%= baseUrl %>/templates/forum/key-card-holder/images/background/polygon-red-3.svg" class="polygon-red-3"></object>
        <object data="<%= baseUrl %>/templates/forum/key-card-holder/images/background/polygon-red-2.svg" class="polygon-red-2"></object>
        <object data="<%= baseUrl %>/templates/forum/key-card-holder/images/background/polygon-red-1.svg" class="polygon-red-1"></object>
        <object data="<%= baseUrl %>/global-assets/images/category-shapes/solid-corner-triangle-hex-222222.svg" class="solid-tri-shape-222"></object>
        <object data="<%= baseUrl %>/global-assets/images/logos/rh-logo.svg" class="rh-logo"></object>
        <div class="rhf-marker-ico-contain">
          <object data="<%= baseUrl %>/global-assets/images/logos/red-hat-forum-marker.svg" class="rhf-marker-ico"></object>
        </div><!--.rhf-marker-ico-contain-->
      </div><!--.red-bg-->
      <div class="gray-bg gray-bg-{{ colour-setup }}">
        <object data="<%= baseUrl %>/global-assets/images/background-shapes/polygon-gray-4m1.svg" class="polygon-gray-4"></object>
        <object data="<%= baseUrl %>/global-assets/images/background-shapes/polygon-gray-3m1.svg" class="polygon-gray-3"></object>
        <object data="<%= baseUrl %>/global-assets/images/background-shapes/polygon-gray-2m1.svg" class="polygon-gray-2"></object>
        <object data="<%= baseUrl %>/global-assets/images/background-shapes/polygon-gray-1m1.svg" class="polygon-gray-1"></object>
        <object data="<%= baseUrl %>/global-assets/images/category-shapes/solid-corner-triangle-hex-aa0000.svg" class="solid-tri-shape-222"></object>
        <object data="<%= baseUrl %>/global-assets/images/logos/rh-logo.svg" class="rh-logo"></object>
        <div class="rhf-marker-ico-contain">
          <object data="<%= baseUrl %>/global-assets/images/logos/red-hat-forum-marker.svg" class="rhf-marker-ico"></object>
        </div><!--.rhf-marker-ico-contain-->
      </div><!--.gray-bg-->
    </section><!--.front-->

    <section class="back-gray">
      <div class="bg-back-gray bg-back-gray-{{ colour-setup }}"></div><!--.bg-back-->
      <div class="bg-back-red bg-back-red-{{ colour-setup }}"></div><!--.bg-back-->
      <div id="map"></div>
      <div class="back-cover-bg back-cover-bg-{{ colour-setup }}"></div>
      <div class="rhf-logo-contain rhf-logo-contain-gray-{{ colour-setup }}">
        <object data="<%= baseUrl %>/global-assets/images/logos/red-hat-forum-ico-black.svg" class="rhf-logo"></object>
        <h3>TEST</h3>
      </div><!--.rhf-logo-contain-->
      <div class="rhf-logo-contain-red rhf-logo-contain-red-{{ colour-setup }}">
        <object data="<%= baseUrl %>/global-assets/images/logos/red-hat-forum-ico.svg" class="rhf-logo"></object>
        <h3>TEST</h3>
      </div><!--.rhf-logo-contain-red-->
    </section><!--.back-->

    <div style="display: none" id="baseUrl" data-base-url="<%=baseUrl%>"></div>
    <div style="display: none" id="locationName" data-location-name="{{ location }}"></div>

    <!-- Params we may expose -->
    <div style="display: none" id="zoom" data-zoom="11"></div>
    <!-- /Params we may expose -->

  </main>
<div class="crop-mark top-left">&nbsp;</div>
<div class="crop-mark top-right">&nbsp;</div>
<div class="crop-mark bottom-left">&nbsp;</div>
<div class="crop-mark bottom-right">&nbsp;</div>
<script src='<%= baseUrl %>/global-assets/javascripts/vendor/jquery.js'></script>
<script src='<%= baseUrl %>/global-assets/javascripts/vendor/lodash.js'></script>
<script src='<%= baseUrl %>/global-assets/javascripts/vendor/leaflet.js'></script>
<script src='<%= baseUrl %>/global-assets/javascripts/vendor/d3.v3.min.js'></script>
<script src='<%= baseUrl %>/global-assets/javascripts/vendor/topojson.v1.min.js'></script>
<script src='<%= baseUrl %>/global-assets/javascripts/vendor/d3-topojson.js'></script>
<script src='<%= baseUrl %>/templates/forum/assets/javascripts/print-map-vector.js?v<%= version %>'></script>
</body>
</html>
