---
width: 309mm
height: 432mm
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <link href='<%= baseUrl %>/global-assets/stylesheets/print/crop-marks.css' rel='stylesheet' />

    <link href='<%= baseUrl %>/templates/forum/assets/stylesheets/vendor/leaflet.css?v<%= version %>' rel='stylesheet' />
    <link href='<%= baseUrl %>/templates/forum/assets/stylesheets/events-list.css?v<%= version %>' rel='stylesheet' />
    <link href='<%= baseUrl %>/templates/forum/registration-boards/stylesheets/main.css?v<%= version %>' rel='stylesheet' />
    <link href='http://red-hat-overpass-fonts.s3.amazonaws.com/overpass.css' rel='stylesheet' />

    <style type="text/css">
      main {
        background-image: url('{{{ background-image }}}');
        background-size: cover;
        background-repeat: no-repeat;
      }
    </style>
  </head>

  {{{ dimensions }}}
    <main class="theme-{{ theme }}">
      <!-- Design here -->
      <div id="map"></div>

      <div class="event-logo">
        <% include /templates/forum/shared-partials/forum-logo-dynamic.svg %>
      </div>

      <div class='corner-logo'>
        <% include /shared-partials/shapes/triangles-with-pattern.svg %>
        <% include /shared-partials/logos/redhat-logo.svg %>
      </div>

      <article id="content">
        <div id="text-container" class="content-half">
          <div class="text-content">
            <h1>{{ title }}</h1>
            <h2>{{ sub-title }}</h2>
          </div>
        </div>
      </article>
      <!-- /Design here -->

      <div class='crop-mark top-left' style="width: 6mm; height: 6mm"></div>
      <div class='crop-mark top-right' style="width: 6mm; height: 6mm"></div>
      <div class='crop-mark bottom-left' style="width: 6mm; height: 6mm"></div>
      <div class='crop-mark bottom-right' style="width: 6mm; height: 6mm"></div>
    </main>

    <div style="display: none" id="baseUrl" data-base-url="<%=baseUrl%>"></div>
    <div style="display: none" id="locationName" data-location-name="{{ location }}"></div>
    <div style="display: none" id="eventLogo" data-event-logo='<div />'>
    </div>
    <!-- Params we may expose -->
    <div style="display: none" id="zoom" data-zoom="12"></div>
    <!-- /Params we may expose -->

    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/jquery.js'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/lodash.js'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/leaflet.js'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/d3.v3.min.js'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/topojson.v1.min.js'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/d3-topojson.js'></script>
    <script src='<%= baseUrl %>/templates/forum/assets/javascripts/print-map-vector-full-page.js?v<%= version %>'></script>
  </body>
</html>
