#content {
  color: white;
  background-color: rgba(0, 0, 0, 0.85); }

.theme-light #content {
  color: #222222;
  background-color: rgba(255, 255, 255, 0.85); }

#map.leaflet-container {
  background-color: rgba(0, 0, 0, 0.6); }
#map path.road {
  stroke: #222222; }
#map path.water {
  stroke: #222222;
  fill: #222222; }

.theme-light #map.leaflet-container {
  background-color: rgba(204, 204, 204, 0.6); }
.theme-light #map path.road {
  stroke: #cccccc; }
.theme-light #map path.water {
  stroke: #cccccc;
  fill: #cccccc; }
.theme-light #map .event-marker-icon-current .text {
  fill: black !important; }

.lower-contrast.theme-light #map path.road {
  stroke: white; }
.lower-contrast.theme-light #map path.water {
  stroke: white;
  fill: white; }

.lower-contrast #map path.road {
  stroke: black; }
.lower-contrast #map path.water {
  stroke: black;
  fill: black; }

.low-contrast #map.leaflet-container {
  background-color: rgba(0, 0, 0, 0.85); }

.theme-light.low-contrast #map.leaflet-container {
  background-color: rgba(204, 204, 204, 0.85); }

.lower-contrast #map.leaflet-container {
  background-color: rgba(0, 0, 0, 0.95); }

.theme-light.lower-contrast #map.leaflet-container {
  background-color: rgba(255, 255, 255, 0.95); }

.theme-light .center-logo:before {
  content: url('/global-assets/images/logos/rh-logo-black.svg'); }

.theme-dark .center-logo .redhat-logo .logotext {
  fill: white; }

.theme-light .center-logo .redhat-logo .logotext {
  fill: black; }

.theme-dark .redhat-logo-container .redhat-logo .logotext {
  fill: white; }

.theme-light .redhat-logo-container .redhat-logo .logotext {
  fill: black; }

.theme-light .event-logo .text {
  fill: black !important; }
