@font-face {
  font-family: 'Overpass';
  src: url('/global-assets/fonts/overpass/overpass_bold-webfont.eot');
  src: url('/global-assets/fonts/overpass/overpass_bold-webfont.eot?#iefix') format('embedded-opentype'), url('/global-assets/fonts/overpass/overpass_bold-webfont.woff') format('woff'), url('/global-assets/fonts/overpass/overpass_bold-webfont.ttf') format('truetype'), url('/global-assets/fonts/overpass/overpass_bold-webfont.svg#overpassbold') format('svg');
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Overpass';
  src: url('/global-assets/fonts/overpass/overpass_light-webfont.eot');
  src: url('/global-assets/fonts/overpass/overpass_light-webfont.eot?#iefix') format('embedded-opentype'), url('/global-assets/fonts/overpass/overpass_light-webfont.woff') format('woff'), url('/global-assets/fonts/overpass/overpass_light-webfont.ttf') format('truetype'), url('/global-assets/fonts/overpass/overpass_light-webfont.svg#overpasslight') format('svg');
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Overpass';
  src: url('/global-assets/fonts/overpass/overpass_regular-webfont.eot');
  src: url('/global-assets/fonts/overpass/overpass_regular-webfont.eot?#iefix') format('embedded-opentype'), url('/global-assets/fonts/overpass/overpass_regular-webfont.woff') format('woff'), url('/global-assets/fonts/overpass/overpass_regular-webfont.ttf') format('truetype'), url('/global-assets/fonts/overpass/overpass_regular-webfont.svg#overpassregular') format('svg');
  font-weight: 600;
  font-style: normal; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.events-list .event {
  position: relative;
  display: block;
  margin: 0;
  text-decoration: none; }
.events-list .letter {
  fill: white; }
.events-list .location .outer-letter {
  display: block;
  position: relative;
  float: left; }
  .events-list .location .outer-letter .svgs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0.25em;
    bottom: 0; }
  .events-list .location .outer-letter svg {
    height: 91%; }
.events-list .location .outer-letter, .events-list .event .date {
  padding: 0 0.25em 0 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .events-list .location .outer-letter .space, .events-list .event .date .space {
    content: url("../images/letters/space.svg"); }
  .events-list .location .outer-letter svg text, .events-list .event .date svg text {
    font-family: 'Overpass', 'Helvetica', 'Verdana', sans-serif; }
.events-list .event .date {
  float: left;
  font-family: sans-serif;
  text-transform: uppercase;
  line-height: 1;
  color: white;
  text-align: center;
  position: relative; }
  .events-list .event .date .text-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0.25em;
    bottom: 0; }
    .events-list .event .date .text-content svg {
      width: 100%;
      height: 47%;
      display: block; }
.events-list .event .location span:after, .events-list .event .date:after {
  display: block; }
