@import '../../../../global-assets/scss/utils/grid';
@import '../../../../global-assets/scss/fonts/overpass';
@import '../../../../global-assets/scss/colors/base_color_palette';
@import '../../../../global-assets/scss/components/background_shapes';
@import '../../../../global-assets/scss/components/patterns';

$page-margin: 3em;

body {
  position: relative;
  font-family: 'Overpass';
  font-weight: 400;
  line-height: 1.6em;
  background-color: white;
  font-size: 180pt;
  box-sizing: border-box;
  overflow: hidden;

  background-size: cover;
  background-repeat: no-repeat;
}

main {
  position: absolute;
  top: 3mm; bottom: 3mm;
  left: 3mm; right: 3mm;
}

p { margin: 0.333em 0 0.75em; }
ul { 
  list-style: none; 
  padding: 0;
}
ul li { padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  line-height: 1.6em;
  text-transform: uppercase;
  font-weight: 700;
}

#content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 3mm solid transparent;
  border-left: 3mm solid transparent;
  border-right: 3mm solid transparent;
  border-bottom: 3mm solid transparent;
}

.highlighted span {
  color: $color-white;
  background: rgba(0, 0, 0, 0.8);
  padding-top: 0.25em;
  padding-bottom: 0.125em;
}
.highlighted h1 span {
  padding-top: 0.1em;
  padding-bottom: 0.05em;
}

.text-content {
  width: 50%;
  padding: $page-margin;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  text-transform: uppercase;

  h1 {
    font-size: 3em;
    line-height: 1.6em;
    margin-bottom: 0.667em;
  }

  h2 {
    font-size: 2em;
    line-height: 1.6em;
    margin-bottom: 1em;
  }

  p, ul {
    margin-bottom: 2em;
  }
}

.wider .text-content { width: 33.333%; }

$logo-ratio: 0.36437247;
$logo-width: 24em;

.branding {
  position: absolute;
  right: $page-margin;
  bottom: $page-margin;
  width: $logo-width;

  .redhat-logo {
    width: 100%;
    height: $logo-width * $logo-ratio;
    display: block;

    .logotext {
      fill: $color-white;
    }
  }
}

.wider .branding {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  width: 33.333%;

  .redhat-logo {
    height: 100%;
  }
}

.call-to-action {
  padding: 0.5em;
  padding-bottom: 0.25em;
  background-color: $color-rh-red;
  color: $color-white;
  display: inline-block;
}

.background-style-center .pattern-stripe { display: none; }

.pattern-stripe {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

