html {
  width: 12120px;
  height: 30120px;
  padding: 60px;
  font-family: "Overpass";
  color: #fff; }

body {
  width: 12000px;
  height: 30000px;
  padding: 60px;
  background: #890000; }

section {
  width: 12000px;
  height: 30000px; }

/*section*/