

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 30px 0;
    padding: 0;
}

img { vertical-align: middle; }

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea { resize: vertical; }

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/*	==========================================================================
   		redhat
   	========================================================================== */

/*	====================================
		base
	==================================== */



.pure-g > div,
.pure-g-r > div,
.pure-g > section,
.pure-g-r > section,
.pure-u {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}




/*	====================================
		layout
	==================================== */
	

body {
    margin: 0 auto 50px;
    padding: 0 20px;
    max-width: 1000px;
    min-width: 380px;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}

header {
    margin: 30px 0 60px;
    padding: 0 30px;
}


/*	====================================
		layout elements
	==================================== */


.infobox .teaser .destinationboard .pure-g {float:left;}

.infobox {
	position: relative;
	box-sizing: border-box;
	margin: 25px 0;
	padding: 7px;
	border-bottom: 2px solid #8c9091;
	background:
	linear-gradient(to bottom,  #b2b4b4 0%, #383c3d 1%, #1d1e22 100%) no-repeat border-box;
	background-position: 7px 7px;
	background-size: calc(100% - 14px) calc(100% - 14px);
	background-origin: padding-box;
	background-color: #000000;
}

.infobox:before, .infobox:after {
	content: "";
	position: absolute;
	top: -2px;
	bottom: -2px;
	width: 2px;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#8c9091));
	background-image: -webkit-linear-gradient(transparent,#8c9091);
	background-image: -moz-linear-gradient(transparent,#8c9091);
	background-image: -o-linear-gradient(transparent,#8c9091);
}

.infobox:before { left: 0; }
.infobox:after { right: 0; }


/*	====================================
		elements -> header
	==================================== */

/* header img:first-child { margin: 0 20px 20px 0; } */
header > div:last-child { position: relative; }


/*	====================================
		elements -> teaser / destinations
	==================================== */


.teaser {
	margin: 0;
/*
	min-height: 240px;
	background-size: 1106px 260px;
	background-size: 925px 240px;
*/
}

.destinationboard.tablet { display: none; }

.destinationboard > div {
	width: 32%;
	padding: 10px 0 10px 15px;
}

/*
.destinationboard > div:first-child {
	padding-left: 20px;
}
*/

.event {
    display: block;
    /* height: 44px; */
    height: 36px;
    margin: 5px 0;
    text-decoration: none;
}

.event div, .event .location span {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}


.event .date, .event .location span {
    /* width: 32px; */
    width: 26px;
    -webkit-transition: background 100ms ease-out;
	-moz-transition: background 100ms ease-out;
	-ms-transition: background 100ms ease-out;
	-o-transition: background 100ms ease-out;
	transition: background 100ms ease-out;
}


.event .date {
	margin-right: 5px;
}

.event .location span {
	margin-right: 1px;
}

.event:hover .location span,
.event:hover .date { background-color: #7cb71e; }


$unit: 6.5%;

.event .location .ir, .event .date {
	position: relative;
}
.event .location .ir:after, .event .date:after {
	content: '';
	background: url("../images/destination_sprite.svg") no-repeat scroll 0 0;
	display: block;
	position: absolute;
	width: 200%;
	height:2700%;
	left: 0;
	top: 0;
	background-size: contain;
	background-position: 0 0;
	transition:top 0.1s ease;
}

$letters: space, a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z;

$dates: june 3, june 4, june 5, june 10, june 11, june 12, june 16, june 17, june 18, june 19, june 23, june 24, june 25;



@for $i from 1 through length($letters) {
	$letter: nth($letters, $i);

	.event .location .#{$letter}:after { 
		left: 0;
		top: -(100% * ($i - 1));
	}
}

@for $n from 1 through length($dates) {
	$date: nth($dates, $n);
	$day: nth($date, 2);
	$month: nth($date, 1);

	.event .date.#{$month}_#{$day}:after { 
		left: -100%;
		top: -(100% * ($n - 1));
	}
}


/*	====================================
		elements -> content
	==================================== */



.pure-u-1{
	padding-left: 30px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.pure-u-5-6{
	padding-left: 30px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/*	====================================
		plugins
	==================================== */
	

.border-top{
	border-top:1px solid #fff;
}
.border-bottom{
	border-bottom:1px solid #fff;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */


@media only screen and (max-width:1000px) {
	
	body { width: 700px; }
	.destinationboard.desktop { display: none; }
	.destinationboard.tablet { display: block; }
	.destinationboard > div { width:50%; }

	
	.pure-u-5-6 .content { padding-right: 70px; }
	.pure-u-1 { padding-right: 30px; }
	
}
@media only screen and (max-width:767px) {
	
	body { width: 380px; }
	.content { padding: 0; }
	.pure-u-5-6 .content { padding: 0; }
	.pure-u-1 .content { padding: 0; }
	
	.destinationboard > div { width:100%; }
	.destinationboard > div:nth-child(1) { padding-bottom: 0; }
	.destinationboard > div:nth-child(2) { padding-top: 0; }


}




@-ms-viewport {
	width: device-width;
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }


    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }


    @page {
        margin: 0.5cm;
    }

}