/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 90pt; }

body {
  position: relative;
  color: white;
  font-family: Overpass; }

main {
  position: absolute;
  left: 6mm;
  right: 6mm;
  top: 6mm;
  bottom: 6mm;
  padding: 4rem 2rem; }

.main-header {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  left: 2rem; }

.main-header_logo_red-hat .logotext {
  fill: white; }

.main-header {
  font-size: 0; }
  .main-header > * {
    font-size: 1rem; }

.main-header_logo_event, .main-header_logo_red-hat {
  width: 50%;
  display: inline-block;
  vertical-align: top; }

.main-header_logo_event img {
  display: block; }

.main-header_logo_red-hat svg {
  width: 80%;
  height: 100%;
  display: block;
  float: right; }

.main-text {
  margin-bottom: 1.5em; }

.main-text_title {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 3.25em;
  line-height: 1em;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  padding: 0.05em 0.125em; }

.main-text_call-to-action {
  font-weight: 300;
  background-color: white;
  display: inline-block;
  color: black;
  line-height: 1.5em;
  font-size: 1.25em;
  padding: 0.25em 0.6em 0.125em; }


.secondary-text_dates {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2em;
  line-height: 1.25em; }

.secondary-text_location {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.25em; }
