<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Airport Testimonials Posters</title>
  <style>
    body { margin: 0; }
    article {
      padding: 0.5em;
    }
    .preview {
      display: inline-block;
      vertical-align: top;
      margin: 0.5em;
    }
    .preview-frame { border: 0; }
  </style>
</head>
  <body>
    <article>
      
      <div class='preview' style='height: 422mm; width: 309mm'>
        <iframe class='preview-frame' data-xml-url="http://redhatbrand.github.io/RedHatTemplates/templates/bangalore/testimonial-poster/testimonial-poster-a3.html" height='100%' width='100%'></iframe>
      </div>
      
      <div class='preview' style='height: 1812mm; width: 1212mm'>
        <iframe class='preview-frame' data-xml-url="http://redhatbrand.github.io/RedHatTemplates/templates/bangalore/testimonial-poster/testimonial-poster-mupi.html" height='100%' width='100%'></iframe>
      </div>
      
      <div id="data" data-template-data="{&quot;background-image&quot;:&quot;https://d3s84xo5cmutkt.cloudfront.net/assets/attachments/000/002/880/original/Red_Hat_-_Jim_Totton.jpg?1409031684&quot;,&quot;background-style&quot;:&quot;corner&quot;,&quot;quote&quot;:&quot;&lt;p&gt;\&quot;When we&#x27;re dealing with a customer, the longest part of the sales cycle is getting the customer comfortable with the security of the platform in the cloud. When we say Red Hat, it clicks with the customer and shuts off half of their security questions\&quot;&lt;/p&gt;&quot;,&quot;name&quot;:&quot;MITCH NELSON&quot;,&quot;info&quot;:&quot;Director of Managed Services for enterprise, Adobe Systems&quot;}"></div>
    </article>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
    <script src="http://redhatbrand.github.io/RedHatTemplates/global-assets/javascripts/previews.js" type="text/javascript"></script>
  </body>
</html>
