<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Airport Testimonials Posters</title>
  <style>
    body { margin: 0; }
    article {
      padding: 0.5em;
    }
    .preview {
      display: inline-block;
      vertical-align: top;
      margin: 0.5em;
    }
    .preview-frame { border: 0; }
  </style>
</head>
  <body>
    <article>
      <div class='preview' style='height: 1812mm; width: 1212mm'>
        <iframe class='preview-frame' data-xml-url="http://redhatbrand.github.io/RedHatTemplates/templates/bangalore/testimonial-poster/testimonial-poster-mupi.html" height='100%' width='100%'></iframe>
      </div>
      <div class='preview' style='height: 422mm; width: 309mm'>
        <iframe class='preview-frame' data-xml-url="http://redhatbrand.github.io/RedHatTemplates/templates/bangalore/testimonial-poster/testimonial-poster-a3.html" height='100%' width='100%'></iframe>
      </div>
      <div id="data" data-template-data="{&quot;background-image&quot;:&quot;https://d3s84xo5cmutkt.cloudfront.net/assets/attachments/000/002/880/original/Red_Hat_-_Jim_Totton.jpg?1409031684&quot;,&quot;background-style&quot;:&quot;corner&quot;,&quot;quote&quot;:&quot;&lt;h2&gt;\&quot;Quisque eget odio ac lectus vestibulum faucibus eget in metus.&lt;/h2&gt; &lt;p&gt;In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent\&quot;&lt;/p&gt;&quot;,&quot;name&quot;:&quot;Name Goes Here&quot;,&quot;info&quot;:&quot;Title and company goes here&quot;,&quot;brand-pattern&quot;:&quot;corporate&quot;}"></div>
    </article>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
    <script src="http://redhatbrand.github.io/RedHatTemplates/global-assets/javascripts/previews.js" type="text/javascript"></script>
  </body>
</html>
