@import "../../../../../global-assets/scss/reset";
@import "../../../../../global-assets/scss/colors/base_color_palette";
@import "../../../../../global-assets/scss/colors/flat_color_themes";
@import '../../../../../global-assets/stylesheets/general/rh-logo';
@import '../../../assets/stylesheets/map';
@import '../../../assets/stylesheets/colors';

body {
  margin: 0;
  font-family: "Overpass"; color: #fff;
  main {
    position: absolute;
    top: 3mm; bottom: 3mm;
    left: 3mm; right: 3mm;
  }
}
