body {
  position: relative;
  font-family: 'Overpass';
  font-weight: 400;
  line-height: 1.4em;
  background-color: white;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  color: white; }

.text-content {
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 3%;
  text-transform: uppercase;
  font-weight: 600; }
  .text-content h2 {
    line-height: 1.3em; }
  .text-content p {
    width: 15em;
    line-height: 1.2em; }

.background-shapes.center {
  position: absolute;
  bottom: 0;
  right: 0;
  left: -0.25em;
  top: -0.5em;
  width: 81.5vw;
  height: 50vw; }
  .background-shapes.center .shape-center {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
    .background-shapes.center .shape-center > svg {
      width: 100%;
      height: 100%; }

.background-shapes.bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 71.5vw;
  height: 50vw; }
  .background-shapes.bottom .corner-shape-bottom {
    position: absolute;
    bottom: 0;
    right: 0; }
    .background-shapes.bottom .corner-shape-bottom.small {
      top: 0;
      left: 0; }
    .background-shapes.bottom .corner-shape-bottom > svg {
      width: 100%;
      height: 100%; }
  .background-shapes.bottom .pattern-stripe {
    width: 160vw;
    height: 3em;
    position: absolute;
    left: 70%;
    top: 0;
    -webkit-transform: translate(-50%, -121.25%) rotate(-45deg);
    -ms-transform: translate(-50%, -121.25%) rotate(-45deg);
    transform: translate(-50%, -121.25%) rotate(-45deg); }
    .background-shapes.bottom .pattern-stripe svg {
      stroke: #1171b8;
      display: block; }

.branding {
  position: absolute;
  right: 4%;
  bottom: 40%; }
  .branding .red-hat {
    width: 10em;
    display: inline-block;
    margin-right: 1.75em;
    border-right: 2px solid white;
    padding-right: 1.54em; }
  .branding .intel {
    display: inline-block; }
    .branding .intel img {
      width: 6em; }
  .branding.boxed {
    bottom: 20%; }

.action {
  position: absolute;
  right: 4%;
  bottom: 20%; }
  .action .button {
    background: white;
    color: #1171b8;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5em 0.8em;
    font-weight: 600;
    border: 2px solid white; }
    .action .button:hover {
      background: none;
      color: white; }
  .action.boxed {
    bottom: 10%; }

.boxed.center {
  width: 100%;
  height: 100%; }
.boxed.bottom {
  width: 100%;
  height: 100%; }
  .boxed.bottom .corner-shape-bottom {
    width: 103%; }
  .boxed.bottom .corner-shape-bottom.pattern {
    top: 0;
    left: 0; }
  .boxed.bottom .pattern-stripe {
    width: 200%;
    top: 42%;
    left: 53.5%;
    height: 2em; }

.facebook-share-template .boxed.bottom .corner-shape-bottom {
  width: 101.5%; }
.facebook-share-template .boxed.bottom .pattern-stripe {
  top: 27%;
  left: 69%; }

.twitter-cover-template .corner-shape-bottom .pattern-stripe {
  height: 2em;
  left: 70.5%; }

.twitter-share-template .boxed.bottom .corner-shape-bottom {
  width: 101%; }
.twitter-share-template .boxed.bottom .pattern-stripe {
  top: 42%;
  left: 55.5%; }

.youtube-cover-template .background-shapes.center {
  width: 100%;
  height: 102%; }
.youtube-cover-template .background-shapes.bottom {
  width: 80vw;
  height: 80vw; }
  .youtube-cover-template .background-shapes.bottom .pattern-stripe {
    height: 2em;
    top: 50%;
    left: 50%; }
