body.layout-small {
  font-size: 9pt; }
  body.layout-small .text-content h2 {
    font-size: 9pt; }
  body.layout-small .text-content p {
    font-size: 12pt; }

body.layout-default {
  font-size: 14pt; }
  body.layout-default .text-content h2 {
    font-size: 12pt; }
  body.layout-default .text-content p {
    font-size: 18pt; }

body.layout-medium {
  font-size: 18pt; }
  body.layout-medium .text-content h2 {
    font-size: 14pt; }
  body.layout-medium .text-content p {
    font-size: 24pt; }

body.layout-big {
  font-size: 24pt; }
  body.layout-big .text-content h2 {
    font-size: 18pt; }
  body.layout-big .text-content p {
    font-size: 24pt; }

body.layout-large {
  font-size: 40pt; }
  body.layout-large .text-content h2 {
    font-size: 40pt; }
  body.layout-large .text-content p {
    font-size: 48pt; }
