---
width: 5103px
height: 7158px
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <link href='<%= baseUrl %>/global-assets/stylesheets/print/crop-marks.css' rel='stylesheet' />
    <link href='<%= baseUrl %>/templates/forum/wayfinding/a2/stylesheets/main.css' rel='stylesheet' />
    <style>
      /*.leaflet-tile-pane:before { background-image: url({{{ background-image }}}); }*/
    </style>
  </head>

  <body style="width: 5103px; height: 7158px; padding: 35.5px;">
    <main style="width: 5032px; height: 7087px;  padding: 35.5px;">
      <!-- Finished, cropped area = 4961px x 7016px. 35.5px = 3mm bleed -->

    <!-- Design here -->

    <div class="background">
      <svg height='100%' style='position: relative' version='1.0' width='100%' xmlns:svg='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'>
        <style>
          body { margin: 0 }
        </style>
        <defs>
          <filter height='1' id='f1' width='1' x='0' y='0'>
            <feImage height='100%' preserveAspectRatio='xMidYMid slice' result='shape1' width='100%' x='0' xlink:href='/global-assets/images/category-shapes/solid-center-bar-corporate.svg' y='0'></feImage>
            <feBlend in2='shape1' in='SourceGraphic' mode='multiply' result='SG_shape1'></feBlend>
          </filter>
        </defs>
        <image filter='url(#f1)' height='100%' preserveAspectRatio='xMidYMid slice' width='100%' x='0' xlink:href='{{{ image }}}' y='0'></image>
      </svg>
    </div>

    <div class="title">
      <h1>{{ heading }}</h1>
      <h2>{{ sub-heading }}</h2>
    </div>

    <div class="directional-arrow">
      <h3>{{{ direction }}}</h3>
    </div>



      <!-- /Design here -->

      <div class='crop-mark top-left'></div>
      <div class='crop-mark top-right'></div>
      <div class='crop-mark bottom-left'></div>
      <div class='crop-mark bottom-right'></div>
    </main>

    <div style="display: none" id="baseUrl" data-base-url="<%=baseUrl%>"></div>
    <div style="display: none" id="locationName" data-location-name="{{ location }}"></div>
    <!-- Params we may expose -->
    <div style="display: none" id="zoom" data-zoom="14"></div>
    <div style="display: none" id="offsetLatitude" data-offset-lat="0"></div>
    <div style="display: none" id="offsetLongitude" data-offset-lon="0.14"></div>
    <!-- /Params we may expose -->

    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/jquery.js'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/lodash.js'></script>
  </body>
</html>
