html{
  width:12120px; height:30120px; padding:60px;
  font-family:"Overpass"; color:#000;
}

body{
  width:12000px; height:30000px; padding:60px;
  background:#fff;
}

.content-option-icon-icon,
.content-option-info-info{display:block !important;}

.content-option-icon-info,
.content-option-icon-blank,
.content-option-info-blank,
.content-option-info-icon{display:none !important;}

.show-hide-gray-bg-show{display:block;}
.show-hide-gray-bg-hide{display:none;}

section{
  width:inherit; height:inherit;
	.content-contain{
		position: absolute;
		.rhf_info{
			width:100%; padding:9% 0 0 0;
			display:block;
			p.text-1{
				width:75%; margin:auto;
				font-size:42.25em;
			}
			p.text-2{
				width:75%; margin:auto;
				padding-top:7%;
				font-size:29.75em;
			}
			ul.text-3{
				list-style-type:disc;
				width:75%; margin:auto;
				padding:7% 0 0 5%;
				font-size:21.88em;
			}
		}
		.rhf-logo-icon{
			width:500em; padding:10% 0 0 0;
			display:block;
			.rhf-logo-icon-contain{
				width:336.7em; margin:auto;
				object{
					width:336.7em; height:auto;
				}
			}
		}
	}
	.gray-bg{
		width:765em; height:1890em;
		position:absolute; z-index:-1; margin:-7.5em 0 0 -7.5em;
		background:#e1e1e1;
		overflow:hidden;
		object.polygon-gray-1{
			width:274.35%; height:auto;
			position:absolute; z-index:-1; margin:8.17% 0 0 -82.35%;
			opacity:0.3;
		}
		object.polygon-gray-2{
			width:185.62%; height:auto;
			position:absolute; z-index:-1; margin:-29.74% 0 0 -102.94%;
			opacity:0.35;
		}
		object.polygon-gray-3{
			width:311.44%; height:auto;
			position:absolute; z-index:-1; margin:125.72% 0 0 -16.34%;
			opacity:0.7;
		}
		object.polygon-gray-4{
			width:171.98%; height:auto;
			position:absolute; z-index:-1; margin:-86.91% 0 0 0;
			opacity:0.3;
		}
	}
} /*section*/
