---
width: 100%
height: 100vh
---


<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Home | Red Hat Forum 2014</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1">

    <link href='<%= baseUrl %>/templates/forum/events-list/css/main.css' media='screen' rel='stylesheet'>

  </head>
  <body>
    <header>
      <div class="infobox teaser destinationboard">
        <div class="event-columns">
          {{#events}}
          <a class="event clearfix" href="{{{ link }}}" target="_blank">
            <div class="date">{{date}}</div>
            <div class="location">{{ location }}</div>
          </a>
          {{/events}}
        </div>
      </div>
    </header>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/jquery.js'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/jquery.lettering.js'></script>
    <script src='<%= baseUrl %>/templates/forum/events-list/js/main.js'></script>
  </body>
</html>
