---
width: 100%
height: 100vh
---


<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Home | Red Hat Forum 2014</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1" />

    <link href='<%= baseUrl %>/templates/forum/events-list/css/main.css' media='screen' rel='stylesheet' />

  </head>
  <body>
    {{#events}}
    <a class="event clearfix" href="{{{ link }}}" target="_blank">
      <div class="date">
        <div class="space"></div>
        <div class="text-content">
          <svg class="month" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 18">
            <text fill="white" x="50%" y="12.5" font-size="9" text-anchor="middle">
              {{ day }}
            </text>
          </svg>
          <svg class="month" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 18">
            <text fill="white" x="50%" y="12.5" font-size="9" text-anchor="middle">
              {{ month }}
            </text>
          </svg>
        </div>
      </div>
      <div class="location clearfix">{{ location }}</div>
    </a>
    {{/events}}

    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/jquery.js'></script>
    <script src='<%= baseUrl %>/global-assets/javascripts/vendor/jquery.lettering.js'></script>
    <script src='<%= baseUrl %>/templates/forum/events-list/js/main.js'></script>
  </body>
</html>
