---
title: Home | Red Hat Forum 2014
template: preview.hbt
data:
  events:
    -
      location: Qatar
      day: 3
      month: JUN
      link: http://link.com
      latitude:
      longitude:
      description: Lorem

    -
      location: Singapore
      day: 3
      month: JUN
      link: http://link.com
      latitude:
      longitude:
      description: Lorem

    -
      location: Sydney
      day: 3
      month: JUN
      link: http://link.com
      latitude:
      longitude:
      description: Lorem
---
