---
{
  "title": "Airport Testimonials Posters",
  "data": {
    "background-image": "https://d3s84xo5cmutkt.cloudfront.net/assets/attachments/000/002/880/original/Red_Hat_-_Jim_Totton.jpg?1409031684",
    "background-style": "corner",
    "quote": "<p>\"When we're dealing with a customer, the longest part of the sales cycle is getting the customer comfortable with the security of the platform in the cloud. When we say Red Hat, it clicks with the customer and shuts off half of their security questions\"</p>",
    "name": "MITCH NELSON",
    "info": "Director of Managed Services for enterprise, Adobe Systems"
  }
}
---

