---
{
  "title": "Airport Testimonials Posters",
  "data": {
    "background-image": "https://d3s84xo5cmutkt.cloudfront.net/assets/attachments/000/002/880/original/Red_Hat_-_Jim_Totton.jpg?1409031684",
    "background-style": "corner",
    "quote": "<h2>\"Quisque eget odio ac lectus vestibulum faucibus eget in metus.</h2> <p>In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent\"</p>",
    "name": "Name Goes Here",
    "info": "Title and company goes here",
    "brand-pattern": "storage"
  }
}
---

