html{
  width:12120px; height:30120px; padding:60px;
  font-family:"Overpass"; color:#fff;
}

body{
  width:12000px; height:
  30000px; padding:60px;
  background:#890000;
}

.content-option-icon-icon{display:block !important;}
.content-option-icon-info{display:none !important;}

.content-option-info-icon{display:none !important;}
.content-option-info-info{display:block !important;}

section{
  width:12000px; height:30000px;
  .gray-bottom-bar{
    width:12240px; height:3730px;
    position:absolute; margin:26390px 0 0 -120px;
    text-indent:-999999px;
    background:#222;
  }
	.red-bg{
		width:12240px; height:30240px;
		position:absolute; z-index:-1; margin:-120px 0 0 -120px;
		overflow:hidden;
		object.polygon-red-1{
			width:33580px; height:auto;
			position:absolute; z-index:-1; margin:1000px 0 0 -10080px;
			opacity:0.2;
		}
		object.polygon-red-2{
			width:22720px; height:auto;
			position:absolute; z-index:-1; margin:-3640px 0 0 -12600px;
			opacity:0.3;
		}
		object.polygon-red-3{
			width:38120px; height:auto;
			position:absolute; z-index:-1; margin:15388px 0 0 -2000px;
			opacity:0.5;
		}
		object.polygon-red-4{
			width:21050px; height:auto;
			position:absolute; z-index:-1; margin:-10638px 0 0 0;
			opacity:1;
		}
	}
	.content-contain{
		position: absolute;
		.rhf_info{
			width:12000px; padding:1060px 0 0 0;
			p.text-1{
				width:9000px; margin:auto;
				font-size:676px;
			}
			p.text-2{
				width:9000px; margin:auto;
				padding-top:800px;
				font-size:476px;
			}
			ul.text-3{
				list-style-type:disc;
				width:9000px; margin:auto;
				padding:800px 0 0 500px;
				font-size:350px;
			}
		}
		.rhf-logo-icon{
			width:12000px; padding:1060px 0 0 0;
			h3{
				width:6000px;
				position:absolute; margin:-1387px 0 0 5400px;
				font-size:526px;
			}
			.rhf-logo-icon-contain{
				width:8850px; margin:auto;
				object{
					width:8850px; height:auto;
				}
			}
		}
	}
} /*section*/
